@model List<TrueBooksMVC.Models.BankReconcilVM>
@{
    ViewBag.Title = "Bank Reconciliation";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    
}
<style>
    tfoot {
        display: table-header-group;
    }

    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 765px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>

<script type="text/javascript">


    $(document).ready(function () {
          var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        function GetCurrentDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }

        function GetStartDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date("@Session["FyearFrom"].ToString()");
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }

        $("#frmdate").val(GetStartDate());
        $("#todate").val(GetStartDate());




        $("#frmdate").css("border-radius", "5px");
        $("#todate").css("border-radius", "5px");

        $("#frmdate").datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
            minDate: sd,
            maxDate: ed,


        });



        $("#todate").datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
            minDate: sd,
            maxDate: ed,

        });

        $("select").css({ "border-radius": "5px" });
        $(":text").css({ "border-radius": "5px" });
        $(".VDate").prop("disabled", true);
        // $(".VDate").val('');

        //$(".chkselected").change(function () {
        //    if ($(".chkselected").is(':checked')) {
        //        $(this).parent("td").parent("tr").find(".VDate").attr("disabled", false);
        //    }
        //    else {
        //        $(this).parent("td").parent("tr").find(".VDate").attr("disabled", true);
        //    }
        //});
        //$(".VDate").datepicker({
        //    dateFormat: 'dd-M-yy', maxDate: '0',
        //    changeYear: true, changeMonth: true,
        //}).val('');


        $('#dataTables tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:90%" />');
        });

        $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });


        $("#btnsearch").click(function () {
            var from = $("#frmdate").val();
            var dto = $("#todate").val();
                var achead = $("#BankHead option:selected").val();

                $.ajax({
                    url: "@Url.Action("ShowBankReconciliation", "AccountingModule")",
                    data: { acheadid: achead, from: from, to: dto },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        $("#result").html(data.view);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });

         });

    });

</script>

<section class="content-header">
    <h1 class="headingfont">Bank Reconciliation</h1>

</section>

<section class="content">
    @if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4><i class="icon fa fa-check"></i>Alert!</h4>
            <div id="divFinalMsg">@ViewBag.SuccessMsg</div>
        </div>
    }
    <div class="searchdiv">
        <div class="row no-margin">
            <div class="col-md-12">
                <label class="required headinglabel">
                    Bank Account
                </label>
                @Html.DropDownList("BankHead", new SelectList(@ViewBag.Data, "AcHeadID", "AcHead"), "Select", new { @class = "form-control" })
            </div>
        </div>
        <div class="row no-margin" style="padding-top:10px">

            <div class="col-md-6">
                <label class="headinglabel required"> From Date</label>
                <input type="text" id="frmdate" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="headinglabel required"> To Date</label>
                <input type="text" id="todate" class="form-control" />
            </div>
        </div>
        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-12 butdivs">
                <input type="button" id="btnsearch" value="Search" class="btn btn-primary btnwidth" />
            </div>
        </div>
    </div>

    <div class="row no-margin" style="padding-top:20px">
        <div class="col-md-12 " id="result" style="padding-top:20px">

        </div>
    </div>
</section>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure? You want to Delete Country?")) {
            window.location.href = "/AccountingModule/DeleteAcCategory/?id=" + ID;
        }
    }
</script>
