@model DAL.AnalysisHead
@{
    ViewBag.Title = "AnalysisGroup";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<script type="text/javascript">
        $(document).ready(function () {
           
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });


            $("#btnsave").click(function () {
                var acgroup = $("#AnalysisGroupID option:selected").val();
                var head = $("#AnalysisHead1").val();
                var code = $("#AnalysisCode").val();
             



                if (acgroup == "") {
                    $("#alert").show();
                    return false;
                }
                else if (head == "") {
                    $("#alert").show();
                    return false;
                }
                else if (code == "") {
                    $("#alert").show();
                    return false;
                }
             
                else {
                    $("#alert").hide();
                    return true;
                }
            });

          
        });
    </script>
<section class="content-header">
    <h1 class="headingfont">Analysis Head</h1>

</section>


<section class="content">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
       
         <div class="row no-margin"> 
             
             <div class="col-md-3">
                          <label class="required headinglabel">Analysis Group</label>
                       @Html.DropDownListFor(model => model.AnalysisGroupID, new SelectList(ViewBag.groups,"AnalysisGroupID","AnalysisGroup"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AnalysisGroupID)
                            
             </div>
             <div class="col-md-3">
                          <label class="required headinglabel">Analysis Head</label>
                         @Html.TextBoxFor(model => model.AnalysisHead1,new { @class = "form-control" })
                         @Html.ValidationMessageFor(model => model.AnalysisHead1)
                          
             </div>
               <div class="col-md-3">
                          <label class="required headinglabel">Analysis Code</label>
                         @Html.TextBoxFor(model => model.AnalysisCode,new { @class = "form-control" })
                         @Html.ValidationMessageFor(model => model.AnalysisCode)
                          
             </div>
            
       </div>

       
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                           
                                <input type="submit"  value="Save"  class="btn btn-primary btnwidth" id="btnsave" />
                               
                            &nbsp; 
                                           <a href='@Url.Action("IndexExpenseAnalysisHead", "AccountingModule", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                           
                        </div>
                    </div>

       
    </fieldset>
}
    </section>
