@model DAL.AcHeadAssign
@{
    ViewBag.Title = "Account Head Assign";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<script type="text/javascript">
        $(document).ready(function () {
           
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });


            $("#btnsave").click(function () {
                var prov = $("#ProvisionCostControlAcID option:selected").val();
                var accrued = $("#AccruedCostControlAcID option:selected").val();
                var openjob = $("#OpenJobRevenueAcID option:selected").val();
                var customer = $("#CustomerControlAcID option:selected").val();
                var cash = $("#CashControlAcID option:selected").val();
                var supplier = $("#SupplierControlAcID option:selected").val();

                if (prov == "") {
                    $("#alert").show();
                    return false;
                }
                else if (accrued == "") {
                    $("#alert").show();
                    return false;
                }
                else if (openjob == "") {
                    $("#alert").show();
                    return false;
                }
                else if (customer == "") {
                    $("#alert").show();
                    return false;
                }
                else if (cash == "") {
                    $("#alert").show();
                    return false;
                }
                else if (supplier == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }

            });
      
        });
    </script>
<section class="content-header">
    <h1 class="headingfont">Account Head Assign</h1>

</section>


<section class="content">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <div id="alert" style="color:red;display:none;margin-left:10px;">*Please select mandatory fields</div>
    <fieldset>
       
         <div class="row no-margin"> 
             
             <div class="col-md-3">
                          <label class="required headinglabel">Provision Cost Control Head</label>
                       @Html.DropDownListFor(model => model.ProvisionCostControlAcID, new SelectList(ViewBag.provisionheads,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.ProvisionCostControlAcID)
                            
             </div>
             <div class="col-md-3">
                          <label class="required headinglabel">Accrued Cost Control</label>
                            @Html.DropDownListFor(model => model.AccruedCostControlAcID, new SelectList(ViewBag.accruedcost,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AccruedCostControlAcID)
                          
             </div>
               <div class="col-md-3">
                          <label class="required headinglabel">Open Job Revenue</label>
                       @Html.DropDownListFor(model => model.OpenJobRevenueAcID, new SelectList(ViewBag.openjobrevenue,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.OpenJobRevenueAcID)
             </div>
            
       </div>

          <div class="row no-margin" style="padding-top:10px"> 
              <div class="col-md-3">
                          <label class="required headinglabel">Customer Control</label>
                       @Html.DropDownListFor(model => model.CustomerControlAcID, new SelectList(ViewBag.custmorcontrol,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.CustomerControlAcID)
                          
             </div>

                 <div class="col-md-3">
                          <label class="required headinglabel">Cash Control</label>
                       @Html.DropDownListFor(model => model.CashControlAcID, new SelectList(ViewBag.cashcontrol,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.CashControlAcID)
                          
             </div>

                 <div class="col-md-3">
                          <label class="required headinglabel">Supplier Control</label>
                       @Html.DropDownListFor(model => model.SupplierControlAcID, new SelectList(ViewBag.controlacid,"AcHeadID","AcHead"),"Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.SupplierControlAcID)
                          
             </div>
          </div>

       
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                           
                                <input type="submit"  value="Save"  class="btn btn-primary btnwidth" id="btnsave" />
                               
                            &nbsp; 
                                           <a href='@Url.Action("IndexAcHeadAssign", "AccountingModule", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                           
                        </div>
                    </div>

       
    </fieldset>
}
    </section>
