@model TrueBooksMVC.Models.AcGroupVM
@{
    ViewBag.Title = "AcGroup";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 765px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>

<script type="text/javascript">
        $(document).ready(function () {
           
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });
             $.notify("@ViewBag.ErrorMsg ", "danger");

         
            //var catid = $("#AcCategoryID option:selected").val();
            //$.ajax({
            //    url: '/AccountingModule/GetGroupsByID',
            //    type: "GET",
            //    dataType: "JSON",
            //    data: { Category: catid },
            //    success: function (groups) {
                   
            //        //$.each(groups, function (i, group) {
            //        //    $("#AcGroup1").append(
            //        //        $('<option></option>').val(group.AcGroupID).html(group.AcGroup));
            //        //});

            //        $.each(data, function (index, value) {
            //            $('#CityID').append('<option value="' + value.CityID + '">' + value.City + '</option>');
            //        });
            //    }
            //});


            $("#AcGroup").change(function () {
                var thisval = $(this).val();
                if (thisval == null || thisval == "") {

                } else {
                    $.ajax({
                        url: '/AccountingModule/GetAcCategoryByParentid',
                        type: "GET",
                        dataType: "JSON",
                        data: { parentId: $(this).val() },
                        success: function (groups) {
                            $("#AcCategoryID").val(groups);

                        }
                    });
                }
            });

            //$("#AcCategoryID").change(function () {
            //    $("#AcGroup").empty('');
            //    $("#AcGroup").append("<option value=0>Select</option>");
            //    var catid = $("#AcCategoryID option:selected").val();
            //    $.ajax({
            //        url: '/AccountingModule/GetGroupsByID',
            //        type: "GET",
            //        dataType: "JSON",
            //        data: { Category: catid },
            //        success: function (groups) {
                       
            //            $.each(groups, function (index, value) {
            //                $('#AcGroup').append('<option value="' + value.AcGroupID + '">' + value.AcGroup + '</option>');
            //            });
            //        }
            //    });
            //});


            $("#btnsave").click(function () {
                var cat = $("#AcCategoryID option:selected").val();
                var subgrp = $("#subgroup").val();
                var code = $("#GroupCode").val();





                if (cat == "") {
                    $("#alert").show();
                    return false;
                }
                else
                    if (subgrp == "") {
                    $("#alert").show();
                    return false;
                }
                //else if (code == "") {
                //    $("#alert").show();
                //    return false;
                //}
                else {
                    $("#alert").hide();
                    return true;
                }
            });
        });
    </script>
<section class="content-header">
    <h1 class="headingfont">Account Groups</h1>

</section>


<section class="content">

@using (Html.BeginForm()) {
  @*  @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
      
    *@

   
    <div class="searchdiv  sm-width">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <fieldset>

            <div class="row no-margin">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="required headinglabel">Group Name</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.subgroup, new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.subgroup)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="headinglabel">Group Code</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.GroupCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GroupCode)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="headinglabel">Parent Group</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.AcGroup, new SelectList(ViewBag.groups, "AcGroupID", "AcGroup"), "Select", new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group row" >
                    <div class="col-md-3">
                        <label class="required headinglabel">Account Type</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.AcTypeId, new SelectList(ViewBag.AccountType, "Id", "AccountType"), "Select", new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AcTypeId)

                    </div>
                </div>


              

             


            </div>




            <div class="row no-margin" style="padding-top:10px">
                <div class="col-md-12" style="text-align:right;padding:10px;">

                    <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                    &nbsp;
                    @if (Convert.ToInt32(@Session["AcgroupPage"].ToString()) == 1)
                    {
                        <a href='@Url.Action("IndexAcGroup", "AccountingModule", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                    }
                    else
                    {
                        <a href='@Url.Action("CreateAcHead", "AccountingModule", new { frmpage = Convert.ToInt32(@Session["AcgroupPage"].ToString()) })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                    }

                </div>
            </div>


        </fieldset>
    </div>
}
    </section>
