@model DAL.AcHead
@{
    ViewBag.Title = "AcHead";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
         var Acgrpid = '@ViewBag.AcgroupId';
        if (Acgrpid == 0 || Acgrpid == null || Acgrpid == "") {

        } else {
            $("#AcGroupID").val(Acgrpid);
        }

        $("#btnsave").click(function () {
            var acgroup = $("#AcGroupID option:selected").val();
            var head = $("#AcHead1").val();
            var code = $("#AcHeadKey").val();
            var prefix = $("#Prefix").val();




            if (acgroup == "") {
                $("#alert").show();
                return false;
            }
            else if (head == "") {
                $("#alert").show();
                return false;
            }
         
            else {
                $("#alert").hide();
                return true;
            }
        });


    });
</script>
<section class="content-header">
    <h1 class="headingfont">Chart Of Accounts</h1>

</section>


<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
       
    <div class="searchdiv sm-width">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <fieldset>

            <div class="row no-margin">
				
				<div class="form-group row">
                    <div class="col-md-3">
                    <label class="required headinglabel">Account Name</label>
					</div>
					<div class="col-md-9">
                    @Html.TextBoxFor(model => model.AcHead1, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.AcHead1)
				</div>
				
                </div>
				
               
              
				<div class="form-group row">
					<div class="col-md-3">
						<label class=" headinglabel">Account Code</label>
						</div>
						<div class="col-md-9">
						@Html.TextBoxFor(model => model.AcHeadKey, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.AcHeadKey)

					</div>

              
            </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="required headinglabel">Parent Group</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.AcGroupID, new SelectList(ViewBag.groups, "AcGroupID", "AcGroup"), new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AcGroupID)
                    </div>
                    <div class="col-md-1">
                        <a href="/AccountingModule/CreateAcGroup?frmpage=2"><i style="font-size: 37px;color:#07a7e3;" class="fa fa-plus-circle"></i></a>

                    </div>
                </div>
				


            <div class="row no-margin" style="padding-top:10px">
                <div class="" style="text-align:right;padding:10px">

                    <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                    &nbsp;
                    @if (Convert.ToInt32(@Session["AcheadPage"].ToString()) == 1)
                    {
                        <a href='@Url.Action("IndexAcHead", "AccountingModule", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                    }
                    else
                    {
                        <a href='@Url.Action("Create", "RevenueType", new { acheadid = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                    }
                </div>
            </div>


        </fieldset>
    </div>
            }
    </section>
