@model DAL.AcHeadControl
@{
    /**/

    ViewBag.Title = "Account Head Control";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var pagecontrol = ViewBag.PageControl as List<DAL.PageControlMaster>;
    var controlField = ViewBag.Remarks as List<DAL.PageControlField>;
    var Achead = ViewBag.AccountHeadID as List<DAL.AcHead>;
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        $("#btnsave").click(function () {
       var prov = $("#Pagecontrol option:selected").val();
                var accrued = $("#AccountHeadID option:selected").val();
                var openjob = $("#AccountNature option:selected").val();
                var customer = $("#Remarks option:selected").val();
                //var cash = $("#CashControlAcID option:selected").val();
                var supplier = $("#AccountName").val();

                if (prov == "") {
                    $("#alert").show();
                    return false;
                }
                else if (accrued == "") {
                    $("#alert").show();
                    return false;
                }
                else if (openjob == "") {
                    $("#alert").show();
                    return false;
                }
                else if (customer == "") {
                    $("#alert").show();
                    return false;
                }
                //else if (cash == "") {
                //    $("#alert").show();
                //    return false;
                //}
                else if (supplier == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }


        });

    });
</script>
<section class="content-header">
    <h1 class="headingfont">Account Head Control</h1>

</section>


<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id);
        <div class="searchdiv">
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please select mandatory fields</div>
            <fieldset>

                <div class="row no-margin">

                    <div class="col-md-4">
                        <label class="required headinglabel">Page Control</label>
                        @*@Html.DropDownListFor(model => model.Pagecontrol, new SelectList(ViewBag.Pagecontrol, "ID", "Name"), "Select", new { @class = "form-control txttarget" })*@
                        @*@Html.DropDownListFor(model => model.Pagecontrol, ViewBag.Pagecontrol as SelectList, "Select", new { @class = "form-control txttarget", @value=Model.Pagecontrol })*@
                        <select class="form-control txttarget" id="Pagecontrol" name="Pagecontrol">
                            @foreach (var item in pagecontrol)
                            {
                                if (item.Id == Model.Pagecontrol)
                                {
                                    <option value="@item.Id" selected>@item.ControlName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.ControlName</option>

                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Pagecontrol)

                    </div>
                    <div class="col-md-4">
                        <label class="required headinglabel">Account Control Head</label>
                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AccountName)

                    </div>
                    <div class="col-md-4">
                        <label class="required headinglabel">Account Head</label>
                        @*@Html.DropDownListFor(model => model.AccountHeadID, new SelectList(ViewBag.AccountHeadID, "AcHeadID", "AcHead"), "Select", new { @class = "form-control txttarget" })*@
                        @Html.ValidationMessageFor(model => model.AccountHeadID)
                        <select class="form-control txttarget" id="AccountHeadID" name="AccountHeadID">
                            @foreach (var item in Achead)
                            {
                                if (item.AcHeadID == Model.AccountHeadID)
                                {
                                    <option value="@item.AcHeadID" selected>@item.AcHead1</option>
                                }
                                else
                                {
                                    <option value="@item.AcHeadID">@item.AcHead1</option>

                                }
                            }
                        </select>
                    </div>

                </div>

                <div class="row no-margin" style="padding-top:10px">
                    <div class="col-md-4">
                        <label class="required headinglabel">Account Nature</label>
                        @*@Html.DropDownListFor(model => model.AccountNature, new SelectList(ViewBag.AccountNature, "ID", "Name"), "Select", new { @class = "form-control txttarget" })*@
                        <select class="form-control txttarget" id="AccountNature" name="AccountNature">
                            <option value="">Select</option>
                            @if (Model.AccountNature == true)
                            {
                                <option value=True selected>Debit</option>
                                <option value=False>Credit</option>
                            }
                            else
                            {
                                <option value=True>Debit</option>
                                <option value=False selected>Credit</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.AccountNature)

                    </div>

                    <div class="col-md-4">
                        <label class="required headinglabel">Field</label>
                     
                        @*@Html.DropDownListFor(model => model.Remarks, ViewBag.Remarks as SelectList, "Select", new { @class = "form-control txttarget" })*@
                        <select class="form-control txttarget" id="Remarks" name="Remarks">
                            @if (Model.Remarks == 0)
                            {
                                <option value="0" selected>Sum</option>

                            }
                            else
                            {
                                <option value="0">Sum</option>

                            }@foreach (var item in controlField)
                            {
                                if (item.Id == Model.Remarks)
                                {
                                    <option value="@item.Id" selected>@item.FieldName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.FieldName</option>

                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Remarks)

                    </div>


                </div>


                <div class="row no-margin" style="padding-top:10px">
                    <div class="col-md-12 butdivs">

                        <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                        &nbsp;
                        <a href='@Url.Action("IndexAcHeadAssign", "AccountingModule", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                    </div>
                </div>


            </fieldset>
        </div>
    }
</section>
<script>
    $("#Pagecontrol").change(function () {
        var id = $(this).val();
        if (id != null || id != "") {
            $("#Remarks").empty();
            $.get("/AccountingModule/GetPageControlFields", { id: id }, function (data) {
                if (data.length > 0) {
                    var v = "<option value=0>Sum</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                    });
                    $("#Remarks").html(v);
                } else {
                    var v = "<option value=0>Sum</option>";
                    $("#Remarks").html(v);
                };
            });
        } else {
            $("#Remarks").empty();

        }
    });
</script>
