@model List<TrueBooksMVC.Models.BankReconcilVM>

@{
    Layout = null;
    var isadd = true;
    var ismodify = true;

    string path = "/AccountingModule/BankReconcilation";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}



<style>
    .back {
        background-color: red;
        color: white;
    }

     tfoot {
    display: table-header-group;
    }
</style>

@*<script src="~/Content/jQuery-2.1.3.min.js"></script>*@

 
<script type="text/javascript">
    
     $(document).ready(function () {

         $(".VDate").prop("disabled", true);
          $(".VDate").val('');

         $(".chkselected").change(function () {
             if ($(".chkselected").is(':checked')) {
                 $(this).parent("td").parent("tr").find(".VDate").attr("disabled", false);
             }
             else {
                 $(this).parent("td").parent("tr").find(".VDate").attr("disabled", true);
             }
         });
         $(".VDate").datepicker({
             dateFormat: 'dd-M-yy', maxDate: '0',
             changeYear: true, changeMonth: true,
         }).val('');



         $('#dataTables-example tfoot th').each(function () {
             var title = $(this).text();
             $(this).html('<input type="text"  style="width:90%" />');
         });


         var table = $('#dataTables-example').DataTable();
        
         table.draw();
         table.columns().every(function () {
             var that = this;

             $('input', this.footer()).on('keyup change', function () {
                 if (that.search() !== this.value) {
                     that
                         .search(this.value)
                         .draw();
                 }
             });
         });
     });

    
</script>


<div class="table-responsive" style="padding:10px;background-color:white">
        @using (@Html.BeginForm())
        {
            <div class="col-md-12 table-responsive">
            <table class="table table-bordered" id="dataTables-example">
                <thead>
                    <tr>
                        <th></th>
                        <th>Value Date</th>
                        <th>Voucher No</th>
                        <th>Voucher Date</th>
                        <th>Account</th>
                        <th>Cheque No</th>
                        <th>Cheque Date</th>
                         <th>Amount</th>
                        <th>Party Name</th>
                        <th>Remark</th>
                        

                    </tr>
                </thead>

                 <tfoot>
                    <tr>
                        <th></th>
                        <th>Value Date</th>
                        <th>Voucher No</th>
                        <th>Voucher Date</th>
                        <th>Account</th>
                        <th>Cheque No</th>
                        <th>Cheque Date</th>
                         <th>Amount</th>
                        <th>Party Name</th>
                        <th>Remark</th>
                        

                    </tr>
                </tfoot>

              
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    { 
                        <tr>
                            <td>
                                @Html.CheckBoxFor(model => Model[i].IsSelected, new { @class = "chkselected" })
                                @Html.HiddenFor(model => Model[i].AcBankDetailID)
                              
                                @Html.HiddenFor(ite => Model[i].ChequeNo)
                                @Html.HiddenFor(ite => Model[i].ChequeDate)
                                @Html.HiddenFor(ite => Model[i].PartyName)
                                @Html.HiddenFor(ite => Model[i].StatusTrans)
                            </td>
                             <td>@Html.TextBoxFor(model => Model[i].ValueDate, new { @class = "VDate" })</td>
                             <td>@Model[i].VoucherNo</td>
                                 <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@Model[i].VoucherDate)</td>
                            <td>@Model[i].AcHead</td>
                            <td style="text-align:right">@Model[i].ChequeNo</td>
                            <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@Model[i].ChequeDate)</td>
                                 <td style="text-align:right">@string.Format("{0:n2}", @Model[i].Amount)</td>
                            <td>@Model[i].PartyName</td>
                            <td>@Model[i].Remarks</td>
                           


                        </tr> 
          
                    }
                     <tr>
                    <td colspan="10">
                        @if (isadd || ismodify)
                        {
                        <input type="submit" class="btn btn-primary" value="Save" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-primary" value="Save" disabled />
                        }
                    </td>
                </tr>

                </tbody>
               


            </table>
                </div>
        }
    </div>