@model IEnumerable<DAL.AcGroupSelectAll_Result>
@{
    ViewBag.Title = "IndexAcGroup";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
     tfoot {
            display: table-header-group;
     }
        </style>



<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });

</script>
<section class="content-header">
    <h1 class="headingfont">Account Groups</h1>

</section>
<p class="indexbtnpadding">
    @Html.ActionLink("Create New", "CreateAcGroup",null,new {@class="btn btn-primary btnwidth"})
</p>
<section class="content">
       @if (ViewBag.SuccessMsg != null)
       {
     <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.SuccessMsg ", "success");
         });
                                                </script>
       }

     @if (ViewBag.ErrorMsg != null)
    {
     <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.ErrorMsg ", "danger");
         });
                                                </script>
    }
<div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">
    <thead>
    <tr>
        
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Group")
        </th>
        <th>
            @Html.Label("Sub Group")
        </th>
      
        <th>Action</th>
    </tr>
</thead>
    <tfoot>
    <tr>
        
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Group")
        </th>
        <th>
            @Html.Label("Sub Group")
        </th>
      
        <th style="display:none">Action</th>
    </tr>
</tfoot>
    <tbody>
@foreach (var item in Model) {
    <tr>
      
        <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.AcCategory)
        </td>
     @*   <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.ParentNode)
        </td>*@
        <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.AcGroup)
        </td>
          <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.ParentNode)
        </td>
       
        <td>
           @*  @Html.ActionLink("Edit", "Edit", new { id=item.CountryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryID })*@

            <a href="@Url.Action("EditAcGroup", new { id = item.AcGroupID })"><i class="fa fa-pencil"></i></a> |
@*<a href="@Url.Action("Delete", new { id = item.CountryID })"><i class="fa fa-times"></i></a>*@
            <a href="#" onclick="Delete(ID=@item.AcGroupID)"><i class="fa fa-times"></i></a>

        </td>
    </tr>
}
<//tbody>
</table>
</div>
    </section>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Account Group?")) {
            window.location.href = "/AccountingModule/DeleteAcGroup/?id=" + ID;
        }
    }
</script>

