@model TrueBooksMVC.Models.YearEndProcessVM
@{
    ViewBag.Title = "YearEndProcess";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    #timeline {
        list-style-type: none;
        display: inline;
    }

    .litem {
        display: inline-block;
        height: 25px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #008080;
        color: white;
        font-weight: bold;
        margin-right: 6px;
        line-height: 22px;
    }


    .active {
        background-color: #A64D4D;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        var timelineItems = ["Current Year", "New Year", "Accounts-Year End", "Year End", "Finish"];
        var item = 0;

        fLen = timelineItems.length;

        for (i = 0; i < fLen; i++) {
            $("#timeline").append("<li class='litem'>" + timelineItems[i] + "</li>");
        }

        $(".litem").first().addClass("active");

        //$("#GroupCode").empty('');
        //var catid = $("#AcCategoryID option:selected").val();
        //$.ajax({
        //    url: '/AccountingModule/GetGroupsByID',
        //    type: "GET",
        //    dataType: "JSON",
        //    data: { Category: catid },
        //    success: function (groups) {
        //        $("#City").html(""); // clear before appending new list
        //        $.each(groups, function (i, group) {
        //            $("#GroupCode").append(
        //                $('<option></option>').val(group.AcGroupID).html(group.AcGroup));
        //        });
        //    }
        //});




        //$("#AcCategoryID").change(function () {
        //    $("#GroupCode").empty('');
        //    var catid = $("#AcCategoryID option:selected").val();
        //    $.ajax({
        //        url: '/AccountingModule/GetGroupsByID',
        //        type: "GET",
        //        dataType: "JSON",
        //        data: { Category: catid },
        //        success: function (groups) {
        //            $("#City").html(""); // clear before appending new list
        //            $.each(groups, function (i, group) {
        //                $("#GroupCode").append(
        //                    $('<option></option>').val(group.AcGroupID).html(group.AcGroup));
        //            });
        //        }
        //    });
        //});

        function NextItem() {
            $("#timeline").find(".litem").eq(item).removeClass("active");
            item = item + 1;
            $("#timeline").find(".litem").eq(item).addClass("active");
        }

        function PrevItem() {
            $("#timeline").find(".litem").eq(item).removeClass("active");
            item = item - 1;
            $("#timeline").find(".litem").eq(item).addClass("active");
        }



        $("#WNewYear").hide();
        $("#AcYearEnd").hide();
        $("#YearEnd").hide();
        $("#Finish").hide();
        $("#btnNextYear").click(function () {
            debugger;
            var fyear = $("#CurrentFYearFrom").val();
            var eyear = $("#CurrentFYearTo").val();
            debugger;
            $.ajax({
                url: '/AccountingModule/GetNewFYear',
                data: { cFyearFrom: $("#CurrentFYearFrom").val(), cFyearTo: $("#CurrentFYearTo").val() },
                type: "GET",
                dataType: "JSON",
                success: function (data) {

                    $("#NewFYearFrom").val(data.NewFYearFrom);
                    $("#NewFYearTo").val(data.NewFYearTo);
                    $("#Reference").val(data.Reference);

                    $("#WCurrentYear").hide();
                    $("#WNewYear").show();

                }
            });



            NextItem();
        });

        $("#btnPrevYear").click(function () {
            $("#WCurrentYear").show();
            $("#WNewYear").hide();

            PrevItem();
        });


        $("#btnOpenHead").click(function () {
            $.ajax({
                url: '/AccountingModule/BindOpenHead',
                data: { NewYearFrom: $("#NewFYearFrom").val(), NewYearTo: $("#NewFYearTo").val(), ref1: $("#Reference").val() },
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $("#WNewYear").hide();
                    $("#AcYearEnd").show();

                    for (var i = 0; i < data.length; i++) {
                        var sno = parseInt(i + 1);
                        debugger;
                        var OpBalance = parseFloat(0).toFixed(2);
                        var balance = parseFloat(0).toFixed(2);
                        if (data[i].OpBal != null) {
                            OpBalance = parseFloat(data[i].OpBal).toFixed(2);
                        }
                        if (data[i].Balance != null) {
                            balance = parseFloat(data[i].Balance).toFixed(2);
                        }
                        var RowHtml = '<tr><td>' + sno + '</td><td>' + data[i].AcHead + '</td><td>' + OpBalance + '</td><td>' + balance + '</td></tr>';
                        $("#acyearendtable").find("tbody").append(RowHtml);
                    }

                }
            });

            NextItem();
        });
        $("#btnYearEnd").click(function () {



            $.ajax({
                url: '/AccountingModule/BindPLOpenBalance',
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $("#AcYearEnd").hide();
                    $("#YearEnd").show();
                    $("#yearendtable").find("tbody").empty();

                    for (var i = 0; i < data.length; i++) {
                        var sno = parseInt(i + 1);
                        var drcr = "";
                        var balance = parseFloat(0).toFixed(2);
                        if (data[i].Balance != null) {
                            balance = parseFloat(data[i].Balance).toFixed(2);
                        }

                        if (parseInt(balance) >= 0) {
                            drcr = "Dr";
                        }
                        if (parseInt(balance) < 0) {
                            drcr = "Cr";
                        }

                        var RowHtml = '<tr><td>' + sno + '</td><td>' + drcr + '</td><td>' + data[i].AcHead + '</td><td>' + balance + '</td></tr>';
                        $("#yearendtable").find("tbody").append(RowHtml);
                    }

                }
            });
            NextItem();

        });

        $("#btnPrevNewYear").click(function () {
            $("#WNewYear").show();
            $("#AcYearEnd").hide();

            PrevItem();
        });

        $("#btnFinishNext").click(function () {
            $.ajax({
                url: '/AccountingModule/BindPLOpenBalanceFinish',
                data: { reference: $("#Reference").val() },
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $("#Finish").show();
                    $("#YearEnd").hide();
                    if (data.success == true) {
                        $("#FinishMessage").addClass('text-success');
                        document.getElementById('FinishMessage').innerHTML = '<i class="fa fa-check-circle"> &nbsp;' + data.message;

                    } else {
                        $("#FinishMessage").addClass('text-danger')
                        document.getElementById('FinishMessage').innerHTML = '<i class="fa fa-times"> &nbsp;' + data.message;

                    }

                    for (var i = 0; i < data.bal.length; i++) {
                        var sno = parseInt(i + 1);
                        var drcr = "";
                        var balance = parseFloat(0).toFixed(2);
                        if (data.bal[i].Balance != null) {
                            balance = parseFloat(data.bal[i].Balance).toFixed(2);
                        }

                        if (parseInt(balance) >= 0) {
                            drcr = "Dr";
                        }
                        if (parseInt(balance) < 0) {
                            drcr = "Cr";
                        }

                        var RowHtml = '<tr><td>' + sno + '</td><td>' + drcr + '</td><td>' + data.bal[i].AcHead + '</td><td>' + balance + '</td></tr>';
                        $("#Finishtable").find("tbody").append(RowHtml);
                    }


                }
            });

            NextItem();
        });

        $("#btnPrevYearend").click(function () {
            $("#AcYearEnd").show();
            $("#YearEnd").hide();

            PrevItem();
        });
        $("#btnPrevYear_end").click(function () {
            $("#Finish").hide();
            $("#YearEnd").show();

            PrevItem();
        });
        $("#btnFinish").click(function () {
            location.href = '/Home/Home'
        });
    });
</script>
<section class="content-header">
    <h1 class="headingfont">
        Year End Processs
    </h1>

</section>


<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="row no-margin" style="padding-bottom:20px;">
                <div class="col-md-12">
                    <ul id="timeline"></ul>
                </div>
            </div>

            <div class="row no-margin" id="WCurrentYear">

                <div class="col-md-3">
                    <label class="required headinglabel">Current Year From</label>
                    @Html.TextBoxFor(model => model.CurrentFYearFrom, new { @class = "form-control", @Value = @ViewBag.currentFyearFrom })


                </div>
                <div class="col-md-3">
                    <label class="required headinglabel">Current Year To</label>
                    @Html.TextBoxFor(model => model.CurrentFYearTo, new { @class = "form-control", @Value = @ViewBag.currentFyearTo })

                </div>
                <div class="col-md-3 col-md-offset-3" style="padding-top:22px">
                    @if (isadd || ismodify)
                    {
                        <input type="button" id="btnNextYear" value="Next" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="button" id="btnNextYear" value="Next" class="btn btn-primary" disabled />

                    }

                </div>

            </div>

            <div class="row no-margin" id="WNewYear">

                <div class="col-md-3">
                    <label class="required headinglabel">New Year From</label>
                    @Html.TextBoxFor(model => model.NewFYearFrom, new { @class = "form-control" })


                </div>
                <div class="col-md-3">
                    <label class="required headinglabel">New Year To</label>
                    @Html.TextBoxFor(model => model.NewFYearTo, new { @class = "form-control" })

                </div>
                <div class="col-md-3">
                    <label class="required headinglabel">Reference</label>
                    @Html.TextBoxFor(model => model.Reference, new { @class = "form-control" })

                </div>
                <div class="col-md-3" style="padding-top:22px">
                    <input type="button" id="btnPrevYear" value="Prev" class="btn btn-primary" />  &nbsp;&nbsp<input type="button" id="btnOpenHead" value="Next" class="btn btn-primary" />


                </div>

            </div>
            <div class="row no-margin" id="AcYearEnd">

                <div class="col-md-9" id="tableopenhead">
                    <label class="headinglabel">Account Year End</label>

                    <table class="table table-bordered" id="acyearendtable">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Account Head</th>
                                <th>Opening Balance</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

                <div class="col-md-3" style="padding-top:22px">
                    <input type="button" id="btnPrevNewYear" value="Prev" class="btn btn-primary" />  &nbsp;&nbsp<input type="button" id="btnYearEnd" value="Next" class="btn btn-primary" />


                </div>

            </div>

            <div class="row no-margin" id="YearEnd">

                <div class="col-md-9" id="tableYearend">
                    <label class="headinglabel"> Year End</label>

                    <table class="table table-bordered" id="yearendtable">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Dr/Cr</th>
                                <th>Account Head</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

                <div class="col-md-3" style="padding-top:22px">
                    <input type="button" id="btnPrevYearend" value="Prev" class="btn btn-primary" />  &nbsp;&nbsp<input type="button" id="btnFinishNext" value="Next" class="btn btn-primary" />


                </div>

            </div>
            <div class="row no-margin" id="Finish">

                <div class="col-md-9" id="tablefinish">
                    <span class="" style="font-weight:bold" id="FinishMessage"></span>

                    <table class="table table-bordered" id="Finishtable">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Dr/Cr</th>
                                <th>Account Head</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

                <div class="col-md-3" style="padding-top:22px">
                    <input type="button" id="btnPrevYear_end" value="Prev" class="btn btn-primary" />  &nbsp;&nbsp<input type="button" id="btnFinish" value="Finish" class="btn btn-primary" />


                </div>

            </div>




        </fieldset>
    }
</section>
