@model DAL.SupplierTypeMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .headinglabel {
        font-size: 16px;
        color: #2b2929 !important;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#SupplierType").focus();
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#btnsave").click(function () {
            if ($("#SupplierType").val() == "") {
                $("#alert").show();
                return false;

            }
            else {
                $("#alert").hide();
                return true;
            }
        });
    });
</script>

@if (ViewBag.SuccessMsg != null)
{
    <script type="text/javascript">
          $(document).ready(function () {
              $.notify("@ViewBag.SuccessMsg", "success");
          });
    </script>
}
<section class="content-header">
    <h1 class="headingfont">Supplier Type</h1>
</section>

<section class="content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <div class="searchdiv">
            <fieldset>


                @* <div class="editor-label">
                        @Html.LabelFor(model => model.RoleID)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RoleID)
                        @Html.ValidationMessageFor(model => model.RoleID)
                    </div>*@

                <div class="row no-margin">
                    <div class="col-md-6">
                        <label class="required headinglabel">Supplier Type</label>

                        @Html.TextBoxFor(model => model.SupplierType, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.SupplierType)
                    </div>
                    <div class="col-md-6">
                        <label class="headinglabel">Code</label>

                        @Html.TextBoxFor(model => model.SupplierCode, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.SupplierCode)
                    </div>
                </div>

                <div class="row no-margin" style="padding-top:10px">
                    <div class="col-md-12 butdivs">
                        <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />



                        &nbsp;

                        <a href='@Url.Action("SupplierType", "Supplier")' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </div>
    }

</section>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
