@model IEnumerable<DAL.Transporter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
 <style>
     tfoot {
            display: table-header-group;
     }
        </style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
 </script>


<section class="content-header">
    <h1 class="headingfont">Transporter</h1>

</section>

<p class="indexbtnpadding">
    @if (isadd) {
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
    }
</p>
<section class="content">
     @if (ViewBag.SuccessMsg != null)
    {
      <script type="text/javascript">
          $(document).ready(function () {
              $.notify("@ViewBag.SuccessMsg", "success");
             });
                                                </script>   
    }
<div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">
    <thead>
        <tr>
        <th>
            @Html.Label("Transporter Name")
        </th>
        @*<th>
            @Html.Label("Transporter code")
        </th>*@
        <th>
            @Html.Label("Contact Person")
        </th>
       
        <th>
            @Html.Label("Contact No")
        </th>
      
        <th>
            @Html.Label("Email")
        </th>
       
       @* <th>
            @Html.Label("Status Active")
        </th>*@
        <th>
            Action
        </th>
      
    </tr>
    </thead>

    <tfoot>
         <tr>
        <th>
            @Html.Label("Transporter Name")
        </th>
        @*<th>
            @Html.Label("Transporter code")
        </th>*@
        <th>
            @Html.Label("Contact Person")
        </th>
       
        <th>
            @Html.Label("Contact No")
        </th>
      
        <th>
            @Html.Label("Email")
        </th>
       
       @* <th>
            @Html.Label("Status Active")
        </th>*@
        <th style="display:none">
            Action
        </th>
      
    </tr>
    </tfoot>

<tbody>
    @foreach (var item in Model) {
    <tr>
        <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.TransPorter1)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.ReferenceCode)
        </td>*@
        <td class="tdtarget">
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
      
        <td style="text-align:right">
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
       @* <td>
            @Html.DisplayFor(modelItem => item.StatusActive)
        </td>*@
      
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TransPorterID }) |*@
          @*  @Html.ActionLink("Details", "Details", new { id=item.TransPorterID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TransPorterID })*@
            @if (ismodify) {
             <a href="@Url.Action("Edit", new { id = item.TransPorterID })"><i class="fa fa-pencil"></i></a>
            }
            |

            @*<a href="@Url.Action("Delete", new { id = item.TransPorterID })"><i class="fa fa-times"></i></a>*@
            @if (isdelete)
            {
            <a href="#" onclick="Delete(ID=@item.TransPorterID)"><i class="fa fa-times"></i></a>
            }
        </td>
    </tr>
}
</tbody>

</table>
</div>
    </section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Transporter?")) {
            window.location.href = "/Transporter/DeleteConfirmed/?id=" + ID;
        }
    }
</script>