@model IEnumerable<TrueBooksMVC.Models.MenuRoleVM>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    tfoot {
        display: table-header-group;
    }

    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }

    td.details-control img {
        padding: 5px;
        /* background: url('/Content/img/details_open.png') no-repeat center center;
        cursor: pointer;*/
    }

    tr.shown td.details-control img {
        padding: 5px;
        /* background: url('/Content/img/details_close.png') no-repeat center center; */
    }

    td.details-control1 img {
        padding: 5px;
        /* background: url('/Content/img/details_open.png') no-repeat center center;
        cursor: pointer;*/
    }

    tr.shown td.details-control1 img {
        padding: 5px;
        /* background: url('/Content/img/details_close.png') no-repeat center center; */
    }

    .btn-sm {
        font-size: 13px !important;
        height: 28px !important;
        line-height: 27px !important;
        padding: 0 !important;
        min-width: 65px !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {



        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });
        var table1;

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });



    function format(d) {
        // `d` is the original data object for the row
        var JournalDetailId = d[3];
        var RoleId = d[4];
        var Role = d[1];
        var DataHtml = '';


        $.ajax({
            type: "POST",
            url: "/Role/GetSubmenuByParentId",
            datatype: "Json",
            data: { ParentId: JournalDetailId, RoleId: RoleId },
            success: function (data) {
                DataHtml = '<table class="table table-striped table-bordered tblfont subtable" id=SubMenutable_' + JournalDetailId + '_' + RoleId+'>';
                DataHtml = DataHtml + '<thead><tr><th style=width:20%>Menu</th><th style=width:20%>Role</th><th style=width:10%>View</th><th style=width:10%>Add</th><th style=width:10%>Modify</th><th style=width:10%>Delete</th><th style=width:40%>Print</th><th style=display:none></th><th style=display:none></th></tr></thead>';
                DataHtml = DataHtml + '<tbody>';
                $.each(data, function (index, value) {
                    var isview = "";
                    var isadd = "";
                    var ismodify = "";
                    var isdelete = "";
                    var isprint = "";
                    if (value.access.IsView) {
                        isview = "checked";
                    }
                    if (value.access.IsAdd) {
                        isadd = "checked";
                    }
                    if (value.access.IsModify) {
                        ismodify = "checked";
                    }
                    if (value.access.IsDelete) {
                        isdelete = "checked";
                    }
                    if (value.access.Isprint) {
                        isprint = "checked";
                    }
                    DataHtml = DataHtml + '<tr id=Tr_' + value.menu.MenuID + '_' + RoleId + '><td class="details-control1"><img src="/Content/img/details_open.png" id="plus_minus" style="cursor: pointer;" />' + value.menu.Title + '</td><td>' + Role + '</td><td><input type=checkbox class=View onclick=IsparentView(' + value.menu.MenuID + ',' + RoleId + ') id=View_' + value.access.MenuAccessID + '  ' + isview + ' /></td><td><input type=checkbox class=Add onclick=IsparentAdd(' + value.menu.MenuID + ',' + RoleId + ')  id=Add_' + value.access.MenuAccessID + '  ' + isadd + ' /></td><td><input type=checkbox class=Modify onclick=IsparentModify(' + value.menu.MenuID + ',' + RoleId + ')  id=Modify_' + value.access.MenuAccessID + '  ' + ismodify + ' /></td><td><input type=checkbox class=Delete onclick=IsparentDelete(' + value.menu.MenuID + ',' + RoleId + ')  id=Delete_' + value.access.MenuAccessID + '  ' + isdelete + ' /></td><td><input type=checkbox class=Print onclick=IsparentPrint(' + value.menu.MenuID + ',' + RoleId + ')  id=Print_' + value.access.MenuAccessID + '  ' + isprint + ' />  &nbsp;<button type=button onclick=ClearAll(' + value.menu.MenuID + ',' + RoleId + ') class=\"btn btn-danger btn-sm\" >Clear All</button> &nbsp;<button type=button style=display:none id=SaveAll_' + value.menu.MenuID + '_' + RoleId + ' onclick=SaveAll(' + value.menu.MenuID + ',' + RoleId + ') class=\"btn btn-primary btn-sm\" >Save</button><button type=button style=display:none id=CloseAll_' + value.menu.MenuID + '_' + RoleId + ' onclick=CloseAll(' + value.menu.MenuID + ',' + RoleId + ') class=\"btn btn-primary btn-sm\" >Close</button></td><td style=display:none>' + value.menu.MenuID + '</td><td style=display:none>' + value.access.RoleID + '</td></tr>';


                });
                DataHtml = DataHtml + '</tbody>';

                DataHtml = DataHtml + '</table>';
                $('#pr_' + JournalDetailId + '_' + RoleId).append(DataHtml);
                table1 = $('#SubMenutable_' + JournalDetailId + '_' + RoleId).DataTable({ "bPaginate": false, "bFilter": false, "bInfo": false });
                var tid = '#SubMenutable_' + JournalDetailId + '_' + RoleId;

                $(tid+' tbody').on('click', 'td.details-control1', function () {
                    var tr = $(this).closest('tr');
                    //var trid = tr[0].id;
                    var row = table1.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        var rdata = row.data();
                        tr.removeClass('shown');
                        $(this).find('img').attr('src', '/Content/img/details_open.png');
                        document.getElementById("CloseAll_" + rdata[7] + '_' + rdata[8]).style.display = 'none';

                    }
                    else {
                        // Open this row
                        row.child(format1(row.data())).show();
                        tr.addClass('shown');
                        $(this).find('img').attr('src', '/Content/img/details_close.png');
                    }
                });
                var array = @Html.Raw(Json.Encode(@ViewBag.Roles));
                for (var a = 0; a < array.length; a++) {
            if (RoleId == array[a].RoleID) {

            } else {
                var rowid = RoleId + ' _' + JournalDetailId;
                $('#dataTables-example > tbody  > tr.parentrow').each(function () {
                    if (this.id == rowid) {

                    } else {
                        var hascls = $(this).hasClass('shown');
                        if (hascls) {

                            var nexttr = $(this).closest('tr').next('tr');
                            nexttr.hide();
                            $(this).removeClass('shown');
                            $(this).find('img').attr('src', '/Content/img/details_open.png');
                        }
                    }
                });


                        }
        }
            }
        });

        return '<p id="pr_' + JournalDetailId + '_' + RoleId +'"></p>';
        }

        function format1(d) {
            var JournalDetailId = d[7];
            var RoleId1 = d[8];
            var Role = d[1];
            var DataHtml = '';
            $.ajax({
                type: "POST",
                url: "/Role/GetSubmenuByParentId",
                datatype: "Json",
                data: { ParentId: JournalDetailId, RoleId: RoleId1 },
                success: function (data) {
                    if (data.length > 0) {
                        DataHtml = '<table class="table secsubtable" id=SecSubMenutable_' + JournalDetailId + '_' + RoleId1 + '>';
                        DataHtml = DataHtml + '<thead><tr><th style=width:20%>Menu</th><th style=width:20%>Role</th><th style=width:10%>View</th><th style=width:10%>Add</th><th style=width:10%>Modify</th><th style=width:10%>Delete</th><th style=width:10%>Print</th><th style=display:none></th><th style=display:none></th></tr></thead>';
                        DataHtml = DataHtml + '<tbody>';
                        $.each(data, function (index, value) {
                            document.getElementById("CloseAll_" + JournalDetailId + '_' + RoleId1).style.display = 'inline';

                            //$("#CloseAll_" + JournalDetailId + '_' + RoleId1).css('display', 'block');
                            var isview = "";
                            var isadd = "";
                            var ismodify = "";
                            var isdelete = "";
                            var isprint = "";
                            if (value.access.IsView) {
                                isview = "checked";
                            }
                            if (value.access.IsAdd) {
                                isadd = "checked";
                            }
                            if (value.access.IsModify) {
                                ismodify = "checked";
                            }
                            if (value.access.IsDelete) {
                                isdelete = "checked";
                            }
                            if (value.access.Isprint) {
                                isprint = "checked";
                            }
                            DataHtml = DataHtml + '<tr id=Tr_' + value.menu.MenuID + '_' + RoleId1 + '><td>' + value.menu.Title + '</td><td>' + Role + '</td><td><input type=checkbox class=View id=View_' + value.access.MenuAccessID + ' onclick=IsView(' + JournalDetailId + ',' + RoleId1 + ',' + value.access.MenuAccessID + ') ' + isview + '  /></td><td><input type=checkbox class=Add id=Add_' + value.access.MenuAccessID + ' onclick=IsAdd(' + JournalDetailId + ',' + RoleId1 + ',' + value.access.MenuAccessID + ',' + value.access.MenuAccessID + ') ' + isadd + '  /></td><td><input type=checkbox class=Modify id=Modify_' + value.access.MenuAccessID + ' onclick=IsModify(' + JournalDetailId + ',' + RoleId1 + ',' + value.access.MenuAccessID + ') ' + ismodify + '  /></td><td><input type=checkbox class=Delete id=Delete_' + value.access.MenuAccessID + ' onclick=IsDelete(' + JournalDetailId + ',' + RoleId1 + ',' + value.access.MenuAccessID + ') ' + isdelete + '  /></td><td><input type=checkbox class=Print id=Print_' + value.access.MenuAccessID + ' onclick=IsPrint(' + JournalDetailId + ',' + RoleId1 + ',' + value.access.MenuAccessID + ') ' + isprint + '  /></td><td style=display:none>' + value.menu.MenuID + '</td><td style=display:none>' + value.access.RoleID + '</td></tr>';
                        });
                        DataHtml = DataHtml + '</tbody>';

                        DataHtml = DataHtml + '</table>';
                        $('#pr1_' + JournalDetailId + '_' + RoleId1).append(DataHtml);
                    }
                }
            });

            return '<p id="pr1_' + JournalDetailId + '_' + RoleId1 +'"></p>';
        }
    $('#dataTables-example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
            $(this).find('img').attr('src', '/Content/img/details_open.png');         

        }
        else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
            $(this).find('img').attr('src', '/Content/img/details_close.png');
        }
        });

    });
    function IsView(MenuId, roleid, id) {
     
        document.getElementById("CloseAll_" + MenuId + '_' + roleid).style.display = 'none';
        document.getElementById("SaveAll_" + MenuId + '_' + roleid).style.display = 'inline';

        var checked = $('#View_' + id).prop('checked');
        if (checked) {
            $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=View]').prop('checked', true);

        } else {
            var grid = document.getElementById("SecSubMenutable_" + MenuId + "_" + roleid);
            if (grid != null) {
                var checkedvals = $("#SecSubMenutable_" + MenuId + "_" + roleid + " input[type='checkbox'][class=View]:checked");
                if (checkedvals.length == 0) {
                    $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=View]').prop('checked', false);

                }
            }
        }
        //$.ajax({
        //    type: "POST",
        //    url: "/Role/SubmitMenuAccessPermission",
        //    datatype: "Json",
        //    data: { MenuAccessId: id, Permission: "View", value: checked },
        //    success: function (data) {
        //    }
        //});



    }
    function IsparentView(menuid, Roleid) {
        document.getElementById("CloseAll_" + menuid + '_' + Roleid).style.display = 'none';
        document.getElementById("SaveAll_" + menuid + '_' + Roleid).style.display = 'inline';
        var parentchk = $('#Tr_' + menuid + '_' + Roleid + ' td input[type="checkbox"][class=View]').prop('checked');
        if (parentchk) {

        } else {
            var grid = document.getElementById("SecSubMenutable_" + menuid + "_" + Roleid);
            if (grid != null) {
                $("#SecSubMenutable_" + menuid + "_" + Roleid + " input[type='checkbox'][class=View]").prop('checked', false);

            }
        }
    }
    function IsAdd(MenuId, roleid, id) {
        document.getElementById("CloseAll_" + MenuId + '_' + roleid).style.display = 'none';
        document.getElementById("SaveAll_" + MenuId + '_' + roleid).style.display = 'inline';
        var checked = $('#Add_' + id).prop('checked');
        if (checked) {
            $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Add]').prop('checked', true);

        } else {
            var grid = document.getElementById("SecSubMenutable_" + MenuId + "_" + roleid);
            if (grid != null) {
                var checkedvals = $("#SecSubMenutable_" + MenuId + "_" + roleid + " input[type='checkbox'][class=Add]:checked");
                if (checkedvals.length == 0) {
                    $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Add]').prop('checked', false);

                }
            }
        }
        //$.ajax({
        //    type: "POST",
        //    url: "/Role/SubmitMenuAccessPermission",
        //    datatype: "Json",
        //    data: { MenuAccessId: id, Permission: "Add", value: checked },
        //    success: function (data) {
        //    }
        //});
    }
    function IsparentAdd(menuid, Roleid) {
        document.getElementById("CloseAll_" + menuid + '_' + Roleid).style.display = 'none';
        document.getElementById("SaveAll_" + menuid + '_' + Roleid).style.display = 'inline';
        var parentchk = $('#Tr_' + menuid + '_' + Roleid + ' td input[type="checkbox"][class=Add]').prop('checked');
        if (parentchk) {

        } else {
            var grid = document.getElementById("SecSubMenutable_" + menuid + "_" + Roleid);
            if (grid != null) {
                $("#SecSubMenutable_" + menuid + "_" + Roleid + " input[type='checkbox'][class=Add]").prop('checked', false);

            }
        }
    }
    function IsModify(MenuId, roleid, id) {
        document.getElementById("CloseAll_" + MenuId + '_' + roleid).style.display = 'none';
        document.getElementById("SaveAll_" + MenuId + '_' + roleid).style.display = 'inline';
        var checked = $('#Modify_' + id).prop('checked');
        if (checked) {
            $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Modify]').prop('checked', true);

        } else {
            var grid = document.getElementById("SecSubMenutable_" + MenuId + "_" + roleid);
            if (grid != null) {
                var checkedvals = $("#SecSubMenutable_" + MenuId + "_" + roleid + " input[type='checkbox'][class=Modify]:checked");
                if (checkedvals.length == 0) {
                    $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Modify]').prop('checked', false);

                }
            }
        }
        //$.ajax({
        //    type: "POST",
        //    url: "/Role/SubmitMenuAccessPermission",
        //    datatype: "Json",
        //    data: { MenuAccessId: id, Permission: "Modify", value: checked },
        //    success: function (data) {
        //    }
        //});
    }
    function IsparentModify(menuid, Roleid) {
        document.getElementById("CloseAll_" + menuid + '_' + Roleid).style.display = 'none';
        document.getElementById("SaveAll_" + menuid + '_' + Roleid).style.display = 'inline';
        var parentchk = $('#Tr_' + menuid + '_' + Roleid + ' td input[type="checkbox"][class=Modify]').prop('checked');
        if (parentchk) {

        } else {
            var grid = document.getElementById("SecSubMenutable_" + menuid + "_" + Roleid);
            if (grid != null) {
                $("#SecSubMenutable_" + menuid + "_" + Roleid + " input[type='checkbox'][class=Modify]").prop('checked', false);

            }
        }
    }
    function IsDelete(MenuId, roleid, id) {
        document.getElementById("CloseAll_" + MenuId + '_' + roleid).style.display = 'none';
        document.getElementById("SaveAll_" + MenuId + '_' + roleid).style.display = 'inline';
        var checked = $('#Delete_' + id).prop('checked');
        if (checked) {
            $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Delete]').prop('checked', true);

        } else {
            var grid = document.getElementById("SecSubMenutable_" + MenuId + "_" + roleid);
            if (grid != null) {
                var checkedvals = $("#SecSubMenutable_" + MenuId + "_" + roleid + " input[type='checkbox'][class=Delete]:checked");
                if (checkedvals.length == 0) {
                    $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Delete]').prop('checked', false);

                }
            }
        }
        //$.ajax({
        //    type: "POST",
        //    url: "/Role/SubmitMenuAccessPermission",
        //    datatype: "Json",
        //    data: { MenuAccessId: id, Permission: "Delete", value: checked },
        //    success: function (data) {
        //    }
        //});
    }
    function IsparentDelete(menuid, Roleid) {
        document.getElementById("CloseAll_" + menuid + '_' + Roleid).style.display = 'none';
        document.getElementById("SaveAll_" + menuid + '_' + Roleid).style.display = 'inline';
        var parentchk = $('#Tr_' + menuid + '_' + Roleid + ' td input[type="checkbox"][class=Delete]').prop('checked');
        if (parentchk) {

        } else {
            var grid = document.getElementById("SecSubMenutable_" + menuid + "_" + Roleid);
            if (grid != null) {
                $("#SecSubMenutable_" + menuid + "_" + Roleid + " input[type='checkbox'][class=Delete]").prop('checked', false);

            }
        }
    }
    function IsPrint(MenuId, roleid, id) {
        document.getElementById("CloseAll_" + MenuId + '_' + roleid).style.display = 'none';
        document.getElementById("SaveAll_" + MenuId + '_' + roleid).style.display = 'inline';
        var checked = $('#Print_' + id).prop('checked');
        if (checked) {
            $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Print]').prop('checked', true);

        } else {
            var grid = document.getElementById("SecSubMenutable_" + MenuId + "_" + roleid);
            if (grid != null) {
                var checkedvals = $("#SecSubMenutable_" + MenuId + "_" + roleid + " input[type='checkbox'][class=Print]:checked");
                if (checkedvals.length == 0) {
                    $('#Tr_' + MenuId + '_' + roleid + ' td input[type="checkbox"][class=Print]').prop('checked', false);

                }
            }
        }

    }
    function IsparentPrint(menuid, Roleid) {
       
        document.getElementById("CloseAll_" + menuid + '_' + Roleid).style.display = 'none';
        document.getElementById("SaveAll_" + menuid + '_' + Roleid).style.display = 'inline';
        var parentchk = $('#Tr_' + menuid + '_' + Roleid + ' td input[type="checkbox"][class=Print]').prop('checked');
        if (parentchk) {

        } else {
            var grid = document.getElementById("SecSubMenutable_" + menuid + "_" + Roleid);
            if (grid != null) {
                $("#SecSubMenutable_" + menuid + "_" + Roleid + " input[type='checkbox'][class=Print]").prop('checked', false);

            }
        }
    }

    function SaveAll(ParentMenuId, RoleId) {

        var Chkboxes = $("#SecSubMenutable_" + ParentMenuId + "_" + RoleId + " input[type='checkbox']");
        var Trchk = $("#Tr_" + ParentMenuId + "_" + RoleId + " input[type='checkbox']");
        var selected = "";
        for (var i = 0; i < Chkboxes.length; i++) {
            var checkboxid = Chkboxes[i].id;
            var val = $('#' + checkboxid).prop('checked');
            var data = checkboxid + "_" + val;
            if (selected == "") {
                selected = data;
            } else {
                selected = selected+','+ data;

            }
        }
        for (var i = 0; i < Trchk.length; i++) {
            var checkboxid = Trchk[i].id;
            var val = $('#' + checkboxid).prop('checked');
            var data = checkboxid + "_" + val;
            if (selected == "") {
                selected = data;
            } else {
                selected = selected + ',' + data;

            }
        }

        if (selected != "") {
            $.ajax({
            type: "POST",
            url: "/Role/SubmitMenuAccess",
            datatype: "Json",
                data: { selected: selected },
                success: function (res) {
                    if (res.success == true) {
                    
                        document.getElementById("CloseAll_" + ParentMenuId + '_' + RoleId).style.display = 'in;line';
                        document.getElementById("SaveAll_" + MenuId + '_' + RoleId).style.display = 'none';
                           var nexttr = $("#Tr_" + ParentMenuId + "_" + RoleId).closest('tr').next('tr');
                            nexttr.hide();
                           $("#Tr_" + ParentMenuId + "_" + RoleId ).removeClass('shown');
                        $("#Tr_" + ParentMenuId + "_" + RoleId ).find('img').attr('src', '/Content/img/details_open.png');
                        
                    }
            }
        });
        }
    }

    function ClearAll(ParentMenuId, RoleId) {      
        document.getElementById("CloseAll_" + ParentMenuId + '_' + RoleId).style.display = 'none';
        document.getElementById("SaveAll_" + ParentMenuId + '_' + RoleId).style.display = 'inline';
        var grid = document.getElementById("SecSubMenutable_" + ParentMenuId + "_" + RoleId);
        $('#Tr_' + ParentMenuId + '_' + RoleId + ' td input[type="checkbox"]').prop('checked', false);

        if (grid != null) {
            var checkBoxes = grid.getElementsByTagName("input");
            var checkedvals = $("#SecSubMenutable_" + ParentMenuId + "_" + RoleId + " input[type='checkbox']:checked");

            $('#SecSubMenutable_' + ParentMenuId + '_' + RoleId+' tbody tr td input[type="checkbox"]').prop('checked', false);

        }
    }
    function CloseAll(ParentMenuId, RoleId) {
        document.getElementById("CloseAll_" + ParentMenuId + '_' + RoleId).style.display = 'none';
        var nexttr = $("#Tr_" + ParentMenuId + "_" + RoleId).closest('tr').next('tr');
        nexttr.hide();
        $("#Tr_" + ParentMenuId + "_" + RoleId).removeClass('shown');
        $("#Tr_" + ParentMenuId + "_" + RoleId).find('img').attr('src', '/Content/img/details_open.png');


    }
</script>


<section class="content-header">
    <h1>Menu Role List</h1>
</section>

<p class="indexbtnpadding">
    @if (isadd)
    {
        @Html.ActionLink("Create New", "Index", null, new { @class = "btn btn-primary btnwidth" })
    }
</p>

<section class="content">
    @if (ViewBag.SuccessMsg != null)
    {
        <script type="text/javascript">
           $(document).ready(function () {
               $.notify("@ViewBag.SuccessMsg ", "success");
           });
        </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-striped table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Menu")
                    </th>

                    <th>
                        @Html.Label("Role")
                    </th>
                    <th>Action</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>

                </tr>
            </thead>


            <tfoot>
                <tr>
                    <th>
                        @Html.Label("Menu")
                    </th>

                    <th>
                        @Html.Label("Role")
                    </th>
                    <th>Action</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>

                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.RoleId _@item.MenuID" class="parentrow">

                        <td class="details-control">
                            <img src="/Content/img/details_open.png" id="plus_minus" style="cursor: pointer;" />

                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="tdtarget">

                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @*   @Html.ActionLink("Edit", "Edit", new { id = item.MenuAccessID }) |*@
                            @* @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                            @*  @Html.ActionLink("Delete", "Delete", new { id = item.MenuAccessID})*@
                            @if (ismodify)
                            {
                                <a href="@Url.Action("Edit", new { id = item.MenuAccessID })"><i class="fa fa-pencil"></i></a>
                            }
                            |
                            @*<a href="@Url.Action("Delete", new { id = item.MenuAccessID })"><i class="fa fa-times"></i></a>*@
                            @if (isdelete)
                            {
                                <a href="#" onclick="Delete(ID=@item.MenuAccessID)"><i class="fa fa-times"></i></a>
                            }
                        </td>
                        <td style="display:none;">
                            @item.MenuID
                        </td>
                        <td style="display:none;">
                            @item.RoleId
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete MenuAccessID?")) {
            window.location.href = "/Role/DeleteConfirmed/?id=" + ID;
        }
    }
</script>