@model IEnumerable<TrueBooksMVC.Models.MenuRoleVM>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

   <style>
     tfoot {
            display: table-header-group;
     }
        </style>

<script type="text/javascript">
    $(document).ready(function () {



        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });


    });

 </script>


<section class="content-header">
    <h1>Menu Role List</h1>
</section>

<p class="indexbtnpadding">
    @Html.ActionLink("Create New", "Index",null, new { @class = "btn btn-primary btnwidth" })
</p>

<section class="content">
        @if (ViewBag.SuccessMsg != null)
    {
       <script type="text/javascript">
           $(document).ready(function () {
               $.notify("@ViewBag.SuccessMsg ", "success");
           });
                                                </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-striped table-bordered tblfont" id="dataTables-example">
   <thead>
        <tr>
        <th>
            @Html.Label("Menu")
        </th>

        <th>
            @Html.Label("Role")
        </th>
        <th>Action</th>

    </tr>
   </thead>


    <tfoot>
         <tr>
        <th>
            @Html.Label("Menu")
        </th>

        <th>
            @Html.Label("Role")
        </th>
        <th style="display:none">Action</th>

    </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>

            <td class="tdtarget">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="tdtarget">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
             @*   @Html.ActionLink("Edit", "Edit", new { id = item.MenuAccessID }) |*@
           @* @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
              @*  @Html.ActionLink("Delete", "Delete", new { id = item.MenuAccessID})*@

                  <a href="@Url.Action("Edit", new { id = item.MenuAccessID })"><i class="fa fa-pencil"></i></a> |
            @*<a href="@Url.Action("Delete", new { id = item.MenuAccessID })"><i class="fa fa-times"></i></a>*@
                 <a href="#" onclick="Delete(ID=@item.MenuAccessID)"><i class="fa fa-times"></i></a>
            </td>
        </tr>
    }
    </tbody>

</table>
</div>
</section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete MenuAccessID?")) {
            window.location.href = "/Role/DeleteConfirmed/?id=" + ID;
        }
    }
</script>