@model DAL.CurrencyMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>CurrencyMaster</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CurrencyID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CurrencyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CurrencyCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyCode)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NoOfDecimals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfDecimals)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MonetaryUnit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonetaryUnit)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CountryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.StatusBaseCurrency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusBaseCurrency)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ExchangeRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExchangeRate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
