    ﻿@model DAL.CurrencyMaster

    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    }
    <style>
        .searchdiv {
            background-color: #fff;
            width: 100%;
            margin: 0 auto;
            max-width: 700px;
            padding: 20px;
            margin-top: 50px;
            border-radius: 10px;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        }
    </style>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CountryName").focus();
                $(":text").css({ "border-radius": "5px" });
                $("select").css({ "border-radius": "5px" });

                $("#btnsave").click(function () {
                    var cur = $("#CurrencyName").val();
                    var sym = $("#Symbol").val();
                    var nod = $("#NoOfDecimals").val();
                    var mod = $("#MonetaryUnit").val();
                    var cou = $("#CountryID option:selected").val();
                    var exc = $("#ExchangeRate").val();


                    if (cur == "") {
                        $("#alert").show();
                        return false;
                    }
                    else if (sym == "") {
                        $("#alert").show();
                        return false;
                    }
                    else if (nod == "") {
                        $("#alert").show();
                        return false;
                    }
                    else if (mod == "") {

                        $("#alert").show();
                        return false;
                    }
                    else if (cou == "") {

                        $("#alert").show();
                        return false;
                    }
                    else if (exc == "") {

                        $("#alert").show();
                        return false;
                    }
                    else {
                        $("#alert").hide();
                        return true;
                    }


                });

            });
        </script>

    <section class="content-header">
        <h1 class="headingfont">Currency</h1>
    </section>

    <section class="content-header">
    @using (Html.BeginForm()) {
         @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <fieldset class="searchdiv sm-width">
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
            <div class="row no-margin">
    		<div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Currency Name</label>
    				</div>
    				<div class="col-md-9">
                    @Html.HiddenFor(model => model.CurrencyID)
                    @Html.TextBoxFor(model => model.CurrencyName, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.CurrencyName)
    				</div>
                </div>
    		<div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Currency Code</label>
    				</div>
    				<div class="col-md-9">
                    @Html.TextBoxFor(model => model.CurrencyCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrencyCode)
    			</div>
                </div>
            </div>

            <div class="row no-margin" style="padding-top:10px">
              
                <div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">No. Of Decimals</label>
    			</div>
    			<div class="col-md-9">
                    @Html.TextBoxFor(model => model.NoOfDecimals, new { @class = "form-control textright" })
                    @Html.ValidationMessageFor(model => model.NoOfDecimals)
                </div>
    			</div>
            </div>
            <div class="row no-margin" style="padding-top:10px">
                <div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Monetary Unit</label>
    			</div>
    			<div class="col-md-9">
                    @Html.TextBoxFor(model => model.MonetaryUnit, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.MonetaryUnit)
                </div>
    			</div>
            </div>
                <div class="form-group row">
                 <div class="col-md-3">
                    <label class="required headinglabel">Currency Symbol</label>
    			</div>
    			<div class="col-md-9">
                    @Html.TextBoxFor(model => model.Symbol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Symbol)
    			</div>

                    </div>
    <div class="row no-margin" style="padding-top:10px">
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Exchange Rate(Peg Rate)</label>
    			</div>
    				<div class="col-md-9">
                    @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control textright" })
                    @Html.ValidationMessageFor(model => model.ExchangeRate)
    			</div>
                </div>

            </div>
              <div class="row no-margin" style="padding-top:10px">
             <div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Country</label>
                </div>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.CountryID, new SelectList(ViewBag.country, "CountryID", "CountryName"), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryID)
                </div>
                </div>
            </div>
              
          
    	

            <div class="row no-margin" style="padding-top:10px">
                <div class="col-md-12 butdivs">
                    <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />
                    &nbsp;
                    <a href='@Url.Action("Index", "CurrencyMaster", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                </div>
            </div>
        </fieldset>
    }

        </section>


    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
