@model IEnumerable<TrueBooksMVC.Models.GetAllCostUpdation_Result>

@{
    Layout = null;
    var ismodify = true;
    var isdelete = true;

    string path = "/CostUpdation/CostUpdationDetails/0";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    td.details-control img {
        padding: 5px;
        /* background: url('/Content/img/details_open.png') no-repeat center center;
        cursor: pointer;*/
    }

    tr.shown td.details-control img {
        padding: 5px;
        /* background: url('/Content/img/details_close.png') no-repeat center center; */
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
        }

        function format(d) {
            // `d` is the original data object for the row
            var jobnum = d[6].toString().split(',')
            var date = d[7].toString().split(',')
            var values = d[8].toString().split(',')
            var yeartoinvoiced = d[9].toString().split(',')
            var paidamnt = d[10].toString().split(',')
            
            var table = '<table cellpadding="1" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Job Number </td>' +

                '<td>Job Date </td>' +

                '<td>Provision Cost </td>' +


                '<td>Invoiced </td>' +
                '<td>Paid </td>' +
                '</tr>';
            for (var i = 0; i < jobnum.length; i++) {
                table = table+  '<tr>' +
                    '<td>' + jobnum[i] + '</td>' +

                    '<td>' + date[i].replace('12:00:00 AM', '') + '</td>' +

                    '<td class="textright">' + parseFloat(values[i]).toFixed(2) + '</td>' +

                    '<td class="textright">' + parseFloat(yeartoinvoiced[i]).toFixed(2) + '</td>' +
                    '<td class="textright">' + parseFloat(paidamnt[i]).toFixed(2) + '</td>' +
                    '</tr>' 
            }
            table = table + '</table>';
            return table;
            //return '<table cellpadding="1" cellspacing="0" border="0" style="padding-left:50px;">' +
            //    '<tr>' +
            //    '<td>Job Number </td>' +

            //    '<td>Job Date </td>' +

            //    '<td>Provision Cost </td>' +


            //    '<td>Invoiced </td>' +
            //    '<td>Paid </td>' +
            //    '</tr>'+
            //'<tr>'+
            //    '<td>' + d[6].replace(new RegExp(escapeRegExp('&amp;lt;br&amp;gt;'), 'g'), '<br>').substring(4) + '</td>' +
             
            //    '<td>' + d[7].replace(new RegExp(escapeRegExp('&amp;lt;br&amp;gt;'), 'g'), '<br>').substring(4).replace('12:00AM', '') + '</td>' +
              
            //    '<td class="textright">' + d[8].replace(new RegExp(escapeRegExp('&amp;lt;br&amp;gt;'), 'g'), '<br>').substring(4) + '</td>' +
               
            //    '<td class="textright">' + d[9].replace(new RegExp(escapeRegExp('&amp;lt;br&amp;gt;'), 'g'), '<br>').substring(4) + '</td>' +
            //    '<td class="textright">' + d[10].replace(new RegExp(escapeRegExp('&amp;lt;br&amp;gt;'), 'g'), '<br>').substring(4) + '</td>' +
            //    '</tr>' +
            //    '</table>';

         
        }

        $('#dataTables-example tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  style="width:90%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#dataTables-example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                $(this).find('img').attr('src', '/Content/img/details_open.png');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
                $(this).find('img').attr('src', '/Content/img/details_close.png');
            }
        });
    });
</script>

<div class="box-body">

    <div class="form-group">
        <div class="row">
            <div class="tab-content">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <div class="dataTable_wrapper tblbackground">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>SI No</th>
                                        <th>Supplier Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Supplier Name</th>
                                        <th>Invoice Amount</th>
                                        <th style="width: 70px;">Action</th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SI No</th>
                                        <th>Supplier Invoice Number</th>
                                        <th>Invoice Date</th>
                                        <th>Supplier Name</th>
                                        <th>Invoice Amount</th>
                                        <th style="width: 70px;"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                        <th style="display:none"></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="details-control">
                                                <img src="/Content/img/details_open.png" id="plus_minus" style="cursor: pointer;" />
                                                @Html.DisplayFor(modelItem => item.SINo)
                                                @Html.HiddenFor(modelItem => item.CostUpdationID)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.SupplierInvoiceNumber)</td>
                                            <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(item.InvoiceDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.InvoiceAmount)</td>
                                            <td>
                                                @if (ismodify)
                                                {
                                                <a href='@Url.Action("CostUpdation", "CostUpdation", new { id = item.CostUpdationID })' data-toggle="tooltip" data-placement="left" title="Edit"><i class="fa fa-pencil"></i></a>}
                                                |

                                                @*    <a href='@Url.Action("DeleteCost", "CostUpdation", new { id = item.CostUpdationID })' data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-times-circle"></i></a>*@
                                                @if (isdelete)
                                                {
                                                <a href="#" onclick="Delete(ID=@item.CostUpdationID)"><i class="fa fa-times"></i></a>
                                                }
                                            </td>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.JobNumbers)
                                            </td>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.JobDates)
                                            </td>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.JobValues)
                                            </td>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.YearToDateInvoiced)
                                            </td> 
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.CurrencyName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>