@model IEnumerable<TrueBooksMVC.Models.GetAllCostUpdation_Result>

@{
    ViewBag.Title = "CostUpdationDetails";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
   tfoot {
    display: table-header-group;
    }
    #tbl1 tr {
        height: 35px;
    }

    .panel-body {
        padding: 0px;
    }

    .panel {
        background-color: unset;
    }
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
        padding:50px;
    }
    .tblbackgroun {
        background-color:unset;
      
    }
</style>

<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/MyJsFiles/CostUpdationDetails.js")"></script>


@*<script type="text/javascript">

    $(document).ready(function () { 
        showLoading();
        $.ajax({
            url: "@Url.Action("GetAllCOstUpdation", "CostUpdation")",
       
               type: "GET",
               dataType: "json",
               success: function (data) { 
                   $("#result").html(data.view);
                   hideLoading();
               },
               error: function () {
                   alert("Failed! Please try again.");
               }
           });
    
      
   
    });
</script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);


        $("#frmdate").datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
            minDate: sd,
            maxDate: ed,

        });




        $("#todate").datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
            minDate: sd,
            maxDate: ed,

        });

        $("#frmdate").val(GetCurrentDate());
        $("#todate").val(GetEndDate());



        function GetCurrentDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);

            var str = new Date(startdate);


            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = str.getFullYear();
            return ("01" + "-" + m_names[curr_month] + "-" + str.getFullYear());


        }

        function GetEndDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);

            var str = new Date(startdate);

         

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = str.getFullYear();
            return (d.getDate() + "-" + m_names[curr_month] + "-" + str.getFullYear());


        }





        var frm = new Date($('#frmdate').val());
        var dto = new Date($('#todate').val());
         
        showLoading();
        $.ajax({
            url: "@Url.Action("GetAllCOstUpdation", "CostUpdation")",
              
                type: "GET",
                data: { fdate: $('#frmdate').val(), todate: $('#todate').val()},
                dataType: "json",

                success: function (data) {
                    hideLoading();
                    $("#result").html(data.view);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });
    

        $("#btnsearch").click(function () {


            var frm = new Date($('#frmdate').val());
            var dto = new Date($('#todate').val());
         
            showLoading();
            $.ajax({
                url: "@Url.Action("GetAllCOstUpdation", "CostUpdation")",
              
                type: "GET",
                data: { fdate: $('#frmdate').val(), todate: $('#todate').val()},
                dataType: "json",

                success: function (data) {
                    hideLoading();
                    $("#result").html(data.view);
                },
                error: function () {
                    alert("Failed! Please try again.");
                }
            });
        });

        $("#frmdate").css("border-radius", "5px");
        $("#todate").css("border-radius", "5px");


     
    });
</script>


 @if (ViewBag.SuccessMsg != null)
                                {
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $.notify("@ViewBag.SuccessMsg ", "success");
                                        });
                                    </script>   
                                }

<div ng-app="MyApp" ng-controller="MyController">
    <div class="" dir="ltr" id="main" runat="server"> 
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <section class="content-header">
                <h1>Cost Updation Details<small></small></h1>

            </section> 
               <div class="row no-margin">
                    <div class="col-md-12">
                        <div class="col-md-4" style="padding-left:-15px;">
                <a href='@Url.Action("CostUpdation", "CostUpdation", new { id = 0 })' class="btn btn-primary" data-toggle="tooltip" data-placement="right" style="width:90px;" >Add</a>
          </div>

                        </div>
                          </div>
                    <section class="content">
                           <p style="color: white" class="cbtnpadding">
                <div id="error" style="display: none; font-family: Calibri; color: red">* From Date must not be Greater than To Date</div>
                <table class="searchtabs" id="tbl1">
                    <tr>
                        <td class="searlabel">From Date
                        </td>
                        <td class="searinput">
                            <input type="text" id="frmdate" class="form-control" />
                        </td>
                        <td class="searlabel">To Date
                        </td>
                        <td class="searinput">
                            <input type="text" id="todate" class="form-control" />
                        </td>
                        <td>
                            <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwidt" />
                        </td>
                    </tr>


                </table>
            </p>
                <div id="divgridJob" class="row" runat="server" style="min-height: 250px; margin-right: auto; margin-left: auto;">
                    <div class="col-md-12">
                        
                            
                          
          <div class="row no-margin">
        <div class="col-md-12 tblbackgroun">
            <div class="row">
                <div class="col-md-12" id="result">
                </div>
            </div>
        </div>
    </div>
                        </div>
                    </div>
               
            
            </section> 
        }

    </div>
</div>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Cost Updation?")) {
            window.location.href = "/CostUpdation/DeleteCost/?id=" + ID;
        }
    }
</script>