@model IEnumerable<DAL.PurchaseInvoice>

    @using TrueBooksMVC.Models
    @using System.Linq
    @using DAL;

    @{
        ViewBag.Title = "Vendor Invoice";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";

        SHIPPING_FinalEntities entity = new SHIPPING_FinalEntities();
        var isadd = true;

        string path = Request.Url.AbsolutePath.ToLower();

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
            isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);

        }
    }

    <style>
        /*override table style*/
        .table-bordered {
            border: 0px !important;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            border: 0px !important;
            border-right: 0px;
            border-left: 0px;
        }

        table.dataTable thead th {
            border-right: 0px;
            border-left: 0px;
        }

        table.dataTable tfoot th, table.dataTable tfoot td {
            padding: 10px 18px 6px 18px;
            border-top: 1px solid #111 !important;
        }

        table.dataTable tfoot th {
            border: 0px !important;
        }

        .dataTables_length label {
            font-size: 14.4px;
            font-weight: normal;
        }

        table.dataTable tbody tr:first-child td {
        }

        table.dataTable thead th, table.dataTable tfoot th {
            font-weight: bold !important;
            color: #333 !important;
            font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
            font-size: 14.4px !important;
            font-weight: 700 !important;
        }

        table.dataTable tbody td {
            color: #333 !important;
            font-size: 14.4px !important;
            font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
            border-top: 1px solid #ddd !important;
        }

        table.dataTable {
            border-bottom: 1px solid #111 !important;
            margin-bottom: 15px !important;
            font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
        }

        div#dataTables-example_info {
            font-size: 14.4px !important;
            font-weight: normal !important;
            font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
        }

        div#dataTables-example_paginate {
            font-size: 14.4px;
            font: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
            font-weight: normal !important;
        }

        table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
            background-color: #eaeaea !important;
        }

        table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
            background-color: #fafafa !important;
        }

        .sorting_1, .sorting_2, .sorting_3 {
            background-color: #fafafa !important;
        }

        tfoot {
            display: table-header-group;
        }

        #tbl1 tr {
            height: 35px;
        }

        .panel-body {
            padding: 0px;
        }

        .panel {
            background-color: unset;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: 1px solid #e8e3e3 !important;
        }


        .dataTables_wrapper .dataTables_paginate .paginate_button {
            background-color: #f9f9f9 !important;
        }

        .tblbackground {
            background-color: #fff;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
            border-radius: 10px;
        }
    </style>

    <script src="@Url.Content(" ~/Scripts/angular.js")"></script>
    <script src="@Url.Content(" ~/MyJsFiles/CustomerRecieptDetails.js")"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

    @if (ViewBag.SuccessMsg != null)
    {
    <script type="text/javascript">
        $(document).ready(function () { $.notify("@ViewBag.SuccessMsg ", "success"); });
    </script>
    }

    <div ng-app="MyApp" ng-controller="MyController">
        <div class="" dir="ltr" id="main" runat="server">

           
			 <section class="content-header">
                                    <h1 class="headingfont">Vendor Invoice<small></small></h1>
                  
				  </section>
		
            <section class="content">
                <p style="color: white" class="cbtnpadding">
                    <div id="error" style="display: none; font-family: 'Montserrat', sans-serif !important; color: red">* From Date must not be Greater than To Date</div>

                    <table class="searchtabs flex tabsser" id="tbl1">
                        <tr>
                            <td colspan="6" style="text-align:center;">
                               
                            </td>
                        </tr>
                        <tr>
                            <td class="searlabel ">
                                From Date
                            </td>
                            <td class="searinput">
                                <input type="text" id="frmdate" class="form-control text-right" />
                            </td>
                            <td class="searlabel">
                                To Date
                            </td>
                            <td class="searinput">
                                <input type="text" id="todate" class="form-control text-right" />
                            </td>
                            <td style="padding-left:10px;">
                                <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwidt fa fa-search" />
                            </td>
                            <td>
                                @if (isadd)
                                {
                                    <a href="/vendorInvoice/invoice/0"><button class="btn btn-primary btnwidth" style="margin:10px">Create New</button></a>
                                }
                            </td>
                        </tr>
                    </table>
                    @*<table class="searchtabs tablserch" id="tbl1">
                        <tr>
                            <td class="searlabel">
                                From Date
                            </td>
                            <td class="searinput">
                                <input type="text" id="frmdate" class="form-control text-right" />
                            </td>
                        </tr>
                        <tr>
                            <td class="searlabel">
                                To Date
                            </td>
                            <td class="searinput">
                                <input type="text" id="todate" class="form-control text-right" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align:center">
                                <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwid fa fa-search" />
                            </td>
                        </tr>
                    </table>*@
                </p>
                <div class="row no-margin" style="padding-top: 20px">
                    <div class="col-md-12 col-lg-12 col=xs-12 col-sm-12 tblbackground">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12" id="result">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script type="text/javascript">
        function DeleteInvoice(ID) {
            if (confirm("Are you sure, You want to Delete Invoice?")) {
                window.location.href = "/VendorInvoice/DeleteInvoice/?id=" + ID;
            }
        }

        $(document).ready(function () {


            $("#frmdate").css("border-radius", "5px");
            $("#todate").css("border-radius", "5px");

            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);

            $("#frmdate").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,
            });

            $("#todate").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });

            $("#frmdate").val(GetCurrentDate());
            $("#todate").val(GetEndDate());

            $('#dataTables-example tfoot th:not(:last)').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:90%" />');
            });


            var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "order": [[2, "desc"]] });
            // f2();
            table.draw();
            table.search('').columns().search('').draw();

            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
            showLoading();
            $.ajax({
                url: "@Url.Action("GetPurchaseInvoice", "VendorInvoice")",
                data: { fdate: $('#frmdate').val(), tdate: $('#todate').val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    debugger;
                    $('#result').html(data.view);
                    hideLoading();
                },
                error: function () {
                    alert("Failed! An Occur by your Transaction .");
                    hideLoading();
                }
            });

            $("#btnsearch").click(function () {
                var frm = new Date($('#frmdate').val());
                var dto = new Date($('#todate').val());
                showLoading();
                if (frm > dto) {
                    $("#error").show();
                    return false;
                }
                else {
                    $("#error").hide();
                    //  f2();
                    //  table.draw();
                    $.ajax({
                        url: "@Url.Action("GetPurchaseInvoice", "VendorInvoice")",
                        data: { fdate: $('#frmdate').val(), tdate: $('#todate').val() },
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            debugger;
                            $('#result').html('');
                            $('#result').html(data.view);
                            hideLoading();
                        },
                        error: function () {
                            alert("Failed! An Occur by your Transaction .");
                            hideLoading();
                        }
                    });
                }
            });
        });


        $("#frmdate").css("border-radius", "5px");
        function GetCurrentDate() {
        var m_names = new Array("Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep","Oct", "Nov", "Dec");
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        var str = new Date(startdate);
        var d = new Date();
        var curr_date = sd.getDate();
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();
        return (01 + "-" + m_names[curr_month] + "-" + curr_year);
    }
    function GetEndDate() {
        var m_names = new Array("Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep","Oct", "Nov", "Dec");
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        var str = new Date(startdate);
        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();
        return (curr_date + "-" + m_names[curr_month] + "-" + curr_year);
    }

        function f2() {

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = new Date($("#frmdate").val());
                    var max = new Date($("#todate").val());

                    var cmpdate = new Date(data[1]); // use data for the age column
                    if (min == max && cmpdate == max) {
                        return true;
                    }
                    else if (cmpdate >= min && cmpdate <= max) {
                        return true;
                    }
                    return false;
                }
            );
        }
    </script>
