@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var isdelete = true;
    var ismodify = true;
    var isprint =true;
    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
    }

}



<script type="text/javascript" src="~/Scripts/Highcharts/highcharts.js"></script>

@*<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Dashboard <small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>24</h3>
                    <p>Job</p>
                </div>
                <div class="icon"><i class="fa fa-briefcase"></i></div>
                <a href='@Url.Action("JobDetails", "Job", new { ID = 0 })' class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>60<sup style="font-size: 20px">%</sup></h3>
                    <p>Cost Updation</p>
                </div>
                <div class="icon"><i class="fa fa-refresh"></i></div>
                <a class="small-box-footer" href='@Url.Action("CostUpdationDetails", "CostUpdation", new { ID = 0 })'>More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>42</h3>
                    <p>Customer Receipt</p>
                </div>
                <div class="icon"><i class="fa fa fa-list-alt"></i></div>
                <a class="small-box-footer" href='@Url.Action("CustomerRecieptDetails", "CustomerReciept", new { ID = 0 })'>More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>64	</h3>
                    <p>Supplier Payment</p>
                </div>
                <div class="icon"><i class="fa fa-credit-card"></i></div>
                <a class="small-box-footer" href='@Url.Action("SupplierPaymentDetails", "SupplierPayment", new { ID = 0 })'>More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>
<!-- /.content -->*@








<!-- Main content -->
<section class="content">
    <div class="box-body">


        <div class=" card col-md-4 col-sm-4 col-xs-12 col-lg-4">
            
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  
                        <div class="card-header">
                            <h3 class="head"><i class="fa fa-refresh" aria-hidden="true"></i> Updation</h3>
                            </div>
                        <div class="card-body">
                            <table width="50%" height="70px">
                                <tbody>
                                    @foreach (var item in @ViewBag.CostUpdationDetails)
                                    {
                                        <tr>
                                            <td>
                                                PROVISION
                                            </td>
                                            <td style="text-align: right">
                                                @if (@item.Provision != null)
                                                {
                                                    <span>@string.Format("{0:n2}", @item.Provision)</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr><td></td><td></td></tr>
                                        <tr><td></td><td></td></tr>
                                        <tr><td></td><td></td></tr>

                                        <tr>
                                            <td>
                                                UPDATED
                                            </td>
                                            <td style="text-align: right">
                                                @if (@item.Updated != null)
                                                {
                                                    <span>@string.Format("{0:n2}", @item.Updated)</span>
                                                }


                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                       
            </div>
              
         
                <div class="pad mgt col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
                    <div id="CostUpdationChart" style="height: 200px">
                    </div>
                </div>
            
        </div>
        <div class=" card col-md-4 col-sm-4 col-xs-12 col-lg-4">
          
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="card-header">
                        <h3 class="head"><i class="fa fa-list-alt" aria-hidden="true"></i> Receivable</h3>
                        </div>
                    <div class="card-body">
                        <table width="50%" height="70px">
                            @*   <tr>
            <td>INVOICED
            </td>
        </tr>
        <tr>
            <td>RECEIVED</td>
        </tr>
        <tr>*@
                            <tbody>
                                @foreach (var item in @ViewBag.custReciavable)
                                {
                                    <tr class="rows">
                                        <td class="tab_class">
                                            <p class="subhead">INVOICED</p>
                                        </td>
                                        <td style="text-align: right">
                                            @if (@item.Invoiced != null)
                                            {
                                                <span>@string.Format("{0:n2}", @item.Invoiced)</span>
                                            }
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="tabs_class"><p class="subhead">RECEIVED</p></td>
                                        <td style="text-align: right">
                                            @if (@item.Recievable != null)
                                            {
                                                <span>@string.Format("{0:n2}", @item.Recievable)</span>
                                            }


                                        </td>
                                    </tr>


                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
              

                <div class="pad mgt col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div id="receivable" style="height: 200px">
                    </div>
                </div>

            </div>



        <div class="card col-md-4 col-sm-4 col-lg-4 col-xs-12">
           
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="card-header">
                        <h3 class="head"><i class="fa fa-money" aria-hidden="true"></i> Payable</h3>
                    </div>
                    <div class="card-body">

                        <table width="50%" height="70px">
                            @* <tr>
            <td>INVOICED
            </td>
        </tr>
        <tr>
            <td>PAID</td>
        </tr>*@
                            <tbody>

                                @foreach (var item in @ViewBag.Payble)
                                {

                                    <tr style="margin-bottom:20px">
                                        <td class="tab_class">INVOICED</td>
                                        <td style="text-align: right">
                                            @if (@item.Invoiced != null)
                                            {
                                                <span>@string.Format("{0:n2}", @item.Invoiced)</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabs_class">PAID</td>
                                        <td style="text-align: right">
                                            @if (@item.Paid != null)
                                            {
                                                <span>@string.Format("{0:n2}", @item.Paid)</span>
                                            }
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            
          

                <div class="pad mgt col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div id="payble" style="height: 200px">
                    </div>
                </div>

          
        </div>

      @*  <div class="col-md-6">
            <div class="row wh">
                <div class="col-md-12" style="height: 317px">
                    <table width="100%">
                        <tr style="height: 60px;">
                            <td colspan="7" align="center">
                                <h3>YTD SUMMARY</h3>
                                <hr />
                            </td>
                        </tr>
                        @foreach (var item in ViewBag.YTDSummaryDetails)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                @foreach (var item1 in item.Values)
                                {
                                    <td>
                                        @item1.ToString()
                                    </td> 
                                } 
                            </tr>
                        }
                      
                    </table>
                </div>
            </div>
        </div>*@

    </div>
    <div class="box-body">
        <div class=" job col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-right: 20px;">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    @*<span ><i  class="fa fa-briefcase" ></i></span>*@
                    <h3 class="head"><i class="fa fa-briefcase"></i> JOB</h3>
                    @* <span class="fa fa-briefcase">JOB</span>*@

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">




                        @foreach (var item in ViewBag.JobCostDetails)
                        {

                            if (@item.JobDescription != null)
                            {
                                
                            <div class="col-sm-3">@item.JobDescription
                            </div>}
                            if (@item.Cost != null)
                            {
                            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3" style="text-align: right">@string.Format("{0:n2}", @item.Cost)
                            </div> 
                            }
                        }
                    </div>
                </div>
            </div>
         

                <div class="pad mgt col-md-12 col-lg-12 col-sm-12 col-xs-12">


                    <div id="JobChart" style="height: 150px">
                    </div>
                </div>

          
        </div>

    </div>

</section>

<!-- /.content -->



<script type="text/javascript" src="~/Scripts/Highcharts/Home.js"></script>
