@model DAL.AcCompany

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {
            $("#AcCompany1").focus();

            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

            $("#EMail").css("text-transform", "lowercase");


            $("#btnsave").click(function () {
                var accom = $("#AcCompany1").val();
                var add1 = $("#Address1").val();
                var phone = $("#Phone").val();
                var email = $("#EMail").val();
                var country = $("#CountryID").val();
                var currency = $("#CurrencyID").val();

                if (accom == "") {

                    $("#alert").show();
                    return false;
                }
                else if (add1 == "") {
                    $("#alert").show();
                    return false;
                }
                else if (phone == "") {
                    $("#alert").show();
                    return false;
                }
                else if (country == "") {
                    $("#alert").show();
                    return false;
                }
                else if (currency == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }


            });

        });
    </script>
<section class="content-header">
    <h1 class="headingfont">Company</h1>
</section>

<section class="content-header">


@using (Html.BeginForm("Edit", "AcCompany", FormMethod.Post, new { @id = "AcCompany", enctype = "multipart/form-data" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    <fieldset class="searchdiv">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        @Html.HiddenFor(model => model.AcCompanyID)
        <div class="row no-margin">

            <div class="col-md-6">
                <label class="required headinglabel">Company Name</label>
                @Html.TextBoxFor(model => model.AcCompany1, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.AcCompany1)

            </div>

            <div class="col-md-6">
                <label class="required headinglabel">Contact Person</label>
                @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.ContactPerson)

            </div>
        </div>
        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-6">
                <label class="required headinglabel">Building</label>
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.Address1)

            </div>

            <div class="col-md-6">
                <label class="headinglabel">Street</label>
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.Address2)

            </div>
        </div>
        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-6">
                <label class="headinglabel">Pincode/Location</label>
                @Html.TextBoxFor(model => model.Address3, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.Address3)

            </div>

            <div class="col-md-6">
                <label class="required headinglabel">Phone</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control textright txttarget" })
                @Html.ValidationMessageFor(model => model.Phone)

            </div>
        </div>
        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-3">
                <label class="headinglabel">Email</label>
                @Html.TextBoxFor(model => model.EMail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMail)

            </div>

            <div class="col-md-3">
                <label class="headinglabel required">Country</label>
                @Html.DropDownListFor(model => model.CountryID, new SelectList(ViewBag.Country, "CountryID", "CountryName"), "Select", new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.CountryID)

            </div>
            <div class="col-md-3">
                <label class="headinglabel required">Currency</label>
                @Html.DropDownListFor(model => model.CurrencyID, new SelectList(ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select", new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.CountryID)

            </div>
            <div class="col-md-6">
                <label class="headinglabel required">Upload Logo</label>
                <img src="/Content/Logo/@Model.logo" style="width:200px;height:auto" />
                @Html.HiddenFor(model => model.logo);
                <input type="file" id="ImageFile" name="ImageFile" class="form-control">
            </div>
        </div>


        <div class="row no-margin">
            <div class="col-md-12" style="text-align:right; padding-top:10px">

                <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />

                &nbsp;
                <a href='@Url.Action("Index", "AcCompany", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

            </div>
        </div>


    </fieldset>
}

</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
