@model IEnumerable<DAL.AcCompany>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
     tfoot {
            display: table-header-group;
     }
        </style>


<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example').dataTable({
            "searching": false
        });

        $(".tdcompany").each(function () {
            var x = $(this);
            var str = "";
            str = x.text();
            var splitStr = str.toLowerCase().split(' ');
            for (var i = 0; i < splitStr.length; i++) {
                // You do not need to check if i is larger than splitStr length, as your for does that for you
                // Assign it back to the array
                splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
            }
            // Directly return the joined string
            var newtxt = "";
            newtxt = splitStr.join(' ');
            $(x).text('');
            $(x).text(newtxt);


            
            $('#dataTables-example tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text"  />');
                });
            //var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

            //    table.columns().every(function () {
            //        var that = this;

            //        $('input', this.footer()).on('keyup change', function () {
            //            if (that.search() !== this.value) {
            //                that
            //                    .search(this.value)
            //                    .draw();
            //            }
            //        });
            //    });
            
        });
    });

</script>

<section class="content-header">
    <h1 class="headingfont">Company</h1>

</section>
<div class="m-container">
<p class="indexbtnpadding flex">
    @if (isadd)
    {
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
    }
</p>
</div>
<section class="content">
     @if (ViewBag.SuccessMsg != null)
    {
      <script type="text/javascript">
          $(document).ready(function () {
              $.notify("@ViewBag.SuccessMsg ", "success");
        });
                                                </script>
    }
<div class="table-responsive tblbackground" style="padding:15px">
    <table class="table table-striped table-bordered tblfont dataTable" id="dataTables-example">
        <thead>
        <tr>
            <th>
                @Html.Label("Company Name")
            </th>
          
            <th>
                @Html.Label("Address")
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address3)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.Label("Email")
            </th>
          @*  <th>
                @Html.Label("User I")
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CustomsClearanceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortAgentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortClearanceCode)
            </th>*@
            <th>Action</th>
        </tr>
        </thead>

       

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tdcompany">
                    @Html.DisplayFor(modelItem => item.AcCompany1)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ParentID)
                </td>*@
                <td class="tdcompany">
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address3)
                </td>*@
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>*@
               @* <td>
                    @Html.DisplayFor(modelItem => item.CustomsClearanceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortAgentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortClearanceCode)
                </td>*@
                <td>
                   @* @Html.ActionLink("Edit", "Edit", new { id = item.AcCompanyID }) |*@
           @* @Html.ActionLink("Details", "Details", new { id=item.AcCompanyID }) |*@
                  @*  @Html.ActionLink("Delete", "Delete", new { id = item.AcCompanyID })*@
                    @if (ismodify) {
                    <a href="@Url.Action("Edit", new { id = item.AcCompanyID })"><i class="fa fa-pencil"></i></a> 
                    }
                    |
                    @*<a href="@Url.Action("Delete", new { id = item.AcCompanyID })"><i class="fa fa-times"></i></a>*@
                    @if (isdelete)
                    {
                    <a href="#" onclick="Delete(ID=@item.AcCompanyID)"><i class="fa fa-times"></i></a>
                    }
                </td>
            </tr>
        }
        
        </tbody>
    </table>
    <//div>
</section>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Company?")) {
            window.location.href = "/AcCompany/DeleteConfirmed/?id=" + ID;
        }
    }
</script>



