@model DAL.AcCategorySelectByID_Result
@{
    ViewBag.Title = "AcCategory";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<script type="text/javascript">
        $(document).ready(function () {
            $("#CountryName").focus();
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

            $("#btnSave").click(function () {
                var cat = $("#AcCategory").val();
                if (cat == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }


            });
        });
    </script>

<section class="content-header">
    <h1 class="headingfont">Account Category</h1>
</section>

<section class="content-header">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
     

           <div class="row no-margin"> 
               @Html.HiddenFor(model=>model.AcCategoryID)
             <div class="col-md-3">
                          <label class="headinglabel">Category</label>
                       @Html.TextBoxFor(model => model.AcCategory,new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.AcCategory)
                            
             </div>
            
      </div>
      
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-3">
                           
                                <input type="submit"  value="Update"  class="btn btn-primary btnwidth" id="btnSave" />
                               
                            &nbsp; 
                                           <a href='@Url.Action("IndexAcCategory", "AccountingModule", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                           
                        </div>
                    </div>

       
    </fieldset>
}

</section>