@model TrueBooksMVC.Models.ChangePasswordVM

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $(":password").css({ "border-radius": "5px" });
    });
</script>

<section class="content-header">
    <h1 class="headingfont">Change Password</h1>
</section>



<section class="content">
  
     @if (TempData["message"] != null)
    {
     <div class="alert alert-warning alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["message"]</div>
                                        </div>
    }


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="row no-margin">
                <div class="col-md-3">
                  
                    <label class="required headinglabel">Password</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="col-md-3">
                    <label class="required headinglabel">New Password</label>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>

                <div class="col-md-3">
                    <label class="required headinglabel">Confirm Password</label>
                    
                     @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
        </div>

          <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-12">
                   <input type="submit" value="Update" class="btn btn-primary btnwidth" />&nbsp; <a href='@Url.Action("Index", "UserRegistration", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
            </div>
        </div>
    </fieldset>
}
</section>