@model DAL.UserRegistration


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


<script src="~/Scripts/jquery-1.10.2.js"></script>  
<script src="~/Scripts/jquery.validate.js"></script>  
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>  
<script type="text/javascript">
    $(document).ready(function () {

        $("#UserName").focus();
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $(":password").css({ "border-radius": "5px" });


        $("#btnsave").click(function () {
            var uname = $("#UserName").val();
            var pass = $("#Password").val();
            var role = $("#RoleID option:selected").val();
            var phone = $("#Phone").val();
            var email = $("#EmailId").val();
            var isactive = $("#IsActive").val();
            var empid = $("#EmployeeID").val();



            if (uname == "") {
                $("#alert").show();
                return false;
            }
            else if (pass == "") {
                $("#alert").show();
                return false;
            }
            else if (role == "") {
                $("#alert").show();
                return false;
            }
            else if (phone == "") {
                $("#alert").show();
                return false;
            }
            else if (email == "") {
                $("#alert").show();
                return false;
            }
            else if (isactive == "") {
                $("#alert").show();
                return false;
            }
            else if (empid == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }
        });
    });
</script>


<section class="content-header">
    <h1 class="headingfont">User</h1>
</section>



<section class="content">
      @if (TempData["SuccessMSG"] != null)
    {
     <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@TempData["SuccessMSG"]</div>
                                        </div>
    }
   
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
        

       @* <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>*@
        <div class="row no-margin">
                <div class="col-md-3">
                   @Html.HiddenFor(model=>model.UserID)
                    <label class="required headinglabel">User Name</label>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="col-md-3">
                    <label class="required headinglabel">Password</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="col-md-3">
                    <label class="required headinglabel">Role</label>
                    
                    @Html.DropDownListFor(model => model.RoleID, new SelectList(ViewBag.UserRole, "RoleID", "RoleName"), "Select Role", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleID)
                </div>
        </div>



        <div class="row no-margin" style="padding-top:10px">
                <div class="col-md-3">
                    <label class="required headinglabel">Phone</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control textright txttarget" })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>

                <div class="col-md-3">
                    <label class="required headinglabel">Email</label>
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmailId)
                </div>
              <div class="col-md-3">
                    <label class="required headinglabel">Employee ID</label>
                    
                    @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select Employee", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeID)
                </div>
             
        
        </div>  

          <div class="row no-margin" style="padding-top:10px">
                  <div class="col-md-3">
                    <label class="required headinglabel">IsActive</label>
                    @Html.CheckBox("IsActive", new { @name = "IsActive" })
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>

          </div>
        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-3">
                  <input type="submit" value="Create" class="btn btn-primary btnwidth" id="btnsave" />&nbsp;
                <a href='@Url.Action("Index", "UserRegistration", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
           </div>
        </div>

    </fieldset>
}

    </section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
