@model DAL.UserRegistration
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });
            $(":password").css({ "border-radius": "5px" });
            $("#EmployeeID").on('change', function () {
                var empid = $("#EmployeeID").val();
                if (empid == "" || empid == 0) {
                    $("#UserName").val("");
                    $("#Phone").val("");
                    $("#EmailId").val("");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/UserRegistration/GetEmployeeByid",
                        datatype: "Json",
                        data: { Id: $("#EmployeeID").val() },
                        success: function (data) {
                            $("#UserName").val(data.data.Email);
                            $("#Phone").val(data.data.ContactNo);
                            $("#EmailId").val(data.data.Email);

                        }
                    });
                }
            });
            $("#btnsave").click(function () {
                var uname = $("#UserName").val();
                var pass = $("#Password").val();
                var role = $("#RoleID option:selected").val();
                var phone = $("#Phone").val();
                var isactive = $("#IsActive").val();
                var empid = $("#EmployeeID").val();


                if (uname == "") {
                    $("#alert").show();
                    return false;
                }
                else if (pass == "") {
                    $("#alert").show();
                    return false;
                }
                else if (role == "") {
                    $("#alert").show();
                    return false;
                }
                else if (phone == "") {
                    $("#alert").show();
                    return false;
                }               
                else if (isactive == "") {
                    $("#alert").show();
                    return false;
                }
                else if (empid == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }
            });
    });
    function Generatepass() {
        $.ajax({
            type: "POST",
            url: "/UserRegistration/GeneratePassword",
            datatype: "Json",
            success: function (data) {
                $("#Password").val(data);

            }
        });
    }
    </script>

<section class="content-header">
    <h1 class="headingfont">User</h1>
</section>
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 765px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<section class="content-header">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
       <div class="searchdiv sm-width">
           <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
           <div id="alert1" style="color:red;display:none;margin-left:10px;">*Please select valid invoice number</div>
           <fieldset>
               <div class="row no-margin">
                   @Html.HiddenFor(model => model.UserID)

                   <div class="form-group row">
                       <div class="col-md-12">
                           <label class="required headinglabel">Employee</label>


                           @Html.DropDownListFor(model => model.EmployeeID, new SelectList(ViewBag.Employee, "EmployeeID", "EmployeeName"), "Select Employee", new { @class = "form-control"})
                           @Html.ValidationMessageFor(model => model.EmployeeID)
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-12">

                           <label class="required headinglabel">User Name (Email)</label>

                           @Html.TextBoxFor(model => model.UserName, new { @class = "form-control txttarget" })
                           @Html.ValidationMessageFor(model => model.UserName)
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-10">
                           <label class="required headinglabel">Password</label>

                           @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.Password)
                       </div>
                       <div class="col-md-2">
                           <input type="button" onclick="Generatepass()" class="btn-primary" style="margin-top:30px" value="Generate" />
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-12">

                           <label class="required headinglabel">Contact Number</label>

                           @Html.TextBoxFor(model => model.Phone, new { @class = "form-control txttarget" })
                           @Html.ValidationMessageFor(model => model.Phone)
                       </div>
                   </div>
                 
                   <div class="form-group row">
                       <div class="col-md-12">

                           <label class="required headinglabel">User Role</label>

                           @Html.DropDownListFor(model => model.RoleID, new SelectList(ViewBag.UserRole, "RoleID", "RoleName"), "Select Role", new { @class = "form-control" })
                           @Html.ValidationMessageFor(model => model.RoleID)
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-12">
                           <div class="col-md-1">
                               <input type="checkbox" style="margin-top: 11px" />
                           </div>
                           <div class="col-md-8">
                               <label>Send notification to user by email</label>

                           </div>
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-12">
                           <div class="col-md-1">
                               @Html.CheckBox("IsActive", new { @name = "IsActive", @style = "margin-top: 11px" })
                               @Html.ValidationMessageFor(model => model.IsActive)
                           </div>
                           <div class="col-md-8">
                               <label>Active User</label>

                           </div>
                       </div>
                   </div>






                   <div class="row no-margin" style="padding-top:10px;">
                       <div class="col-md-12 butdivs">
                           <input type="submit" value="Update" class="btn btn-primary btnwid" id="btnsave" />&nbsp;
                           <a href='@Url.Action("Index", "UserRegistration", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                       </div>
                   </div>
               </div>


           </fieldset>
       </div>
}

</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
