@model IEnumerable<DAL.SP_GetAllRecieptsDetails_Result>

@{
    Layout = null;
}

<script type="text/javascript">



    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    </script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#dataTables-example tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });


        
          
        @*   $.ajax({
                url: "@Url.Action("GetAllRecieptVoucher", "RecieptVoucher")",
            //    data: {  },
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#result").html(data.view);
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });*@


        $(".print").click(function () {
            var row = $(this).parent("td").parent("tr");
            var recpayid = $(row).find("td").eq(0).find("input[type=hidden]").val();
            alert(recpayid);

            $.ajax({
                url: "@Url.Action("GetAllRecieptVoucher", "RecieptVoucher")",
                 //    data: {  },
                type: "GET",
                data: { Recpayid: recpayid },
                 dataType: "json",
                 success: function (data) {

                     $("#PrintTable").html(data.view);
                     printDiv('PrintTable');
                 },
                 error: function () {
                     alert("Failed! Please try again.");
                 }
             });

        });


         });
 



</script>



    <div class="box-body">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="tab-content">
                                                      <div class="panel panel-danger">
                                                    <div class="panel-body">
                                                       <div class="dataTable_wrapper">
                                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                                <thead>
                                                                    <tr>
                                                                       
                                                                        <th>Receipt Date</th>
                                                                        <th>Document No</th>
                                                                        <th>Party Name</th>
                                                                        <th>Amount</th>
                                                                        <th>Currency</th>
                                                                        <th  style="width:70px;"></th>
                                                                    </tr>
                                                                </thead>

                                                                <tfoot>
                                                                    <tr>
                                                                       
                                                                        <th>Receipt Date</th>
                                                                        <th>Document No</th>
                                                                        <th>Party Name</th>
                                                                        <th>Amount</th>
                                                                        <th>Currency</th>
                                                                        <th  style="width:70px;"></th>
                                                                    </tr>
                                                                </tfoot>


                                                                <tbody>


                                                                    @foreach (var item in Model)
                                                                    {
                                                                        <tr>
                                                                           
                                                                            <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat( item.RecPayDate)
                                                                                @Html.HiddenFor(modelItem=>item.RecPayID)
                                                                            </td>
                                                                            <td>@Html.DisplayFor(modelItem => item.DocumentNo)</td>
                                                                            <td class="tdtarget">@Html.DisplayFor(modelItem => item.PartyName)</td>
                                                                            <td class="textright">@Html.DisplayFor(modelItem => item.Amount)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Currency)</td>
                                                                           @*@Html.ActionLink("Edit", "CustomerReciept", new { id = item.RecPayID })*@
                                                                                
                                                                                   <td> 
                                                                                    
                                                                          @*<div class="tooltip-demo">*@
                                                                                   @* <a href='@Url.Action("CustomerReciept", "CustomerReciept", new { id = item.RecPayID })'  data-toggle="tooltip" data-placement="left" title="Click here"><i class="fa fa-pencil"></i></a> |                                                                          
                                                                                 <a href="#" onclick="DeleteCustomer(cid=@item.RecPayID)"><i class="fa fa-times-circle"></i></a>*@
                                                                                @* <a href='@Url.Action("RecieptVoucher", "GetAllRecieptVoucher", new { id = item.RecPayID,@class="print" })' data-toggle="tooltip" data-placement="right" title="Print"><i class="fa fa-print"></i></a>*@
                                                                                       <input type="button" value="Print" class="print" />
                                                                               @* </div>*@
                                                                                         
                                                                                    
                                                                            </td>
                                                                        </tr>
                                                                  
                                                                    }

                                                                </tbody>
                                                            </table>
                                                      </div>
                                                    </div>

                                                          </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row no-margin" style="padding-top: 20px;visibility:hidden">
          
                <div class="col-md-12" id="PrintTable" style="background-color:white;height:auto;visibility:hidden">
                
                </div>
           
        </div> 