@model DAL.ShippingAgent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";

}
<style>
    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 22px;
        width: 100%;
        max-width: 699px;
        margin: 0 auto;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AgentName").focus();

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Email").css("text-transform", "lowercase");

        $("#btnsave").click(function () {
            var agent = $("#AgentName").val();
            var ref = $("#ReferenceCode").val();
            var con = $("#ContactPerson").val();
            var add = $("#Address1").val();
            var phone = $("#Phone").val();
            var fax = $("#Fax").val();
            var email = $("#Email").val();
            var cou = $("#CountryID option:selected").val();
           


            if (agent == "") {
                $("#alert").show();
                return false;
            }
            else if (ref == "") {
                $("#alert").show();
                return false;
            }
            else if (con == "") {
                $("#alert").show();
                return false;
            }
            else if (add == "") {

                $("#alert").show();
                return false;
            }
            else if (phone == "") {

                $("#alert").show();
                return false;
            }
            else if (fax == "") {

                $("#alert").show();
                return false;
            }
            else if (email == "") {

                $("#alert").show();
                return false;
            }
            else if (cou == "") {

                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }


        });






    });
</script>
<section class="content-header">
    <h1 class="headingfont">Shipping Agent</h1>
</section>

<section class="content-header jobform">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
     <fieldset>


         <div class="row no-margin">


             <div class="col-md-6">
                 <label class="required headinglabel">Shipping Agent Name</label>
                 @Html.TextBoxFor(model => model.AgentName, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.AgentName)
             </div>



             <div class="col-md-6">
                 <label class="required headinglabel">Reference Code</label>
                 @Html.TextBoxFor(model => model.ReferenceCode, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.ReferenceCode)

             </div>
         </div>

         <div class="row no-margin" style="padding-top:10px">


             <div class="col-md-6">
                 <label class="required headinglabel">Address 1</label>
                 @Html.TextBoxFor(model => model.Address1, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.Address1)
             </div>

             <div class="col-md-6">
                 <label class="required headinglabel">Contact Person</label>
                 @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.ContactPerson)

             </div>
         </div>
         <div class="row no-margin" style="padding-top:10px">
             <div class="col-md-6">
                 <label class="headinglabel">Address 2</label>
                 @Html.TextBoxFor(model => model.Address2, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.Address2)

             </div>
             <div class="col-md-6">
                 <label class=" headinglabel">Address 3</label>
                 @Html.TextBoxFor(model => model.Address3, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.Address3)

             </div>
         </div>
         <div class="row no-margin" style="padding-top:10px">
             <div class="col-md-6">
                 <label class="required headinglabel">City</label>
                 @Html.TextBoxFor(model => model.City, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.City)

             </div>
             <div class="col-md-6">
                 <label class="required headinglabel">Phone</label>
                 @Html.TextBoxFor(model => model.Phone, new { @class = "form-control  txttarget" })
                 @Html.ValidationMessageFor(model => model.Phone)
             </div>
         </div>
         <div class="row no-margin" style="padding-top:10px">
             <div class="col-md-6">
                 <label class="required headinglabel">Country</label>
                 @Html.DropDownListFor(model => model.CountryID, (IEnumerable<SelectListItem>)ViewBag.country, "select", new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.CountryID)

             </div>

             <div class="col-md-6">
                 <label class="headinglabel">Fax</label>
                 @Html.TextBoxFor(model => model.Fax, new { @class = "form-control " })
                 @Html.ValidationMessageFor(model => model.Fax)

             </div>
         </div>


         <div class="row no-margin" style="padding-top:10px">
             <div class="col-md-6">
                 <label class="headinglabel">Email</label>
                 @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.Email)

             </div>
             <div class="col-md-3">
                 <label class="required headinglabel">Credit Days</label>
                 @Html.TextBoxFor(model => model.CreditDays, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.CreditDays)

             </div>
             <div class="col-md-3">
                 <label class="required headinglabel">Credit Limit</label>
                 @Html.TextBoxFor(model => model.CreditLimit, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.CreditLimit)

             </div>
         </div>
         <div class="row no-margin" style="padding-top:10px">
             <div class="col-md-3">
                 <label class="headinglabel">Website</label>
                 @Html.TextBoxFor(model => model.WebSite, new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.WebSite)
             </div>
             <div class="col-md-3">

                 <label class="headinglabel">Remarks</label>
                 @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.Remarks)
             </div>
             <div class="col-md-3">
                 <label class="required headinglabel">Exporter Code</label>
                 @Html.TextBoxFor(model => model.ExportCode, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.ExportCode)

             </div>
             <div class="col-md-3">
                 <label class="required headinglabel">Discount %</label>
                 @Html.TextBoxFor(model => model.Discount, new { @class = "form-control txttarget" })
                 @Html.ValidationMessageFor(model => model.Discount)

             </div>
         </div>


         <div class="row no-margin" style="padding-top:10px">


             <div class="col-md-4" style="padding-top:15px">

                 @Html.CheckBox("StatusActive", new { @name = "StatusActive" }) &nbsp <label class="headinglabel">Status Active</label>
                 @Html.ValidationMessageFor(model => model.StatusActive)

             </div>



             <div class="col-md-4" style="padding-top:15px">
                 @Html.CheckBox("StatusReserved", new { @name = "StatusReserved" }) &nbsp <label class="headinglabel">Status Reserved</label>
                 @Html.ValidationMessageFor(model => model.StatusReserved)


             </div>
             <div class="col-md-4" style="padding-top:15px">
                 @Html.CheckBox("StatusBlocked", new { @name = "StatusBlocked" }) &nbsp <label class="headinglabel">Status Blocked</label>
                 @Html.ValidationMessageFor(model => model.StatusBlocked)
             </div>

         </div>

         <div class="row no-margin buttons" style="padding-top:10px">
             <div class="col-xs-12 butdivs">

                 <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />

                 &nbsp;
                 <a href='@Url.Action("Index", "ShippingAgent", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

             </div>
         </div>
     </fieldset>
}

</section>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
