@*@model IEnumerable<DAL.Report_BalanceSheet_Result>*@
@using TrueBooksMVC.Models;
@using DAL;
@using System.Text;

@{
    Layout = null;
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Balance Sheet</title>

</head>
<body>
    <div class="row">
    <div class="col-md-12" style="background-color:white">
         @{
                
           
                DateTime fromdate = Convert.ToDateTime(ViewBag.fromdate);
                DateTime todate = Convert.ToDateTime(ViewBag.todate);
                
                string path=System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
                string url = path + "/Reports/balancesheet.aspx?fromdate=" + fromdate + "&todate=" + todate;
                
                <iframe src="@url" style="width:100%;height:1200px"></iframe>
            }
    </div>
</div>

@*    <div class="row">
        <div class="col-md-12" style="background-color: white; padding-top: 20px;padding-bottom:20px">
             <p style="border-bottom:solid 1px black;width: 850px;">
                @{
                SHIPPING_FinalEntities db1 = new SHIPPING_FinalEntities();
                var data = (from c in db1.AcCompanies select c).FirstOrDefault();
              <b>@data.AcCompany1</b><br />
              <span>@data.Address1 &nbsp; @data.Address2 &nbsp; @data.Address3</span>
                
            }
           
              
           </p>
                <table border="0" style="width: 783px; background-color: white; margin-bottom: 25px; border-color: white;" class="details">
                          <tr>
                                   @{
                       DateTime tdate = Convert.ToDateTime(TempData["tdate"]);
                   }
                              <td style="text-align:center"><h4>BALANCE SHEET &nbsp; As On : @TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@tdate)</h4></td>
                          </tr>
              
                </table>
            <table border="0"style=" width:850px; background-color: white; margin-bottom: 25px; border-color: white;" class="details"  class="table table-responsive">
           
                <tr style="font-weight: bold;border-bottom-color: black;border-bottom:solid 1px black;border-top:solid 1px black">

                    <td>Particulars</td>
                   <td style="text-align:right">Amount</td>
                </tr>

                        @foreach (var item in Model)
                    {
                        
                      
           
                        <tr style="border-style: none" class="headingfont">
                            <td>@item.AcGroup&nbsp;&nbsp;&nbsp; @item.AcHead</td>
                            <td style="text-align:right">@string.Format("{0:n2}", @item.Amount)</td>
                          
                         
                        </tr>
                    }
             
             
            </table>
        </div>
    </div>*@


</body>
</html>
