@model TrueBooksMVC.Models.CustomerRcieptVM

@{
    ViewBag.Title = "CustomerReciept";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var staffmodel = ViewBag.StaffNoteModel as IEnumerable<TrueBooksMVC.Models.StaffNoteModel>;
    var spath = System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();
    var CustomerNotification = ViewBag.CustomerNotification as IEnumerable<TrueBooksMVC.Models.CustomerNotificationModel>;
    var CustomerDetails = ViewBag.CustomerDetail as DAL.CUSTOMER;
}


<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/MyJsFiles/CustomerRecieptJS.js")"></script>
<style>
    .form_field {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        padding: 16px;
        margin-top: 21px;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 17px;
        color: #1b1919 !important;
    }
    #staffmodelbody {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        $("textarea").css({ "border-radius": "5px" });
        $("#divCash").css({ "display": "none" });
        $("#divBank").css({ "display": "block" });

        $(".chkAllocate").prop("checked", true);
        $("#FMoney").attr("readonly", false);

          if ('@Model.RecPayID' == 0) {
            $("#CurrencyId").val('@Session["BaseCurrencyId"]');
            $("#EXRate").val('1.00');

        }
        var wt = $("#EXRate").val();
        $("#EXRate").val(parseFloat(wt).toFixed(2));

        $("#EXRate").blur(function () {
            var wt = $(this).val();
            $("#EXRate").val(parseFloat(wt).toFixed(2));

        });
        $("#FMoney").blur(function () {
            var wt = $(this).val();
            $("#FMoney").val(parseFloat(wt).toFixed(2));
        });

        $(".chkAllocate").click(function () {
            if ($(".chkAllocate").is(':checked')) {

                $("#FMoney").attr("readonly", false);
                $(".readonlyamt").show();
                $(".textamt").hide();
            }
            else {

                $("#FMoney").attr("readonly", true);
                $(".readonlyamt").hide();
                $(".textamt").show();
            }
        });

        //$.ajax({
        //    type: "POST",
        //    url: "/CustomerReciept/GetInvoiceOfCustomer",

        //    datatype: "Json",
        //    data: { ID: $('#RecPayID').val()},
        //    success: function (data) {
        //        debugger;
        //        for (var i = 0; i < data.length; i++) {
        //            $('#tbl1').append('<tr>' +
        //                                       '<td>' + data[i].InvoiceNo + ' <input id="" name="customerRcieptVM[' + i + '].InvoiceNo" value=' + data[i].InvoiceNo + ' type="hidden"></td>' +
        //                                       '<td>' + data[i].JobCode + '<input id="" name="customerRcieptVM[' + i + '].JobCode" value=' + data[i].JobCode + ' type="hidden"></td>' +
        //                                       '<td>' + data[i].InvoiceDate + '<input id="" name="customerRcieptVM[' + i + '].InvoiceDate" value=' + data[i].InvoiceDate + ' type="hidden"></td>' +
        //                                       '<td>' + data[i].AmountToBeRecieved + '<input id="" name="customerRcieptVM[' + i + '].AmountToBeRecieved" value=' + data[i].AmountToBeRecieved + ' type="hidden"></td>' +
        //                                       '<td>' + data[i].AmtPaidTillDate + '<input id="" name="customerRcieptVM[' + i + '].AmtPaidTillDate" value=' + data[i].AmtPaidTillDate + ' type="hidden"></td>' +
        //                                       '<td>' + data[i].Balance + '<input id="" name="customerRcieptVM[' + i + '].Balance" value=' + data[i].Balance + ' type="hidden"></td>' +
        //                                        //'<td>' + data[i].Amount + '<input id="" name="customerRcieptVM[' + i + '].Amount" value=' + data[i].Amount + ' type="hidden"></td>' +
        //                                       '<td> <input type="text" id="" name=customerRcieptVM[' + i + '].Amount> <input  name="customerRcieptVM[' + i + '].Amount" value=' + data[i].Amount + ' type="hidden"> ' +

        //                                       '<tr>');
        //        }
        //    }
        //});

        $(".amt").blur(function () {

            var curror = $(this).parent("div").parent("td").parent("tr");
            var amt = parseFloat($(curror).find("td").eq(2).find("div").find('input[type=hidden]').val());

            var allocateamt = parseFloat($(curror).find("td").eq(3).find("div").find(".amt").val());
            if (allocateamt == "") {
                allocateamt = 0;
            }

            if (allocateamt > amt) {
                $(curror).find("td").eq(3).find("div").find(".amt").val(amt);

            }
            else {
                $(curror).find("td").eq(3).find("div").find(".amt").val(allocateamt);
            }
        });

        $(".aamt").blur(function () {

            var amt = parseFloat($(this).val());
            var f = 0;
            $("#tbl1 tr").not(":first").each(function () {

                var a = $(this).find("td").eq(5).text();
                if (a == "")
                    a = 0;
                if (a < amt && f == 0) {

                    $(this).find("td").eq(6).find(".amt").val(parseFloat(a).toFixed(2));
                    amt = amt - parseFloat(a);
                }
                else {
                    f = 1;
                }
            });
        });


        $(".aeamt").blur(function () {
            var amt = parseFloat($(this).val());
            var f = 0;
            $("#tbl1 tr").not(":first").each(function () {

                var a = $(this).find("td").eq(2).find("div").find('input[type=hidden]').val();
                if (a == "")
                    a = 0;
                if (a < amt && f == 0) {
                    {
                        $(this).find("td").eq(3).find("div").find(".amt").val(parseFloat(a).toFixed(2));
                        amt = amt - parseFloat(a);
                    }
                }
                else {
                    f = 1;
                }
            });
        });


        if ($("#RecPayID").val() > 0) {
            if ($("#StatusEntry").val() == "BK") {
                $("#Bank").prop('checked', true);
                $("#Cash").prop('checked', false);
                $("#Bank").trigger("click");
            }
            else if ($("#StatusEntry").val() == "CS") {
                $("#Cash").prop('checked', true);
                $("#Bank").prop('checked', false);
                $("#Cash").trigger("click");
            }


            var money = parseFloat($("#FMoney").val());
            $("#FMoney").val(money.toFixed(2));

            var exrate = parseFloat($("#EXRate").val());
            $("#ExRate").val(exrate.toFixed(2));
        }

        Comma($(".aeamt").val());

        $('.txtNum').blur(function () {
            if (isNaN(parseInt($(this).val()))) {
                $(this).val('0.00');
            } else {
                var amt = parseFloat($(this).val());
                $(this).val(amt.toFixed(2));
            }
        });

        function ValidateTotal() {
            debugger;
            var TotalAmount = 0;
            $('#tbl1 tr').not(':first').each(function (i, obj) {
                debugger;
                var AmountToBeRecieved = parseFloat($(obj).find('.AmountToBeRecieved').val());
                var AmountReceived = parseFloat($(obj).find('.AmountReceived').val());


                if (isNaN(AmountToBeRecieved) == false && isNaN(AmountReceived) == false) {
                    if (AmountReceived > AmountToBeRecieved) {
                        $('#msg1').show();
                        $('#msg1').text('Amount cannot be greater than Invoice Amount.');
                        return false;
                    } else {
                        $('#msg1').hide();
                    }
                }

                if (isNaN(AmountReceived) == false) {
                    TotalAmount = TotalAmount + AmountReceived;
                }
            });

            var TotalInvoiceAmount = parseFloat($('.TotalInvoiceAmount').val());
            if (TotalAmount > TotalInvoiceAmount) {
                $('#msg1').show();
                $('#msg1').text('Sum of Amount cannot be greater than Total Invoice Amount');
                return false;
            } else {
                return true;
            }
        }
        $('#tbl1').on('blur', '.amt', function () {
            var result = ValidateTotal();
        });

        $('form').submit(function (e) {
            debugger;
            var result = ValidateTotal();
            if (result == false) {
                e.preventDefault();
            }
        });
         

    });
    function Printreceipt(id) {
        if (id > 0) {
            var url = '@spath' + "/Reports/ReceiptVocher.aspx?recpayid=" + id;
            //var src = "http://localhost:1052/Reports/ReceiptVocher.aspx?recpayid=" + id;
            window.open(url, "_blank");
        } else {
            alert("Receipt not Created !!")

        }
    }
</script>

<script>
    function Comma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        $(".aeamt").val(x1 + x2);
    }
</script>

<script type="text/javascript">
    function CheckAmt(x) {
        debugger;
        var curror = $(x).parent("td").parent("tr");
        var amt = parseFloat($(curror).find("td").eq(5).text());
        var allocateamt = parseFloat($(curror).find("td").eq(6).find(".amt").val());

        if (allocateamt > amt) {
            $(curror).find("td").eq(6).find(".amt").val(amt.toFixed(2));
        }
        else {
            $(curror).find("td").eq(6).find(".amt").val(allocateamt.toFixed(2));
        }
    }
     function ShowStaffNotes() {
         if ('@Model.RecPayID' > 0) {
             $("#StaffNoteModal").modal('show');
        } else {
            alert("Receipt not Created !!")
        }
    }
    function ShowCustomerNotification() {
         if ('@Model.RecPayID' > 0) {
             $("#CustomerNotificationmodel").modal('show');
        } else {
            alert("Receipt not Created !!")
        }
    }
    function SaveStaffNotes() {
           var Jobid = '@Model.RecPayID';
        var staffnote = $("#txtStaffnote").val();
        if (staffnote == "" || staffnote == null) {
            alert("Please Enter Your Notes !")
        } else {
            $.ajax({
                type: "GET",
                url: "/CustomerReciept/UpdateStaffNote",
                datatype: "Json",
                data: { Jobid: Jobid, staffnote: staffnote },
                success: function (data) {
                    if (data.success == true) {
                        $.notify("Notes Submitted Successfully !!", "success");
                        $("#txtStaffnote").val('');
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        $.notify(data.message, "error");
                        $('#StaffNoteModal').modal('hide');
                    }
                }
            });
        }
    }
     function SaveCustNotes() {
           var Jobid = '@Model.RecPayID';
         var Custid = '@Model.CustomerID';
         var isemail = false;
         var iswhatsapp = false;
         var issms = false;
         if ($("#Isemail").prop('checked') == true) {
             isemail = true;
         }
         if ($("#Issms").prop('checked') == true) {
             issms = true;
         }
         if ($("#Iswhatsapp").prop('checked') == true) {
             iswhatsapp = true;
         }
         var staffnote = $("#txtcustMessage").val();
         if (staffnote == "" || staffnote == null) {
             alert("Please Enter Your Message !")
         } else if (isemail == false && issms == false && iswhatsapp == false)
         {
             alert("Please select any one of the notification method !")
         }
         else {
            $.ajax({
                type: "GET",
                url: "/CustomerReciept/SendCustomerNotification",
                datatype: "Json",
                data: { JobId: Jobid, Message: staffnote, Customerid: Custid, whatsapp: iswhatsapp, Email: isemail, sms: issms },
                success: function (data) {
                    if (data.success == true) {
                        $.notify("Notification Sent Successfully !!", "success");
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        $.notify(data.message, "error");
                        $('#CustomerNotificationmodel').modal('hide');
                    }
                }
            });
        }
    }
    function PaymentModeChange() {
        var val = $("#PaymentMode").val();
        if (val == 1) {
            $("#divCash").css({ "display": "none" });
            $("#divBank").css({ "display": "block" });
            $("#ChequeNo").attr({ "disabled": false })
            $("#ChequeDate").attr({ "disabled": false })
        } else {
            $("#divBank").css({ "display": "none" });
            $("#divCash").css({ "display": "block" });
            $("#ChequeNo").attr({ "disabled": true })
            $("#ChequeDate").attr({ "disabled": true })
        }

    }
</script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div ng-app="MyApp" ng-controller="MyController">
        <div class="wrapper" dir="ltr" id="main" runat="server">

            @* <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Gerenal</a></li>
                        <li class="active">Reciepts</li>
                    </ol>
                    <br />

                </section>*@
            <!-- Main content -->
            <section class="content">
                <div class="inner-wrapper">
                    <div class="row page-title">
                        <div class="col-xs-12">
                            <section class="content-header">
                                <h1>Customer Receipt-Shipping<small></small></h1>

                            </section>

                        </div>
                    </div>

                    <div class="row back-to-list">
                        <div class="col-xs-10" style="padding-left: 30px">
                            <a href='@Url.Action("CustomerRecieptDetails", "CustomerReciept", new { id = 0 })' class="btn btn-primary  btnwidth">Back to list</a>
                            @Html.HiddenFor(model => model.RecPayID)
                            @Html.HiddenFor(model => model.RecPayDetailID)
                            @Html.HiddenFor(model => model.AcJournalID)
                            @Html.HiddenFor(model => model.StatusEntry)
                        </div>
                        <div style="text-align:right;" class="col-xs-2">
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">

                                    <!-- User Account Menu -->
                                    <li class="dropdown user user-menu">
                                        <!-- Menu Toggle Button -->

                                        <ul class="dropdown-menu extended logout" style="top:0%!important">
                                            <li><a style="color:#35b8eb;cursor:pointer" onclick="Printreceipt(@Model.RecPayID)">Print</a></li>
                                            <li><a style="color:#35b8eb;cursor:pointer" onclick="ShowStaffNotes()">Staff Notes</a></li>
                                            <li><a style="color:#35b8eb;cursor:pointer" onclick="ShowCustomerNotification()">Customer Notification</a></li>
                                        </ul>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i style="font-size: 30px;color:#35b8eb;padding-top: 11px;" class="fa fa-cog"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_field">
                        @*<div class="row no-margin form-layout" style="padding-top: 10px">
                            <div class="col-xs-12">
                                <input type="radio" value="Cash" id="Cash" class="rdo-btn" ng-checked="ck" ng-model="Cash" ng-click="disabledCash=true; ShowHide()" />
                                <span style="color:#000; font-weight: bold; font-size: 17px">Cash</span>&nbsp;&nbsp;&nbsp;
                                <input type="radio" value="Bank" id="Bank" class="rdo-btn spacer15" ng-model="Bank" ng-click="disabledCash=false; ShowHide2()" />
                                <span style="color:#000; font-weight: bold; font-size: 17px">Bank</span>
                            </div>
                        </div>*@
                        <div class="row no-margin form-layout" style="padding-top: 10px">
                            <div class="col-xs-12 col-sm-4">
                                <label class="headinglabel">Document No</label>
                                @Html.TextBoxFor(model => model.DocumentNo, new { @Value = ViewBag.DocumentNos, @class = "form-control", @readonly = "readonly" })

                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label class="headinglabel">Date</label>
                                @Html.TextBoxFor(model => model.RecPayDate, new { Value = Model.RecPayDate.Value.ToString("dd-MMM-yyyy"), @class = "form-control" })

                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <label class="headinglabel">Payment Mode</label>
                                <select id="PaymentMode"class="form-control" onchange="PaymentModeChange()">
                                    <option value="1">Bank</option>
                                    <option value="2">Cash</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div id="divCash">
                                    <label class=" required headinglabel">Cash</label>
                               
                                    @Html.DropDownListFor(model => model.CashBank, new SelectList(@ViewBag.achead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })

                                </div>
                                <div id="divBank">
                                    <div class="form-title">
                                        <label class=" required headinglabel">Bank</label>
                                    </div>
                                    <div class="form-field">
                                        
                                        @Html.DropDownListFor(model => model.ChequeBank, new SelectList(@ViewBag.acheadbank, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin form-layout" style="padding-top: 10px">
                            <div class="col-xs-12 col-sm-4">
                                <label class=" required headinglabel">Cheque No</label>
                                @Html.TextBoxFor(model => model.ChequeNo, new {  @class = "form-control textright" })

                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <label class=" required headinglabel">Cheque Date</label>
                                @if (Model.ChequeDate != null)
                                {
                                    @Html.TextBoxFor(m => m.ChequeDate, new { Value = Model.ChequeDate.Value.ToString("dd-MMM-yyyy"), id = "", @class = "form-control" })
                                }
                                else
                                {

                                    @Html.TextBoxFor(model => model.ChequeDate, new {  @class = "form-control" })
                                }
                            </div>
                            @if (Model.RecPayID <= 0)
                            {
                                <div class="col-xs-12 col-sm-4">
                                    <label class=" required headinglabel">Customer</label>
                                    @Html.DropDownListFor(model => model.CustomerID, (SelectList)ViewBag.Customer, "Select", new { ng_model = "CustomerID", ng_change = "getInvoice()", @class = "form-control", required = "required" })

                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12 col-sm-4">
                                    <label class=" required headinglabel">Customer</label>
                                    @Html.DropDownListFor(model => model.CustomerID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })


                                </div>

                            }

                        </div>

                        <div class="row no-margin form-layout" style="padding-top: 10px">
                            @if (Model.RecPayID <= 0)
                            {
                                <div class="col-xs-12 col-sm-4">
                                    <label class=" required headinglabel">Currency</label>
                                    @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, "Select", new { ng_model = "ExR", ng_change = "getselectval()", @class = "form-control", required = "required" })

                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <label class="headinglabel">Exchange Rate</label>
                                    @Html.TextBoxFor(model => model.EXRate, new { ng_model = "exChangeRate", @class = "form-control textright" })

                                </div>@*

                        <div class="col-xs-12 col-sm-2">
                                <input type="checkbox" class="chkAllocate" />&nbsp;&nbsp;&nbsp;<label class="headinglabel">Auto Allocate</label>

                        </div>
                                *@<div class="col-xs-12 col-sm-4">
                                    <label class=" required headinglabel">Amount</label>
                                    @Html.TextBoxFor(model => model.FMoney, new { ng_model = "Amt", ng_change = "getvalueofamount()", @class = "form-control aamt textright TotalInvoiceAmount", required = "required" })

                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12 col-sm-4">
                                    <label class="headinglabel">Currency</label>

                                    @Html.DropDownListFor(model => model.CurrencyId, (SelectList)ViewBag.Currency, "Select", new { @class = "form-control" })
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <label class="headinglabel">Exchange Rate</label>
                                    @Html.TextBoxFor(model => model.EXRate, new { @readonly = "readonly", @class = "form-control" })

                                </div>


                                <div class="col-xs-12 col-sm-2">
                                    <label class="headinglabel">Amount</label>
                                    @Html.TextBoxFor(model => model.FMoney, new { @class = "form-control textright aeamt", @readonly = "readonly" })

                                    @Html.HiddenFor(model => model.AcCompanyID)
                                    @Html.HiddenFor(model => model.AcJournalID)
                                    @Html.HiddenFor(model => model.BusinessCentreID)
                                    @Html.HiddenFor(model => model.DocumentNo)
                                    @Html.HiddenFor(model => model.RecPayID)
                                    @Html.HiddenFor(model => model.FMoney)
                                    @Html.HiddenFor(model => model.FYearID)
                                    @Html.HiddenFor(model => model.RecPayDate)
                                    @Html.HiddenFor(model => model.RecPayID)
                                    @Html.HiddenFor(model => model.Remarks)
                                    @Html.HiddenFor(model => model.SupplierID)
                                    @Html.HiddenFor(model => model.CurrencyId)
                                    @Html.HiddenFor(model => model.EXRate)
                                    @Html.HiddenFor(model => model.FMoney)

                                </div>

                            }


                        </div>
                        <div class="row no-margin form-layout" style="padding-top: 10px">
                            <div class="col-xs-12 col-sm-4">
                                <label class="headinglabel">Remarks</label>
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control txttarget" })
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <p style="color:red;display:none;font-size: 15px;margin-top: 30px;" id="msg1">Amount Paid TillDate + Amount Allocated cannot be greater than Balance.</p>
                            </div>
                        </div>
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-xs-12 no-padding for-device">
                                <div class="data-table payment-div">
                                    @* <div class="heading">
                                <div class="title1">Invoice No</div>
                                <div class="title2">Job Code</div>
                                <div class="title3">Invoice Date</div>
                                <div class="title4">Amount To Be Received</div>
                                <div class="title5">Amount Already Received</div>
                                <div class="title6">Balance</div>
                                <div class="title7">Amount</div>
                            </div>*@
                                    <div class="data">
                                        <table border="1" style="margin-top: 15px; " class="table table-responsive tblbackground" id="tbl1">
                                            @if (Model.RecPayID > 0)
                                            {
                                                <tr style="font-weight: bold">
                                                    <td>Invoice No</td>

                                                    <td>Invoice Date</td>
                                                    <td>Invoice Amount</td>
                                                    <td>Amount Received</td>
                                                    @*<td>Balance</td>
                                            <td>Amount Allocated</td>*@
                                                </tr>


                                                for (int i = 0; i < Model.CustomerRcieptChildVM.Count; i++)
                                                {

                                                    <tr>

                                                        <td>
                                                            <div class="data1">
                                                                @*@Model.CostUpdationDetails[i].JobCode*@
                                                                @Model.CustomerRcieptChildVM[i].InvoiceID
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].InvoiceID)
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].RecPayID)
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].RecPayDetailID)
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].CurrencyId)
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].InvoiceNo)
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="data1">
                                                                @*@Model.CostUpdationDetails[i].JobCode*@
                                                                @if (@Model.CustomerRcieptChildVM[i].InvoiceDate != null)
                                                                {
                                                                    @TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@Model.CustomerRcieptChildVM[i].InvoiceDate)
                                                                    @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].InvoiceDate)
                                                                }
                                                                else
                                                                {
                                                                    @Model.CustomerRcieptChildVM[i].InvoiceDate
                                                                    @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].InvoiceDate)
                                                                }
                                                            </div>
                                                        </td>

                                                        <td style="text-align: right;">
                                                            <div class="data1">
                                                                @*@Model.CostUpdationDetails[i].JobCode*@
                                                                @*   @Model.recPayDetail[i].Amount*@
                                                                @Html.HiddenFor(item => @Model.CustomerRcieptChildVM[i].AmountToBeRecieved, new { @Class = "AmountToBeRecieved" })
                                                                @string.Format("{0:n2}", @Model.CustomerRcieptChildVM[i].AmountToBeRecieved)
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="data1">
                                                                @*@Model.CostUpdationDetails[i].JobCode*@
                                                                @Html.TextBoxFor(item => @Model.CustomerRcieptChildVM[i].Amount, string.Format("{0:n2}", @Model.CustomerRcieptChildVM[i].Amount), new { @Class = "amt txtNum text-right AmountReceived" })


                                                            </div>
                                                        </td>
                                                        @* <td style="text-align: right;">
                                                    <div class="data6">{{order.Balance | currency:""}}</div>
                                                </td>*@
                                                        @*<td style="text-align: right;">

                                                     <div class="data7 readonlyamt">{{order.Amount | currency:""}}</div>
                                                    <div class="data7 textamt" style="display:none"><input type="text" ng-bind="{{order.Amount}}" value="{{order.Amount}}" /></div>

                                                </td>*@
                                                    </tr>
                                                    @*<tr>
                                                <td>
                                                    <div class="data1">&nbsp;</div>
                                                </td>
                                                <td>
                                                    <div class="data2">&nbsp;</div>
                                                </td>
                                                <td>
                                                    <div class="data3">&nbsp;</div>
                                                </td>
                                                <td style="text-align: right;">
                                                    <div class="data4"><b>{{FinalAmount | currency:""}}</b></div>
                                                </td>
                                                <td style="text-align: right;">
                                                    <div class="data5">&nbsp;</div>
                                                </td>
                                                <td style="text-align: right;">
                                                    <div class="data6"><b>{{leftAmt | currency:""}}</b></div>
                                                </td>
                                                <td style="text-align: right;">
                                                    <div class="data7"><b>{{TotalAmt | currency:""}}</b></div>

                                                </td>
                                            </tr>*@
                                                }
                                            }

                                            else
                                            {

                                                <tr style="font-weight: bold">
                                                    <td>Invoice No</td>
                                                    <td>Job Code</td>
                                                    <td>Invoice Date</td>
                                                    <td>Invoice Amount</td>
                                                    <td>Amount Received</td>
                                                    <td>Balance</td>
                                                    <td>Amount Allocated</td>
                                                </tr>




                                                @*<tr ng-repeat="order in Orders">

                                            <td>
                                              //  <div class="data1 textright">{{order.InvoiceNo}}</div>
                                           </td>
                                           <td>
                                               <div class="data2 textright">{{order.JobCode}}</div>
                                            </td>
                                            <td>
                                                <div class="data3">{{order.InvoiceDate | date : '0:dd MMM yyyy'}}</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data4">{{order.AmountToBeRecieved | currency:""}}</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data5">{{order.AmtPaidTillDate | currency:""}}</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data6">{{order.Balance | currency:""}}</div>
                                            </td>
                                            <td style="text-align: right;">

                                                  <div class="data7">{{order.Amount | currency:""}}</div>
                                                <input type="text" ng-bind="{{order.Amount}}" value="{{order.Amount}}" />
                                                <div class="data7 readonlyamt">{{order.Amount | currency:""}}</div>
                                                <div class="data7 textamt" style="display: none">
                                                    <input type="text" ng-bind="{{order.Amount}}" ng-model="Amount" value="{{order.Amount}}" /></div>

                                            </td>
                                        </tr>*@
                                                @*  <tr>
                                            <td>
                                                <div class="data1">&nbsp;</div>
                                            </td>
                                            <td>
                                                <div class="data2">&nbsp;</div>
                                            </td>
                                            <td>
                                                <div class="data3">&nbsp;</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data4"><b>{{FinalAmount | currency:""}}</b></div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data5">&nbsp;</div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data6"><b>{{leftAmt | currency:""}}</b></div>
                                            </td>
                                            <td style="text-align: right;">
                                                <div class="data7"><b>{{TotalAmt | currency:""}}</b></div>
                                            </td>
                                        </tr>*@
                                            }
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin buttons spacer9" style="padding-top: 10px">
                            <div class="col-xs-12 butdivs">
                                @*   <input type="button" id="save_btn" value="Save" class="btn-style" />
                        <input type="button" id="cancel_btn" value="Cancel" class="btn-style" />*@
                                @if (Model.RecPayID > 0)
                                {
                                    <input type="submit" class="btn btn-primary  btnwidth" value="Update" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary  btnwidth" value="Save" name="Command" />
                                }
                                <a href='@Url.Action("CustomerRecieptDetails", "CustomerReciept", new { id = 0 })' class="btn btn-danger  btnwidth">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wrapper">
                    <div id="page-wrapper">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="modal fade StaffNoteModal" id="StaffNoteModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="width:70%">
                                        <div class="modal-content">

                                            <div class="modal-header" style="background-color: #f5f5f5;">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                <h4 class="modal-title" id="StaffNoteModal1">
                                                    <span style="font-size: 18px; color: #3c8dbc !important; text-align:center">Staff Notes</span>
                                                </h4>
                                            </div>

                                            <div class="modal-body" id="staffmodelbody">
                                                <div class="container-fluid">
                                                    <div class="row" style="padding-top: 5px">
                                                        <div class="col-sm-12">
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-12">
                                                                    <label>Enter Your Note</label>
                                                                    <textarea id="txtStaffnote" rows="4" cols="100"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-12">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="18%">Date</th>
                                                                                <th width="15%">Staff</th>
                                                                                <th style="text-align:center !important">Notes</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var staffnote in staffmodel)
                                                                            {

                                                                                <tr>
                                                                                    <td width="18%">@staffnote.Datetime</td>
                                                                                    <td width="15%">@staffnote.EmpName</td>
                                                                                    <td>@staffnote.TaskDetails</td>
                                                                                </tr>


                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="padding-top: 5px;text-align:right">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <button type="button" name="SaveStaffnote" class="btn btn-primary" onclick="SaveStaffNotes()" id="SaveStaffnote">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="wrapper">
                    <div id="page-wrapper">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="modal fade CustomerNotificationmodel" id="CustomerNotificationmodel" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="width:70%">
                                        <div class="modal-content">

                                            <div class="modal-header" style="background-color: #f5f5f5;">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                                <h4 class="modal-title" id="CustomerNotificationmodel1">
                                                    <span style="font-size: 18px; color: #3c8dbc !important; text-align:center">Customer Notification</span>
                                                </h4>
                                            </div>

                                            <div class="modal-body" id="staffmodelbody">
                                                <div class="container-fluid">
                                                    <div class="row" style="padding-top: 5px">
                                                        <div class="col-sm-12">
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-4">
                                                                    <label>TO  </label>
                                                                </div>
                                                                <div class="col-xs-7 col-sm-8">
                                                                    <label>@CustomerDetails.Customer1 </label>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-4">
                                                                    <label><input type="checkbox" id="Isemail" /> Email  </label>
                                                                </div>
                                                                <div class="col-xs-7 col-sm-8">
                                                                    <span>@CustomerDetails.Email  </span>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-4">
                                                                    <label><input type="checkbox" id="Issms" /> SMS  </label>
                                                                </div>
                                                                <div class="col-xs-7 col-sm-8">
                                                                    <span>@CustomerDetails.MobileNumber </span>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-4">
                                                                    <label><input type="checkbox" id="Iswhatsapp" /> WhatsApp  </label>
                                                                </div>
                                                                <div class="col-xs-7 col-sm-8">
                                                                    <span>@CustomerDetails.WhatsAppNumber </span>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-12">
                                                                    <label>Enter Your Message</label>
                                                                    <textarea id="txtcustMessage" rows="4" cols="100"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-xs-7 col-sm-12">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="18%">Date</th>
                                                                                <th width="15%">Staff</th>
                                                                                <th width="15%">Is Email</th>
                                                                                <th width="15%">Is SMS</th>
                                                                                <th width="15%">Is WhatsApp</th>
                                                                                <th style="text-align:center !important">Message</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var CustNotify in CustomerNotification)
                                                                            {

                                                                                <tr>
                                                                                    <td width="18%">@CustNotify.Datetime</td>
                                                                                    <td width="15%">@CustNotify.EmpName</td>
                                                                                    <td width="15%">@CustNotify.IsEmail</td>
                                                                                    <td width="15%">@CustNotify.IsSms</td>
                                                                                    <td width="15%">@CustNotify.IsWhatsapp</td>
                                                                                    <td>@CustNotify.Message</td>
                                                                                </tr>


                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="padding-top: 5px;text-align:right">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                <button type="button" name="SaveStaffnote" class="btn btn-primary" onclick="SaveCustNotes()" id="SaveStaffnote">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
}

<div>
</div>

<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {
        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        $('#RecPayDate').datepicker({

            dateFormat: 'dd-M-yy',
            minDate: sd,
            maxDate: ed,
            changeYear: true, changeMonth: true,
        });

      
        $('#ChequeDate').datepicker({
            dateFormat: 'dd-M-yy',
            minDate: sd,
            maxDate: ed,
            changeYear: true, changeMonth: true
        });
        $('#RecPayDate').datepicker("setDate", new Date());
        //$('#ChequeDate').datepicker("setDate", sd);

    });
</script>
