@{
    ViewBag.Title = "CustomerLedger";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        /*  max-width: 765px;*/
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script src="@Url.Content("~/MyJsFiles/PrintReportInvoices.js")"></script>
<script type="text/javascript">



    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>

<script>
    $(function () {

        var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);


        $(".datepicker").datepicker({
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            minDate: sd,
            maxDate: ed,
        });

        function GetCurrentDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }

        function GetStartDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date("@Session["FyearFrom"].ToString()");
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }
          function GetEndDate() {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");

            var d = new Date("@Session["FyearTo"].ToString()");
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }
        $("#txtfrom").val(GetStartDate());
        $("#txtto").val(GetEndDate());



     @* $.ajax({
          url: "@Url.Action("CustomerLedger", "GetCustomerLedger")",
          data: { custid: $("#CustomerID option:selected").val(), frmdate: $("#txtfrom").val(), tdate: $("#txtto").val() },
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#result").html(data.view);
            },
            error: function () {
                alert("Failed! Please try again.");
            }
        });*@



        $("#btnsearch").click(function () {
            var from = $("#txtfrom").val();
            var dto = $("#txtto").val();

            if (from == "") {
                $("#error").show();
                return false;
            }
            else if (dto == "") {
                $("#error").show();
                return false;
            }
            else if ($("#CustomerID option:selected").val() == "") {
                $("#error").show();
                return false;
            }
            else {
                $("#error").hide();
                //  vaif(r newfrom = from.getDay() + "/" + from.getMonth() + "/" + from.getFullYear();
                //  var newto = dto.getDay() + "/" + dto.getMonth() + "/" + dto.getFullYear();
                //alert(newfrom);
                //alert(newto);
                var custid = $("#CustomerID option:selected").val();
                showLoading();
                $.ajax({
                    url: "@Url.Action("GetCustomerLedger", "CustomerLedger")",
                    data: { custid: custid, frmdate: from, tdate: dto },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        hideLoading();
                        $("#result").html(data.view);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
            }
        });


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });




    });




</script>


<section class="content-header">
    <h1 class="headingfont">Customer Ledger</h1>
</section>

<section class="content-header">
    <div class="searchdiv">
        <div id="error" style="color:red;font-family:Calibri;display:none">* Are Mandatory Fields.</div>


        <div class="row no-margin">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="headinglabel required">From:</label>

                    </div>
                    <div class="col-md-12">
                        <input type="text" class="datepicker form-control" id="txtfrom" />
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        <label class="headinglabel required">To:</label>

                    </div>
                    <div class="col-md-12">
                        <input type="text" class="datepicker form-control" id="txtto" />
                    </div>
                </div>


            </div>

            <div class="col-md-4">

                <div class="row">
                    <div class="col-md-12">
                        <label class="required headinglabel">Customer:</label>
                    </div>
                    <div class="col-md-12">
                        @Html.DropDownList("CustomerID", ViewBag.customers as SelectList, "Select", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-margin" style="padding-top:10px">



            <div class="col-md-12 butdivs">
                <button id="btnsearch" class="btn btn-primary btnwid sidebar-toggle" data-toggle="offcanvas">Generate</button>
                @*    <button id="btnprint" class="btn btn-primary" onclick="printDiv('result');">Print</button>*@
            </div>

        </div>
    </div>




    <div class="row no-margin" style="padding-top: 20px">
        <div class="col-md-12 tblbackground">
            <div class="row">
                <div class="col-md-12" id="result">
                </div>
            </div>
        </div>
    </div>



</section>
