@model DAL.Menu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        width: 100%;
        margin: 50px auto;
        max-width: 881px;
    }
    .headinglabel {
        font-family: Calibri;
        font-size: 15px;
        color: #232121 !important;
        font-weight: 600;
        display: inline;
    }
    a.menutrv {
        color: #000 !important;
        font-size: 16px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(".parent").find('ul').css('display', 'none');
        $("ul").css('list-style-type', 'disc');
        $("#Title").focus();
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("a.menutrv").click(function () {
            $("a.menutrv").removeClass("selected");
            $("#ParentID").val($(this).attr('itemid'));
            $(this).addClass("selected");
        });

        $('.parent').click(function () {
            event.stopPropagation();
            $(this).find('ul').slideToggle();
        });

        //$("#btnsave").click(function () {
        //    alert("hii");
        //    $.ajax(
        //     {
        //         type: "POST", //HTTP POST Method  
        //         dataType: "json",
        //         contentType: "application/json; charset=utf-8",
        //           url: "MenuCreation/Create",  
        //           data: "{'Title':'" + $("#Title").val() + "','ParentID': '" + $("#parenthidden").val() + "'}",
        //           success: function (result) {
        //               alert("Success");
        //           }
        //     });
        //    return false;
        //});

        $("#btnsave").click(function () {
            var title = $("#Title").val();
            if (title == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }
        });
    });
</script>

<style>
    .selected {
        display: block;
        height: 25px;
        padding-left: 3px;
        border-radius: 5px;
        background-color: rgb(239,228,176);
    }

    
</style>


<section class="content-header">
    <h1 class="headingfont">Menu Creation</h1>

</section>

@if (ViewBag.SuccessMsg != null)
    {
      <script type="text/javascript">
          $(document).ready(function () {
              $.notify("@ViewBag.SuccessMsg", "success");
          });
                                                </script>
    }

<section class="content jobform">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <fieldset>
           
            <div class="row no-margin">
                <div class="col-md-4">
                    <label class="required headinglabel">Menu Title</label>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.Title)
                    <span id="parentmenu"></span>
                    @Html.HiddenFor(model => model.ParentID)
                </div>
                <div class="col-md-4">
                    <label class="required headinglabel">Navigation Link</label>
                    @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Link)
                </div>

                 <div class="col-md-4">
                    <label class="required headinglabel">Order</label>
                    @Html.TextBoxFor(model => model.MenuOrder, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MenuOrder)
                </div>
            </div>

            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">
                    <label class="required headinglabel">Parent</label>
                    <ul class="treeview-menu">
                       

                        @{
        List<DAL.Menu> menuList = (List<DAL.Menu>)ViewBag.Menu;
        List<DAL.Menu> parentMenu = new List<DAL.Menu>();
        if (menuList != null)
        {

            parentMenu = menuList.Where(p => Convert.ToInt32(p.ParentID) == 0).ToList();
        }
                            <ul>
                                @if (parentMenu != null)
                                {
                                    foreach (var item in parentMenu)
                                    {
                                    <li class="parent">
                                        <a itemid="@item.MenuID"  style="color:#fff;cursor:pointer;" class="menutrv">@item.Title</a>
                                        @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                                        {
                                            @:<ul>
                                        }
                                        @RenderMenuList(menuList, item)
                             @if (menuList.Count(p => p.ParentID == item.MenuID) > 0)
                             {
                              @:</ul>                                                                                                                                                                            
                             }
                                    </li>
                                    }
                                }
                            </ul>
                            @helper RenderMenuList(List<DAL.Menu> menuList, DAL.Menu mi)
{
    foreach (var item1 in menuList.Where(p => p.ParentID == mi.MenuID))
    {
                                @:<li class="parent">
<a itemid="@item1.MenuID" style="color:#fff;cursor:pointer;"  class="menutrv">@item1.Title</a>
        if (menuList.Count(p => p.ParentID == item1.MenuID) > 0)
        {
                                @:<ul>
                                           }
                                @RenderMenuList(menuList, item1)
        if (menuList.Count(p => p.ParentID == item1.MenuID) > 0)
        {
                                @:</ul>
                                           }
        else
        {
                                @:</li>   
                                           }
    }
                            }
                                   
                        }

                    </ul>
                </div>
				</div>
				 <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">
                  
                    @Html.CheckBox("PermissionRequired", new { @name = "PermissionRequired" }) &nbsp <label class="required headinglabel">Permission Required</label>
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12 butdivs">
                    <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />
                    <a href='@Url.Action("Index", "MenuCreation", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                </div>
            </div>
        </fieldset>
    }
</section>


