
@model IEnumerable<DAL.RecPay>

@{
    Layout = null;
    var ismodify = true;
    var isdelete = true;
    var isprint = true;
    var spath = System.Configuration.ConfigurationManager.AppSettings["spath"].ToString();

    string path = "/SupplierPayment/SupplierTradePaymentDetails/0";

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
    var supplier = ViewBag.Suppliers as IEnumerable<DAL.Supplier>;

}
<style>
    table.dataTable tfoot th {
        padding-left: 10px !important;
    }

    table.dataTable thead th {
        padding-left: 10px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example tfoot th:not(:last)').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  style="width:90%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers", "order": [[0, "desc"]]  });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

         $(".print").click(function () {
            var row = $(this).parent("a").parent("td").parent("tr");
            var id = $(row).find("td").eq(0).find('input[type=hidden]').val();
            var url = '@spath' + "/Reports/SupplierPayment.aspx?recpayid=" + id;

            //var src = "http://localhost:1052/Reports/ReceiptVocher.aspx?recpayid=" + id;
            window.open(url, "_blank");
        });
    });
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box-body">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="tab-content">
                        <div class="panel panel-danger">
                            <div class="panel-body">

                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>

                                                <th>Payment Date</th>
                                                <th>Document No</th>
                                                <th>Vendor Name</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                                <th style="width: 120px;">Action</th>

                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>

                                                <th width="12%">Payment Date</th>
                                                <th>Document No</th>
                                                <th width="25%">Vendor Name</th>
                                                <th class="right_text">Amount</th>
                                                <th>Currency</th>
                                                <th style="width: 120px;"></th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(item.RecPayDate)
                                                        @Html.HiddenFor(model => item.RecPayID)
                                                    </td>


                                                    <td>@Html.DisplayFor(modelItem => item.DocumentNo)</td>
                                                    <td class="tdtarget">@supplier.Where(d => d.SupplierID == @item.SupplierID).FirstOrDefault().SupplierName</td>
                                                    <td class="tdtarget">@Html.DisplayFor(modelItem => item.FMoney)</td>
                                                    <td class="tdtarget">@Html.DisplayFor(modelItem => item.Remarks)</td>

                                                    <td>
                                                        @if (ismodify)
                                                        {
                                                            <a href='@Url.Action("SupplierTradePayment", "SupplierPayment", new { id = item.RecPayID })' data-toggle="tooltip" data-placement="left" title="Click here"><i class="fa fa-pencil"></i></a>
                                                        }
                                                        |


                                                        @*  <a href='@Url.Action("DeleteSupplierDet", "SupplierPayment", new { id = item.RecPayID })' data-toggle="tooltip" data-placement="right" title="Click here"><i class="fa fa-times-circle"></i></a>*@
                                                        @if (isdelete)
                                                        {
                                                            <a href="#" onclick="Delete(ID=@item.RecPayID)"><i class="fa fa-times"></i></a>
                                                        }
                                                        |
                                                        @if (isprint)
                                                        {
                                                            <a href="#"><i class="fa fa-print " aria-hidden="true" onclick="funExportToPDF(@item.RecPayID)"></i></a>
                                                        }
                                                        |
                                                        @if (isprint)
                                                        {

                                                            <a href="#"><i class=" fa fa-file-pdf-o print" style="color:red"></i></a>
                                                        }
                                                        @*                                           @Html.ActionLink("Edit", "", new { id = item.RecPayID }) |

                            @Html.ActionLink("Delete", "", new { id = item.RecPayID })*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div id="divPDF" style="display:none">
                                        <div id="printerDiv"><iframe id="frmPDF"></iframe></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      function funExportToPDF(id) {
          showLoading();
        $.ajax({
             url: '@Url.Action("ExportToPDF", "SupplierPayment")',

            type: "GET",
            data: { recpayid:id},
                    dataType: "json",
            success: function (result) {
                if (result.success == true) {
                    $('#frmPDF').attr('src', '@Url.Content("~/")' + result.path);

                    setTimeout(function () {
                        hideLoading();
                        frame = document.getElementById("frmPDF");
                        framedoc = frame.contentWindow;
                        framedoc.focus();
                        framedoc.print();
                    }, 1000);
                } else {
                    alert(result.message);
                    hideLoading();
                }
            },
        });

        return false;
    }
</script>