@model DAL.Voyage

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    }
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Voyage1").focus();
        $(":text").css({ "border-radius": "5px" });



        $("#btnsave").click(function () {

            var ves = $("#Voyage1").val();



            if (ves == "") {
                $("#alert").show();
                return false;
            }

            else {
                $("#alert").hide();
                return true;
            }


        });
    });
</script>


<section class="content-header">
    <h1 class="headingfont">Voyage</h1>
</section>

<section class="content-header">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
      
    <fieldset class="searchdiv">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>

         <div class="row no-margin"> 
             
               
                 <div class="col-md-12">
                      @Html.HiddenFor(model=>model.VoyageID)
                          <label class="required headinglabel">Voyage</label>
                       @Html.TextBoxFor(model => model.Voyage1,new { @class = "form-control txttarget" })
            @Html.ValidationMessageFor(model => model.Voyage1)
                       
                 </div>
               

          </div>

        
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12 butdivs">
                         
                                <input type="submit"  value="Update"  class="btn btn-primary btnwidth" id="btnsave" />
                               
                            &nbsp; 
                                           <a href='@Url.Action("Index", "Vayage", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                           
                        </div>
                    </div>
    </fieldset>
}
    </section>



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
