@model TrueBooksMVC.Models.PaymentTermsVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PaymentTerm").focus();

        $(":text").css({ "border-radius": "5px" });

        $("#btnsave").click(function () {

            var pay = $("#PaymentTerm").val();
            if (pay == "") {
                $("#alert").show();

                return false;
            }

            else {
                $("#alert").hide();
                return true;
            }

         


        });

    });
</script>


<section class="content-header">
    <h1 class="headingfont">Payment Terms</h1>

</section>


<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
       
    <fieldset class="searchdiv">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>

        <div class="row no-margin">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.PaymentTermID)

                <label class="required headinglabel">Payment Terms</label>
                @Html.TextBoxFor(model => model.PaymentTerm, new { @class = "form-control txttarget" })
                @Html.ValidationMessageFor(model => model.PaymentTerm)
            </div>
        </div>



        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-12 butdivs">

                <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />

                &nbsp;
                <a href='@Url.Action("Index", "PaymentTerms", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

            </div>
        </div>
    </fieldset>
    }

</section>


