@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Truebook Shipping</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,400i,500,700|Titillium+Web:600" rel="stylesheet">
    <link href="~/Content/dist/css/Home.css" rel="stylesheet" />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <style>
        .text-danger {
            color: red;
        }

        a {
            cursor: pointer !important;
        }
    </style>
</head>

<body>
    <section class="hero">
        <div class="container">
            <div class="loginBlock">
                <img class="logo" src="~/Content/img/TrueBook_white.png" alt="">
                <h1>Freight Forwarding system</h1>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login clearfix", @role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" id="UserName" name="UserName" class="form-control autoFiled" placeholder="User Name" required />
                    </div>
                    <div class="form-group">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required />

                    </div>
                    <div class="form-group">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        }
                    </div>
                    <div class="otherLogin">
                        <ul>
                            <li><a onclick="SignAsDifferentUser()">Sign In as different user</a></li>
                            <li><a href="#">Forgot Password</a></li>
                            <li><a href="#">Change Password</a></li>
                        </ul>

                        <input type="submit" class="button button-primary button-lg" value="Sign In" />
                    </div>
                }
                <div class="footer">
                    <p>powered by : </p>
                    <img src="~/Content/img/malusoft.png" class="logo2" alt="">
                </div>
            </div>
        </div>

    </section>






</body>

</html>

@Scripts.Render("~/assets/js/jquery/jquery-3.1.1.min.js")
@Scripts.Render("~/assets/js/bootstrap/popper.min.js")
@Scripts.Render("~/assets/js/bootstrap/bootstrap.min.js")
<script type="text/javascript">
    function SignAsDifferentUser() {
        $("#UserName").val('');
        $("#Password").val('');
        $("#UserName").focus();
    }

</script>