@model DAL.UserRegistration
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Triangle | Loging</title>
    <link rel="shortcut icon" href="/Content/img/fav.png" type="image/x-icon">
    <link rel="icon" href="/Content/img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/login/style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto:400,700" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" />

    <style>
        .bg-dark {
            background-color: #122f3b !important;
        }
        .right-column {
            width: 100%;
            -webkit-transition: margin-left 0.225s ease-in-out !important;
            -moz-transition: margin-left 0.225s ease-in-out !important;
            -o-transition: margin-left 0.225s ease-in-out !important;
            transition: margin-left 0.225s ease-in-out !important;
        }
        .tex_field {
         
            float: right;
         padding:0;
            min-height: 716px;
            text-align: left;
        }



        .display-4 {
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 400 !important;
            line-height: 1.2;
            color: #fff;
            letter-spacing: 0.03em;
        }
        .lead {
            font-size: 1.25rem;
            font-weight: 300;
            color: #fff;
            letter-spacing: 0.03em;
        }
        .signin-left-column {
            padding-top: 4rem;
            padding-right: 10rem !important;
            padding-left: 10rem !important;
            min-height: 662px;
        }
        .text-center {
            text-align: center !important;
        }
        .profile-picture.profile-picture-lg {
            width: 150px;
            height: 150px;
            margin: 0 auto;
            display:none;
        }
        .profile-picture {
            width: 48px;
            height: 48px;
            padding-top: 2px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            position: relative;
        }
        .bg-gradient {
            color: #FFFFFF !important;
            background: #07a7e3;
            background: -moz-linear-gradient(-45deg, #07a7e3 0%, #32dac3 100%);
            background: -webkit-linear-gradient(-45deg, #07a7e3 0%, #32dac3 100%);
            background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$qp-color-1, endColorstr=$qp-color-2,GradientType=1 );
            -webkit-transition: opacity 0.2s ease-out;
            -moz-transition: opacity 0.2s ease-out;
            -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
        }

        .bg-primary {
            color: #FFFFFF;
            background-color: #07a7e3 !important;
        }
        .image_user {
            border-radius: 50%;
            /* margin: 0 auto; */
            text-align: center;
            margin-left: 2px;
            margin-top: 1px;
        }
        a:not(.btn) {
            color: #07a7e3;
            -webkit-transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
            -moz-transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
            -o-transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
            transition: color 0.225s ease-in-out, background-color 0.225s ease-in-out;
        }
        .loginbox {
            padding: 21px;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 40px;
            border: 1px solid #d2d2d2;
            box-shadow: 0 2px 0 0 #d2d2d2;
        }
        .from-group {
            margin-bottom: 20px;
        }
        .btn-primary.btn-gradient:after {
            background: #32dac3;
            background: -moz-linear-gradient(-45deg, #32dac3 0%, #32dac3 100%);
            background: -webkit-linear-gradient(-45deg, #32dac3 0%, #32dac3 100%);
            background: linear-gradient(135deg, #32dac3 0%, #32dac3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$qp-color-1, endColorstr=$qp-color-2,GradientType=1 );
            -webkit-transition: opacity 0.2s ease-out;
            -moz-transition: opacity 0.2s ease-out;
            -o-transition: opacity 0.2s ease-out;
            transition: opacity 0.2s ease-out;
        }
        .btn-primary, .btn-primary.dropdown-toggle {
            background-color: #07a7e3 !important;
        }
        .no_row {        
        margin:0;}
        .padding_none {
        padding:0;}

       .top_log {
            /*background-color: #fff;*/
            height: 292px;
            padding: 20px;
           /* border: 4px solid;*/
        }
        ul.list_lics {
            padding: 7px;
        }
        li.itenm_lice {
            list-style-type: none;
        }
        img.log_optc {
            width: 100%;
        }
        .lo_images {
            margin-top: 18%;
        }
        .forwad_sys {
            padding-top: 17%;
            padding-bottom:14%;
        }
        h3.frie_forw {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-size: 56px;
            font-weight: 700;
            font-family: Calibri;
        }
        p.fries_forw {
            text-align: center;
            color: #6d6969;
        }
        .copy_sys {
            padding: 8px;
        }
        p.fries_forw {
            text-align: center;
            color: #6d6969;
        }
        .bg_images {
            background-image: url(Content/img/rightbg.png);
            background-attachment:fixed;
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
        }
    </style>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Content/NewCSS/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="/Content/login/owl.carousel.min.js"></script>




    <script type="text/javascript">
        $(document).ready(function () {
            $('#BranchID').change(function () {
                $('#AcFinancialYearID').empty();
                $('#AcFinancialYearID').append('<option value="0">Select Year</option>');
                $.ajax({
                    type: "POST",
                    url: "/Login/GetFYear",
                    datatype: "Json",
                    data: { id: $('#BranchID').val() },
                    success: function (data) {
                        $('#AcFinancialYearID').empty();
                        $.each(data, function (index, value) {
                            $('#AcFinancialYearID').append('<option value="' + value.AcFinancialYearID + '">' + value.FYearName + '</option>');
                        });
                    }
                      
                });
            });
        });
    </script>

</head>
<body>
    <div class="container-fluid padding_none">
        <div class="row no_row">
            <div class="right-column sisu">
                <div class="row no_row">
                    <div class="col-md-7 col-sm-7 tex_field bg_images">
                        <!-- <a class="signin-logo d-sm-block d-md-none" href="#">
         <img src="~/Content/img/logo.png" width="145" height="32.3" alt="Truelogo">
     </a>-->
                        <div class="col-lg-12 col-sm-12 top_log">
                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12 col-md-4 lincens_tags padding_none">
                                <p class="">Licenced to:</p>
                                <ul class="list_lics">
                                    <li class="itenm_lice">
                                        <p class="cont_line">Opal Shipping LLc:</p>
                                    </li>
                                    <li class="itenm_lice">
                                        <p class="cont_line">Dubai</p>
                                    </li>
                                    <li class="itenm_lice">
                                        <p class="cont_line">U.A.E</p>
                                    </li>
                                    <li class="itenm_lice">
                                        <p class="cont_line">Valid Till: 31 Dec 2019</p>
                                    </li>
                                </ul>
                            </div>
                            <div class=" col-lg-8 col-md-8 col-sm-8 ">
                                <div class="lo_images">

                                    <img src="~/Content/img/logo3.png" class="log_optc" alt="Truelogo">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-12 frt_syst">
                            <div class="forwad_sys">
                                <h3 class="frie_forw"> Freight Forwading System</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 right_cpy">
                            <div class="copy_sys">
                                <p class="fries_forw"> all rights reserved: Malusoft India &vert; Bangalore &vert; Support: +91 8089501000 &vert; Skype: malusoftindia</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 signin-left-column bg-white px-5" style="height: 663px;">
                        <a class="signin-logo d-sm-none d-md-block text-center" href="#">
                            <img src="/Content/img/logo4.png" width="83%" height="19%" alt="QuillPro" style="
     margin-left: 0px;
    margin-bottom: 14px;">
                        </a>
                        <div class="profile-picture profile-picture-lg bg-gradient bg-primary">
                            <img src="~/Content/NewCSS/img/user2-160x160.jpg" class="image_user" width="97%" height="97%">
                        </div>
                        <div class="loginbox">
                            @using (@Html.BeginForm("", "", FormMethod.Post, new { @class = "login clearfix", @role = "form" }))
                            {
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control login", @placeholder = "User Name:" })
                                </div>

                                <div class="input-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control pwd", @placeholder = "Password:" })
                                </div>
                                <div class="input-group">


                                    @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.Branch, "BranchID", "BranchName"), "Select Branch", new { @class = "form-control" })

                                </div>

                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.AcFinancialYearID, new SelectList(ViewBag.fyears, "AcFinancialYearID", "FYearName"), "Select Year", new { @class = "form-control" })
                                </div>

                                <span class="submit">
                                    <input class="loginbtn" type="submit" value="Log in">
                                </span>
                                <span id="errormessage">
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <span style="color: red; font-family: Calibri;">
                                            * @ViewBag.ErrorMessage
                                        </span>
                                    }
                                </span>



                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<script src="js/bootstrap.min.js"></script>*@






    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                370: {
                    items: 2,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: true
                }
            }
        })
    </script>
</body>
</html>
