@model DAL.UserRegistration

@{
    Layout = null;
}
<style>
    h3.frie_forw {
        color: #07a7e3;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700 !important;
        font-family: Calibri;
    }
    .lice_con {
        text-align: center;
        margin-top: 21px;
    }

    .copy_sys {
        padding: 8px;
    }
    p.fries_forw {
        text-align: center;
        color: #6d6969;
        font-size: 10px;
    }
    p.head_secti {
        font-size: 13px;
        font-weight: 800;
    }

    p.lice_forw {
        font-size: 12px;
        font-weight: 800;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Truebooksoft | Login</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

    @Styles.Render("~/assets/fonts/batch-icons/css/batch-icons.css")
    @Styles.Render("~/assets/css/bootstrap/bootstrap.min.css")
    @Styles.Render("~/assets/css/bootstrap/mdb.min.css")
    @Styles.Render("~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css")
    @Styles.Render("~/assets/css/hamburgers/hamburgers.css")
    @Styles.Render("~/assets/fonts/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/assets/plugins/jvmaps/jqvmap.min.css")
    @Styles.Render("~/assets/css/quillpro/quillpro.css")
</head>

<body>
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "login clearfix", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="right-column sisu">
                    <div class="row mx-0">
                        <div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark" data-qp-bg-image="courierboy1.png">
                            <a class="signin-logo d-sm-block d-md-none" href="#">
                                <img src="~/Content/img/logo_truebookNew.png" height="32.5" alt="QuillPro">
                                <h3 style="color:#07a7e3;text-transform: uppercase;font-size: 30px;font-weight: 700 !important;font-family: Calibri;"> Financial Accounting System</h3>

                            </a>
                            <h1 class="display-4">Sign In To get Started</h1>
                            <p class="lead mb-5">
                                Big data latte SpaceTeam unicorn cortado hacker physical computing paradigm.
                            </p>
                        </div>
                        <div class="col-md-5 order-md-1 signin-left-column bg-white px-5" style="padding-top:3rem !important">
                            <a class="signin-logo d-sm-none d-md-block" href="#" style="text-align:center">
                                <img src="~/Content/img/logo_truebookNew.png" height="70" alt="QuillPro">
                                <h3 class="frie_forw"> Financial Accounting System</h3>

                            </a>


                            <form>


                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Name</label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control login", @placeholder = "User Name:" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control pwd", @placeholder = "Password:" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Branch</label>
                                    @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.Branch, "BranchID", "BranchName"), "Select Branch", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Year</label>
                                    @Html.DropDownListFor(model => model.AcFinancialYearID, new SelectList(ViewBag.fyears, "AcFinancialYearID", "FYearName"), "Select Year", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                                    }
                                </div>
                                <button type="submit" value="Login" class="btn btn-primary btn-gradient btn-block">
                                    <i class="batch-icon batch-icon-key"></i>
                                    Sign In
                                </button>
                                <hr>

                                <div class="lice_con">
                                    <p class="head_secti">Licenced</p>
                                    <p class="lice_forw"> Malusoft India </p>
                                </div>

                                <div class="copy_sys">
                                    <p class="fries_forw"> All rights reserved: Malusoft &vert; Bangalore &vert; India &vert;</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/assets/js/jquery/jquery-3.1.1.min.js")
    @Scripts.Render("~/assets/js/bootstrap/popper.min.js")
    @Scripts.Render("~/assets/js/bootstrap/bootstrap.min.js")
    @Scripts.Render("~/assets/js/bootstrap/mdb.min.js")
    @Scripts.Render("~/assets/plugins/velocity/velocity.min.js")
    @Scripts.Render("~/assets/plugins/velocity/velocity.ui.min.js")
    @Scripts.Render("~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js")
    @Scripts.Render("~/assets/plugins/jquery_visible/jquery.visible.min.js")
    @Scripts.Render("~/assets/plugins/jquery_visible/jquery.visible.min.js")
    @Scripts.Render("~/assets/js/misc/ie10-viewport-bug-workaround.js")
    @Scripts.Render("~/assets/plugins/chartjs/chart.bundle.min.js")
    @Scripts.Render("~/assets/plugins/jvmaps/jquery.vmap.min.js")
    @Scripts.Render("~/assets/plugins/jvmaps/maps/jquery.vmap.usa.js")
    @Scripts.Render("~/assets/js/misc/holder.min.js")
    @Scripts.Render("~/assets/js/scripts.js")
    <script>
        $(document).ready(function () {
            debugger;
            var brId = $('#BranchID').val();
            if (isNaN(brId)) {
              
            } else {
                $('#AcFinancialYearID').empty();
                $('#AcFinancialYearID').append('<option value="0">Select Year</option>');
                $.ajax({
                    type: "POST",
                    url: "/Login/GetFYear",
                    datatype: "Json",
                    data: { id: $('#BranchID').val() },
                    success: function (data) {
                        $('#AcFinancialYearID').empty();
                        $.each(data, function (index, value) {
                            $('#AcFinancialYearID').append('<option value="' + value.AcFinancialYearID + '">' + value.FYearName + '</option>');
                        });
                    }

                });
           
            }
            $('#BranchID').change(function () {
                $('#AcFinancialYearID').empty();
                $('#AcFinancialYearID').append('<option value="0">Select Year</option>');
                $.ajax({
                    type: "POST",
                    url: "/Login/GetFYear",
                    datatype: "Json",
                    data: { id: $('#BranchID').val() },
                    success: function (data) {
                        $('#AcFinancialYearID').empty();
                        $.each(data, function (index, value) {
                            $('#AcFinancialYearID').append('<option value="' + value.AcFinancialYearID + '">' + value.FYearName + '</option>');
                        });
                    }

                });
            });
        });
    </script>
</body>
</html>


