@model IEnumerable<DAL.proJobCostFullActualCost_Result>

@{
    Layout = null;
    
}

<style>
    .back {
        background-color: red;
        color: white;
    }

</style>

@*<script src="~/Content/jQuery-2.1.3.min.js"></script>*@

 <table border="0">
     <tr>
         <td colspan="8" style="text-align:center"><h3>Job Analysis Report (Actual Cost)</h3></td>
     </tr>
</table>



    <table border="1" style="width:980px">
      
            <tr>
                <th>Job Code</th>
                <th>Actual Cost</th>
                <th>Sales Home</th>
                <th>Profit</th>
                <th>Profit %</th>
                <th>Invoice Date</th>
                <th>Invoice No</th>
                <th>Customer</th>

            </tr>
       
      
       
      
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.JobCode</td>
                    <td class="textright">
                        @string.Format("{0:n2}", @item.ActualCost)

                    </td>
                     <td class="textright">
                        @string.Format("{0:n2}", @item.SalesHome)

                    </td>
                    <td class="textright">
                        @string.Format("{0:n2}",(@item.SalesHome-@item.ActualCost))
                    </td>
                     <td>@item.ProvisionHome</td>
                     <td style="text-align:right">@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@item.InvoiceDate)</td>
                     <td>@item.InvoiceNo</td>
                     <td>@item.Customer</td>
                </tr>
            }
      
    </table>

