@model DAL.CUSTOMER

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 675px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        width: unset;
    }
</style>

<script type="text/javascript">
        $(document).ready(function () {
            $("#Customer1").focus();
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });

            $("#ReferenceCode").css("text-transform", "uppercase");

             if ('@Model.CustomerType' == 0 || '@Model.CustomerType' == null) {

        } else {
                 $("#CustomerType").val('@Model.CustomerType');
             }
            $("#btnsave").click(function () {
                var cust = $("#Customer1").val();
                var ref = $("#ReferenceCode").val();
                var con = $("#ContactPerson").val();
                var add = $("#Address1").val();
                var phone = $("#Phone").val();

                var email = $("#Email").val();
                var fax = $("#Fax").val();
                var CustomerType = $("#CustomerType").val();
                var ContactMob = $("#MobileNumber").val();
                var Whatsapp = $("#WhatsAppNumber").val();


                if (cust == "") {
                    $("#alert").show();
                    return false;
                }
                else if (ref == "") {
                    $("#alert").show();
                    return false;
                }
                else if (con == "") {
                    $("#alert").show();
                    return false;
                }
                else if (add == "") {

                    $("#alert").show();
                    return false;
                }
                else if (phone == "") {

                    $("#alert").show();
                    return false;
                }
                else if (ContactMob == "") {

                    $("#alert").show();
                    return false;
                }
                else if (Whatsapp == "") {

                    $("#alert").show();
                    return false;
                }
                else if (email == "") {

                    $("#alert").show();
                    return false;
                }
              else if (CustomerType == "") {

                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }


            });
            $("#Customer1").focusout(function () {
                var customerval = $("#Customer1").val();
                if (customerval == "" || customerval == null) {

                } else {
                    var custstrarray = customerval.split(' ');
                    if (custstrarray.length > 1) {

                        var refString = custstrarray[0].charAt(0) + custstrarray[1].charAt(0) + "-" + '@ViewBag.custnum';
                        $("#ReferenceCode").val(refString);

                    } else {

                        var refString = customerval.charAt(0) + customerval.charAt(1) + "-" + '@ViewBag.custnum';
                        $("#ReferenceCode").val(refString);

                    }
                }
            });
    });
    function customertypechange() {
        var val = $("#CustomerType").val();
        if (val == 1) {
            $("#invoicetoid").css("display", "block");
        } else {
            $("#invoicetoid").css("display", "none");
        }
    }
</script>
<section class="content-header">
    <h1 class="headingfont">Customer - Modify</h1>
</section>

<section class="content-header">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="searchdiv">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>

        <div class="row no-margin">
            @Html.HiddenFor(model => model.CustomerID)
            <div class="col-md-4">
                <label class="required headinglabel">Customer Name</label>
                @Html.TextBoxFor(model => model.Customer1, new { @class = "form-control txttarget", @tabindex = "1" })
                @Html.ValidationMessageFor(model => model.Customer1)

            </div>
            <div class="col-md-4">
                <label class="required headinglabel">Telephone</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control textright txttarget", @tabindex = "8" })
                @Html.ValidationMessageFor(model => model.Phone)

            </div>
            <div class="col-md-4">
                <label class="required headinglabel">Contact Person</label>
                @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control txttarget", @tabindex = "15" })
                @Html.ValidationMessageFor(model => model.ContactPerson)

            </div>

        </div>

        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-4">
                <label class="required headinglabel">Customer Reference Code</label>
                @Html.TextBoxFor(model => model.ReferenceCode, new { @class = "form-control", @readonly = "readonly", @tabindex = "2" })
                @Html.ValidationMessageFor(model => model.ReferenceCode)

            </div>

            <div class="col-md-4">
                <label class="headinglabel">Fax</label>
                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control textright", @tabindex = "9" })
                @Html.ValidationMessageFor(model => model.Fax)

            </div>
            <div class="col-md-4">
                <label class="required headinglabel">Contact Mobile</label>
                @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control text-right txttarget", @tabindex = "16" })
                @Html.ValidationMessageFor(model => model.MobileNumber)

            </div>
        </div>


        <div class="row no-margin" style="padding-top:10px">


            <div class="col-md-4">
                <label class="required headinglabel">Building</label>
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control txttarget", @tabindex = "3" })
                @Html.ValidationMessageFor(model => model.Address1)

            </div>

            <div class="col-md-4">
                <label class="required headinglabel">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @tabindex = "10" })
                @Html.ValidationMessageFor(model => model.Email)

            </div>


            <div class="col-md-4">
                <label class="required headinglabel">Customer Type</label>
                @Html.DropDownListFor(model => model.CustomerType, ViewBag.CustomerType as SelectList, new { @class = "form-control", @onchange = "customertypechange()", @tabindex = "17" })
                @Html.ValidationMessageFor(model => model.CustomerType)

            </div>

        </div>

        <div class="row no-margin" style="padding-top:10px;">

            <div class="col-md-4">
                <label class="headinglabel">Street</label>
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control txttarget", @tabindex = "4" })
                @Html.ValidationMessageFor(model => model.Address2)

            </div>
            <div class="col-md-4">
                <label class="headinglabel">Website</label>
                @Html.TextBoxFor(model => model.WebSite, new { @class = "form-control", @tabindex = "11" })
                @Html.ValidationMessageFor(model => model.WebSite)

            </div>
			
            
            <div class="col-md-4">
                <label class="headinglabel">Max Credit Days</label>
                @Html.TextBoxFor(model => model.MaxCreditDays, new { @class = "form-control textright", @tabindex = "18" })
                @Html.ValidationMessageFor(model => model.MaxCreditDays)

            </div>


        </div>
        <div class="row no-margin" style="padding-top:10px;">
            <div class="col-md-4">
                <label class="headinglabel">Location/Pin Code</label>
                @Html.TextBoxFor(model => model.Address3, new { @class = "form-control txttarget", @tabindex = "5" })
                @Html.ValidationMessageFor(model => model.Address3)

            </div>
            <div class="col-md-4">
                <label class="headinglabel">PO Box No</label>
                @Html.TextBoxFor(model => model.POBoxNo, new { @class = "form-control textright", @tabindex = "13" })
                @Html.ValidationMessageFor(model => model.POBoxNo)
            </div>
            <div class="col-md-4 ">
                <label class="headinglabel">Max Credit Limit</label>
                @Html.TextBoxFor(model => model.MaxCreditLimit, new { @class = "form-control textright", @Value = "0", @tabindex = "18" })
                @Html.ValidationMessageFor(model => model.MaxCreditLimit)
            </div>
        </div>
        <div class="row no-margin" style="padding-top:10px;">
            <div class="col-md-4">
                <label class="required headinglabel">City</label>
                @Html.TextBoxFor(model => model.City, new { @class = "form-control txttarget", @tabindex = "6" })
                @Html.ValidationMessageFor(model => model.City)

            </div>
            <div class="col-md-4">
                <label class="required headinglabel">WhatsApp</label>
                @Html.TextBoxFor(model => model.WhatsAppNumber, new { @class = "form-control textright txttarget", @tabindex = "14" })
                @Html.ValidationMessageFor(model => model.WhatsAppNumber)

            </div>

            <div class="col-md-4">

                <label class="headinglabel">Exporter Code</label>
                @Html.TextBoxFor(model => model.ExporterCode, new { @class = "form-control", @tabindex = "19" })
                @Html.ValidationMessageFor(model => model.ExporterCode)

            </div>
        </div>
        <div class="row no-margin" style="padding-top:10px;">
            <div class="col-md-4">
                <label class="required headinglabel">Country</label>
                @Html.DropDownListFor(model => model.CountryID, (IEnumerable<SelectListItem>)ViewBag.country, "select", new { @class = "form-control", @tabindex = "7" })
                @Html.ValidationMessageFor(model => model.CountryID)

            </div>
            
            <div class="col-md-4">
                <label class="headinglabel">Discount Percentage</label>
                @Html.TextBoxFor(model => model.DiscountPercentage, new { @class = "form-control textright", @Value = "0", @tabindex = "20" })
                @Html.ValidationMessageFor(model => model.DiscountPercentage)

            </div>
            <div class="col-md-4" style="margin-top:30px">
                <div class="col-md-6" style="padding-top:15px; text-align:right;">

                @Html.CheckBox("StatusActive", new { @name = "StatusActive", @checked = "checked" }) &nbsp <label class="headinglabel">Status Active</label>
                @Html.ValidationMessageFor(model => model.StatusActive)
            </div>
            <div class="col-md-6" id="invoicetoid" style="padding-top:15px;text-align:right;">
                @Html.CheckBox("InvoiceTo", new { @name = "InvoiceTo" }) &nbsp <label class="headinglabel">Invoice To</label>
                @Html.ValidationMessageFor(model => model.InvoiceTo)


            </div>
            </div>
        </div>

        @*<div class="row no-margin" style="padding-top:10px">
            <div class="col-md-3" style="padding-top:15px">
                @Html.CheckBox("StatusReserved", new { @name = "StatusReserved" }) &nbsp <label class="headinglabel">Status Reserved</label>
                @Html.ValidationMessageFor(model => model.StatusReserved)

            </div>

            <div class="col-md-3" style="padding-top:15px">
                @Html.CheckBox("StatusConsignor", new { @name = "StatusConsignor" }) &nbsp <label class="headinglabel">Status Consignor</label>
                @Html.ValidationMessageFor(model => model.StatusConsignor)

            </div>
            <div class="col-md-3" style="padding-top:15px">
                @Html.CheckBox("StatusBlocked", new { @name = "StatusBlocked" }) &nbsp <label class="headinglabel">Status Blocked</label>
                @Html.ValidationMessageFor(model => model.StatusBlocked)


            </div>
        </div>*@

        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-12" style="
                     text-align: right;
                     padding: 9px;
                     margin-top: 12px;
                     ">

                <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />

                &nbsp;
                <a href='@Url.Action("Index", "Customer", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

            </div>
        </div>
    </fieldset>
    }

</section>
