@*@model DAL.BranchMaster*@
@model TrueBooksMVC.Models.BranchFinnancialYearVm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<script>

    $(document).ready(function () {


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Email").css("text-transform", "lowercase");

        $.notify("@ViewBag.SuccessMsg", "success");
        $(function () {

            $("#FromDate").datepicker({
                dateFormat: 'dd-M-yy',
             
                changeYear: true,
                changeMonth: true
            });
            $('#ToDate').datepicker({
                dateFormat: 'dd-M-yy',
              
                changeYear: true,
                changeMonth: true,
            });
        });
        $("#btnsave").click(function () {
            var fdate = $("#FromDate").val();
            var tdate = $("#ToDate").val();
            var com = $("#CompanyId selected:option").val();
            var branch = $("#BranchName").val();
            var con = $("#CountryID selected:option").val();
            var curr = $("#CurrencyID selected:option").val();
            var add = $("#Address").val();
            var pho = $("#phone").val();
            var em = $("#Email").val();
            if (fdate == "") {
                $("#alert").show();
                return false;
            }
            else if (tdate == "") {
                $("#alert").show();
                return false;
            }
            else if (com == "") {
                $("#alert").show();
                return false;
            }
            else if (branch == "") {
                $("#alert").show();
                return false;
            }
            else if (con == "") {
                $("#alert").show();
                return false;
            }
            else if (curr == "") {
                $("#alert").show();
                return false;
            }
            else if (add == "") {
                $("#alert").show();
                return false;
            }
            else if (pho == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }



        });

    });
        </script>

<section class="content-header">
    <h1 class="headingfont">Branch</h1>

</section>
@if (ViewBag.SuccessMsg != null)
    {
      
    }
<script type="text/javascript">


    $(document).ready(function () {


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

    

          });
                                                </script>
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <fieldset>
             <div class="row no-margin">
       
         
                <div class="col-md-3">
                    <label class="headinglabel required">From:</label>
                      @*<input type="text" class="datepicker form-control" id="txtfrom" />*@
                    @Html.TextBoxFor(model=>model.FromDate, new { @class = "form-control datepicker " })
                </div>
               
                  <div class="col-md-3">
                    <label class="headinglabel required">To:</label>
                   @* <input type="text" class="datepicker form-control" id="txtto" />*@
                       @Html.TextBoxFor(model=>model.ToDate,new { @class = "form-control datepicker " })
                </div>
                  <div class="col-md-3">
                    <label class="headinglabel required">Company Name</label>
                  @Html.DropDownList("CompanyId", ViewBag.Company as SelectList, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CompanyId)

                </div>

        </div>

     
             <div class="row no-margin" style="padding-top:10px;">
                  <div class="col-md-3">
                    <label class="headinglabel required">Branch Name</label>
                    @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.BranchName)

                </div>
                  <div class="col-md-3">
                    <label class=" headinglabel required">Country</label>
                    @Html.DropDownList("CountryID", ViewBag.CountryID as SelectList, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryID)

                </div>
                  <div class="col-md-3">
                    <label class=" headinglabel required">Currency</label>
                    @Html.DropDownList("currencyId", ViewBag.CurrencyID as SelectList, "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.currencyId)

                </div>
                 </div>
             <div class="row no-margin" style="padding-top:10px;">
                  <div class="col-md-3">
                    <label class="headinglabel required">Address</label>
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.Address)

                </div>
                  <div class="col-md-3">
                    <label class=" headinglabel required">Phone</label>
                    @Html.TextBoxFor(model => model.phone, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.phone)

                </div>
                  <div class="col-md-3">
                    <label class=" headinglabel">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
                 </div>
             <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-12">

                    <input type="submit" value="Save" class="btn btn-primary btnwidth" id="btnsave" />

                    &nbsp; 
                  <a href='@Url.Action("Index", "Branch", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                </div>
            </div>


        </fieldset>
    
    
    }

</section>


 


