@*@model DAL.BranchMaster*@
@model TrueBooksMVC.Models.BranchFinnancialYearVm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .headinglabel {
        font-size: 16px;
        color: #2b2929 !important;
        display: inline;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 700px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script>

    $(document).ready(function () {


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#Email").css("text-transform", "lowercase");

        $.notify("@ViewBag.SuccessMsg", "success");
        $(function () {

            $("#FromDate").datepicker({
                dateFormat: 'dd-M-yy',

                changeYear: true,
                changeMonth: true
            });
            $('#ToDate').datepicker({
                dateFormat: 'dd-M-yy',

                changeYear: true,
                changeMonth: true,
            });
        });
        $("#btnsave").click(function () {
            var fdate = $("#FromDate").val();
            var tdate = $("#ToDate").val();
            var com = $("#CompanyId selected:option").val();
            var branch = $("#BranchName").val();
            var con = $("#CountryID selected:option").val();
            var curr = $("#CurrencyID selected:option").val();
            var add = $("#Address").val();
            var pho = $("#phone").val();
            var em = $("#Email").val();
            if (fdate == "") {
                $("#alert").show();
                return false;
            }
            else if (tdate == "") {
                $("#alert").show();
                return false;
            }
            else if (com == "") {
                $("#alert").show();
                return false;
            }
            else if (branch == "") {
                $("#alert").show();
                return false;
            }
            else if (con == "") {
                $("#alert").show();
                return false;
            }
            else if (curr == "") {
                $("#alert").show();
                return false;
            }
            else if (add == "") {
                $("#alert").show();
                return false;
            }
            else if (pho == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }



        });

    });
</script>

<section class="content-header">
    <h1 class="headingfont">Branch</h1>

</section>
@if (ViewBag.SuccessMsg != null)
{

}
<script type="text/javascript">


    $(document).ready(function () {


        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });



    });
</script>
<section class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="searchdiv">

            <fieldset>
                <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>

                <div class="row no-margin" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label class="headinglabel required">Branch Name</label>
                        @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.BranchName)

                    </div>

                    <div class="col-md-6">
                        <label class="required headinglabel">Contact Person</label>
                        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.ContactPerson)


                    </div>
                </div>
                <div class="row no-margin" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label class="headinglabel required">Address</label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.Address)

                    </div>

                    <div class="col-md-6">
                        <label class=" headinglabel required">Phone</label>
                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control txttarget", placeholder = "(123)103030100" })
                        @Html.ValidationMessageFor(model => model.phone)

                    </div>


                </div>
                <div class="row no-margin" style="padding-top:10px;">

                    <div class="col-md-6">
                        <label class=" headinglabel required">City</label>
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.City)

                    </div>

                    <div class="col-md-6">
                        <label class=" headinglabel required">Country</label>
                        @Html.DropDownList("CountryID", ViewBag.CountryID as SelectList, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CountryID)

                    </div>
                </div>
                <div class="row no-margin" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label class=" headinglabel required">Currency</label>
                        @Html.DropDownList("currencyId", ViewBag.CurrencyID as SelectList, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.currencyId)

                    </div>


                    <div class="col-md-6">
                        <label class=" headinglabel">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control txttarget", placeholder = "example@domain.com" })
                        @Html.ValidationMessageFor(model => model.Email)

                    </div>
                </div>
                <div class="row no-margin" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label class=" headinglabel">Website</label>
                        @Html.TextBoxFor(model => model.Website, new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.Website)
                    </div>

                    <div class="col-md-6">
                        <label class="headinglabel required">Company Name</label>
                        @Html.DropDownList("CompanyId", ViewBag.Company as SelectList, "Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CompanyId)

                    </div>
                </div>
                <div class="row no-margin" style="padding-top:10px;">
                    <div class="col-md-6">
                        <label class="headinglabel required">Period From:</label>
                        @*<input type="text" class="datepicker form-control" id="txtfrom" />*@
                        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control datepicker ", placeholder = "dd-mmm-yyy" })
                    </div>

                    <div class="col-md-6">
                        <label class="headinglabel required">Period To:</label>
                        @* <input type="text" class="datepicker form-control" id="txtto" />*@
                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control datepicker ", placeholder = "dd-mmm-yyy" })
                    </div>
                </div>
                <div class="row no-margin" style="padding-top: 10px">
                    <div class="col-md-12 butdivs">

                        <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                        &nbsp;
                        <a href='@Url.Action("Index", "Branch", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                    </div>
                </div>


            </fieldset>
        </div>


    }

</section>





