@model IEnumerable<DAL.BranchMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}
<style>
     tfoot {
            display: table-header-group;
     }
        </style>
<script type="text/javascript">
       $(document).ready(function () {

           $('#dataTables-example tfoot th').each(function () {
               var title = $(this).text();
               $(this).html('<input type="text"  />');
           });


           var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

           table.columns().every(function () {
               var that = this;

               $('input', this.footer()).on('keyup change', function () {
                   if (that.search() !== this.value) {
                       that
                           .search(this.value)
                           .draw();
                   }
               });
           });
       });

    </script>
<style>
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }
</style>
<section class="content-header">
    <h1 class="headingfont">Branch</h1>

</section>
<div class="m-container">
<p class="indexbtnpadding flex">
    @if (isadd)
    {
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
    }
</p>
</div>
<section class="content">
    @if (TempData["SuccessMsg"] != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@TempData["SuccessMsg"]", "success");
         });
        </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-striped table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    @*<th>
                    @Html.DisplayNameFor(model => model.BranchID)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address1)
                    </th>
                    @* <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address3)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CountryMaster.CountryName)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.CityID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Location1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeyPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation.Designation1)
                </th>*@
                    @*<th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchPrefix)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyMaster.CurrencyName)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.AcCompanyID)
                </th>*@
                    @* <th>
                    @Html.DisplayNameFor(model => model.StatusAssociate)
                </th>*@
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    @*<th>
                    @Html.DisplayNameFor(model => model.BranchID)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address1)
                    </th>
                    @* <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address3)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CountryMaster.CountryName)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.CityID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Location1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeyPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation.Designation1)
                </th>*@
                    @*<th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchPrefix)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CurrencyMaster.CurrencyName)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.AcCompanyID)
                </th>*@
                    @* <th>
                    @Html.DisplayNameFor(model => model.StatusAssociate)
                </th>*@
                    <th></th>
                </tr>
                </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.BranchID)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address1)
                        </td>
                        @*  <td>
                        @Html.DisplayFor(modelItem => item.Address2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address3)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryMaster.CountryName)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.CityID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Location1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyPerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation.Designation1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchPrefix)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyMaster.CurrencyName)
                        </td>
                        @* <td>
                        @Html.DisplayFor(modelItem => item.AcCompanyID)
                    </td>*@
                        @*<td>
                        @Html.DisplayFor(modelItem => item.StatusAssociate)
                    </td>*@
                        <td>
                            @if (ismodify)
                            {
                                <a href="@Url.Action("Edit", new { id = item.BranchID })"><i class="fa fa-pencil"></i></a>
                            } |
                            @*<a href="@Url.Action("Delete", new { id = item.AcCompanyID })"><i class="fa fa-times"></i></a>*@
                            @if (isdelete)
                            {
                                <a href="#" onclick="DeleteBranch(branchID=@item.BranchID)"><i class="fa fa-times"></i></a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</section>
<script type="text/javascript">
    function DeleteBranch(branchID) {
        if (confirm("Are you sure, You want to Delete Branch?")) {
            window.location.href = "/Branch/DeleteConfirmed/?id=" + branchID;
        }
    }
</script>

