@model TrueBooksMVC.Models.AcJournalMasterVoucherVM

@{
    ViewBag.Title = "AcJournalVoucher";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
    #DeleteNewRow {
        color: #dd4b39;
    }
    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
    .small_btn {
        min-width: 40px !important;
        width: 40px !important;
        margin-top: 21px;
        border-radius: 5px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
            var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });


        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });
           
            });

            //$(".datepicker").datepicker({
            //    dateFormat: 'dd-M-yy',
            //    changeYear: true, changeMonth: true,
            //    minDate: sd,
            //    maxDate: ed,
            //});
        
        $("#AcHead").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Accounts/AccountHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#AcHead").val(i.item.label);
                $('#SelectedAcHead').val(i.item.AcHeadID);
            }
        });

        $("#btnadd").click(function () {

            debugger;
            var str = "";
            var acheadid = $('#SelectedAcHead').val(); //$("#acHeadId option:selected").val();
            var Achead = $('#AcHead').val(); //$("#acHeadId option:selected").text();
            var Amount = $("#Amount").val();
            var PaymentType = $("#IsDebit option:selected").val();
            var PaymentTypetext = $("#IsDebit option:selected").text();
            var remark = $("#AcRemark").val();

            if (Achead == "" || acheadid==0 || acheadid=='') {
                alert("Please Select Account Head!");
                $('#AcHead').focus();
                return;
            }
            if (PaymentType == '') {
                alert("Select Debit/Credit!");
                $('#IsDebit').focus();
                return;
            }
            if (Amount == '') {
                Amount = 0;                
            }

            if (Amount == '0') {                
                alert("Please Enter Amount!");
                $('#Amount').focus();
                return;
            }
            

            var i = $('#tbl1 tr').length - 1;

            $("#tbl1").append('<tr>' + '<td>' + Achead + ' <input type = "hidden" name = "AcJDetailVM[' + i + '].IsDeleted" class="hdndeleted" /> <input type="hidden" value=' + Achead + ' name="acJournalDetailsList[' + i + '].AcHead"><input type="hidden" value=' + acheadid + ' name="acJournalDetailsList[' + i + '].acHeadID"></td>' + '<td class=textright>' + Amount + '<input type="hidden" value=' + Amount + ' name="acJournalDetailsList[' + i + '].Amount"></td>' +
                '<td>' + PaymentTypetext + '<input type="hidden" value=' + PaymentType + ' name="acJournalDetailsList[' + i + '].IsDebit"></td>' + '<td>' + remark + '<input type="hidden" value=' + remark + ' name="acJournalDetailsList[' + i + '].AcRemark"></td>' +
                '<td><a href="javascript:void(0)" id="DeleteNewRow"><i class="fa fa-times"></i></a></td></tr > ');

           // $("#acHeadId").val($("#acHeadId option:first").val());
            $("#Amount").val('');
            $("#AcRemark").val('');
            $('#AcHead').val('');
            $('SelectedAcHead').val(0);
            $('#AcHead').focus();
        });

        $('#tbl1').on("click", "#DeleteNewRow", function () {
            //$(this).parent().parent().remove();
            $(this).parent().parent().addClass('hide');
            var obj = $(this).parent().parent().find('.hdndeleted');
            $(obj).val(true);
        });

        $("#btnsave").click(function () {
            if ($("#TransDate").val() == "") {
                $("#alert").show();
                return false;
            }
            else {
                $("#alert").hide();
                return true;
            }
        });
    });



</script>

<section class="content-header">
    <h1 class="headingfont">JOURNAL VOUCHER - CREATE </h1>

</section>
<div class="content ">
    <div id="alert" style="color:red;display:none;margin-left:10px;">*Please Select Transaction Date</div>
    <fieldset>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row no-margin">

                <div class="col-md-4">
                    <label class="headinglabel" id="VoucherNumber">Journal Voucher Number</label>
                    <input type="text" name="voucher_number" readonly class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="required headinglabel" id="lblTransDate">J.V. Date</label>
                    @Html.TextBoxFor(model => model.TransDate, new { @class = "form-control datepicker ", placeholder = "dd-mmm-yyyy",@autocomplete="off" })

                </div>
                <div class="col-md-4">
                    <label class="headinglabel" id="lblReference">J.V. Reference </label>
                    @Html.TextBoxFor(model => model.Refference, new { @class = "form-control" })
                </div>

            </div>


            <div class="row no-margin" style="padding-top:10px">
                <div class="col-md-12">
                    <label class="headinglabel" id="lblremark">Remarks/Narration</label>
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                </div>
            </div>
            <div class="divider">
                <hr />
            </div>
            <div class="row no-margin" style="padding-top:10px">


                <div class="col-md-4">
                    <label class="headinglabel">Chart of Accounts</label>
                    @*@Html.DropDownListFor(model => model.acHeadId, new SelectList(ViewBag.Achead, "AcHeadID", "AcHead1"), "Select", new { @class = "form-control" })*@
                    <input type="text" id="AcHead" value="" class="form-control" autocomplete="off" />
                    @Html.HiddenFor(model => model.acHeadId, new { Value = "0", id = "SelectedAcHead" })
                </div>
                <div class="col-md-1">
                    <label class="headinglabel">Dr/Cr</label>

                    @Html.DropDownListFor(model => model.IsDebit, new List<SelectListItem> { new SelectListItem { Text = "Dr", Value = "1" }, new SelectListItem { Text = "Cr", Value = "0" } }, "Select", new { @class = "form-control" })

                </div>

                <div class="col-md-2">
                    <label class="headinglabel" id="txtAmount">Amount</label>

                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right" })
                </div>
                <div class="col-md-4">
                    <label class="headinglabel" id="lblremark">Remarks/Narration</label>
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" ,@id="AcRemark" })
                </div>
                <div class="col-md-1 text-right" style="margin-top:11px">

                    <button type="button" class="btn btn-primary btnwidth small_btn" id="btnadd">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>


            <div class="row no-margin form-layout">
                <div class="col-xs-12" style="padding-top: 10px">
                    <div class="data" style="padding-top: 10px;">
                        <table border="1" class="table table-responsive table-bordered " style="width: 100%" id="tbl1">
                            <tr style="font-weight: bold;background-color: #35b8eb;color: #fff;font-size: 16px;">

                                <th>Chart Of Accounts</th>
                                <th>Amount</th>
                                <th>Debit/Credit</th>
                                <th>
                                    Remark
                                </th>
                                <th>Action</th>


                            </tr>


                        </table>
                        @Html.HiddenFor(model => model.AcJournalDetail)
                    </div>
                </div>
            </div>

            <div class="row no-margin" style="padding-top:10px">
                <div class="" style="text-align:right;padding:10px">

                    <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                    &nbsp;
                    <a href='@Url.Action("AcJournalVoucherIndex", "Accounts", new { id = 0 })' class="btn btn-danger btnwid" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                </div>

                <!--<div id="tmpdata" style="width: 500px; height: 400px; color: white">
                </div>-->
            </div>
        }
    </fieldset>
</div>