@model DAL.AcHead
@{
    ViewBag.Title = "AcHead";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
     textarea{
	width:100%;
	resize:vertical;
	border-radius: 10px;
    border: 1px solid #ccc;
}
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .checkboxdesign {
        display: flex;
        align-items: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
        if ($("#TaxApplicable").is(':checked')) {
                $("#TaxPercent").removeAttr("readonly");

            }
            else {
                $("#TaxPercent").val(0);
                $("#TaxPercent").attr("readonly","readonly");
            }
          $("#TaxApplicable").click(function () {
            if ($("#TaxApplicable").is(':checked')) {
                $("#TaxPercent").removeAttr("readonly");

            }
            else {
                $("#TaxPercent").val(0);
                $("#TaxPercent").attr("readonly","readonly");
            }
        });
        $("#btnsave").click(function () {
            var acgroup = $("#AcGroupID option:selected").val();
            var head = $("#AcHead1").val();
            var code = $("#AcHeadKey").val();
            var prefix = $("#Prefix").val();




            if (acgroup == "") {
                $("#alert").show();
                return false;
            }
            else if (head == "") {
                $("#alert").show();
                return false;
            }

            else {
                $("#alert").hide();
                return true;
            }
        });



    });
</script>

<section class="content-header">
    <h1 class="headingfont">Chart Of Accounts</h1>
</section>

<section class="content-header">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="searchdiv sm-width">

        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
        <div class="row no-margin">

            <div class="form-group row">
                <div class="col-md-3">
                    <label class="required headinglabel">Account Name</label>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AcHead1, new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.AcHead1)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="headinglabel">Account Code</label>
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AcHeadKey, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AcHeadKey)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class=" headinglabel">Description</label>
                </div>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.AccountDescription, new { @rows = "6", @cols = "45" })
                    @Html.ValidationMessageFor(model => model.AccountDescription)

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.HiddenFor(model => model.AcHeadID)
                    <label class="required headinglabel">Parent Group</label>
                </div>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AcGroupID, new SelectList(ViewBag.groups, "AcGroupID", "AcGroup"), new { @class = "form-control txttarget" })
                    @Html.ValidationMessageFor(model => model.AcGroupID)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 checkboxdesign" style="padding-top: 10px">
                    @Html.CheckBox("TaxApplicable", new { @name = "TaxApplicable" }) &nbsp
                    <label class="headinglabel">Tax %</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TaxPercent, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.TaxPercent)
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>


            <div class="row no-margin" style="padding-top:10px text-align:right">
                <div class=" text-right">

                    <input type="submit" value="Update" class="btn btn-primary btnwidth" id="btnsave" />

                    &nbsp;
                    <a href='@Url.Action("IndexAcHead", "Accounts", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                </div>
            </div>


        </fieldset>
    }

</section>

