@model List<TrueBooksMVC.Models.OpennnigBalanceVM>

@{
    ViewBag.Title = "IndexOpenningBalance";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
     tfoot {
            display: table-header-group;
     }
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }
        </style>


<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/MyJsFiles/CustomerRecieptDetails.js")"></script>
<script src="~/Content/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $("text").change(function () {
            var x = $(this).val();
            $(this).val(parseFloat(x).toFixed(2));
        });

        var x = $(".textright").val();
        $(".textright").val(parseFloat(x).toFixed(2));

    });

</script>








<section class="content-header">
    <h1 class="headingfont">Opening Balance</h1>

</section>
@*<p class="indexbtnpadding">
    @Html.ActionLink("Create New", "CreateAcGroup",null,new {@class="btn btn-primary btnwidth"})
</p>*@
<section class="content">
     @if (ViewBag.SuccessMsg != null)
    {
     <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                            <div id="divFinalMsg">@ViewBag.SuccessMsg</div>
                                        </div>
    }
<div class="table-responsive tblbackground" style="padding:15px">
    
 <table border="1" class="table table-responsive table-bordered tblfont" id="dataTables-example"  >
     <thead>
            <tr>
                <th>Head</th>
                <th>Dr / Cr</th>
                <th>Amount</th>
            </tr>
    </thead>

     <tfoot>
            <tr>
                <th>Head</th>
                <th>Dr / Cr</th>
                <th>Amount</th>
            </tr>
    </tfoot>
     <tbody>   
            @using (@Html.BeginForm())
            {
                for(int i=0;i<Model.Count;i++)
                {
                                     
                        <tr>
                        <td>@Html.DisplayFor(m=>m[i].AcHead)
                            @Html.HiddenFor(m=>m[i].AcHead)
                            @Html.HiddenFor(m=>m[i].AcHeadID)
                            @Html.HiddenFor(m=>m[i].AcFinancialYearID)
                          
                        </td>
                        <td>
                            @Html.DropDownListFor(m=>m[i].CrDr,ViewBag.crdr as SelectList)
                        </td>
                        <td>
                           
                            @Html.TextBoxFor(m => m[i].Amount, new { @class = "textright" })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2">
                        @if (isadd || ismodify)
                        {
                            <input type="submit" class="btn btn-primary btnwidth" value="Save" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-primary btnwidth" value="Save" disabled />

                        }
                    </td>
                </tr>
                      

            }
           </tbody>
        </table>
</div>
    </section>
