@model IEnumerable<TrueBooksMVC.Models.QuickAWBVM>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
        var _decimal =Convert.ToInt32(@Session["Decimal"].ToString());
        int i = 0;
        decimal pcstot = 0;
        decimal weighttot = 0;
        decimal nettotal = 0;
        decimal couriercharge = 0;
        decimal othercharge = 0;
    }

    <script src="~/Content/NewCSS/plugins/jQuery/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
    <script src="~/Content/plugins/excel/jquery.table2excel.js"></script>
    <style>
        tfoot {
            display: table-header-group;
        }

        .table-bordered {
            border: 1px solid #afa7a7 !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {      
            var table = $('#dataTables-example').DataTable({
                "aaSorting": [],
                 "paging": false                
            });
            table.draw();
        });
         function setTwoNumberDecimal(item) {                  
             if (parseFloat(item) > 0) {
                 var p = parseFloat(item).toFixed(@_decimal);                 
                 return addCommas(p.toString());
             }
             else {''}

    }

   

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
    }
        $(function () {
            $('#FromDate').datetimepicker({ format: 'DD-MM-YYYY' });

        });

        $(function () {
            $('#ToDate').datetimepicker({ format: 'DD-MM-YYYY' });

            $('#ToDate').datepicker("setDate", new Date());
        });

        $(function () {
            $('#txtpickuptime').datetimepicker({ format: 'DD-MM-YYYY HH:mm' });
        });
    </script>
    <script>
        function ExportExcel() {
            
          var d = new Date();
            var curr_date = d.getDate();
            var curr_month = d.getMonth()+1;
            var curr_year = d.getFullYear();

            var reqdate = curr_date.toString() + curr_month.toString() + curr_year.toString() + '_' + d.getHours() +  d.getMinutes();
          $("#dataTables-example").table2excel({
                filename: "QAWBRegister_"  + reqdate + ".xls"
            });
        }
        function PrintDiv(divid) {
    var contents = document.getElementById(divid).innerHTML;
    var frame1 = document.createElement('iframe');
    frame1.name = "frame1";
    frame1.style.position = "absolute";
    frame1.style.top = "-1000000px";
    document.body.appendChild(frame1);
    var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
    frameDoc.document.open();
    frameDoc.document.write('<html><head><title>DIV Contents</title>');
    frameDoc.document.write('</head><body>');
    frameDoc.document.write(contents);
    frameDoc.document.write('</body></html>');
    frameDoc.document.close();
    setTimeout(function () {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        document.body.removeChild(frame1);
    }, 500);
    return false;
}
        function printDiv() {
            var divContents = document.getElementById("divreport").innerHTML;
            var a = window.open('', '', 'height=500, width=1500');
            a.document.write('<html>');
            var title="Period :" +  $('#FromDate').val() + " TO " + $('#ToDate').val() 
            a.document.write('<body > <h1 style="font-family:Calibri;font-size:12pt;">AIR WAYBILL REGISTER </h1>');
            a.document.write('<h1 style="font-family:Calibri;font-size:10pt;">' + title + '</h1><br/>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
    <section class="content-header">
        <h1 class="headingfont">Quick Air Way Bill Print</h1>
    </section>
    <div class="row no-margin">
        @{ Html.RenderAction("PrintSearch", "QuickAWB");}
    </div>
    <hr />
    <div class="row no-margin text-right hide">
        @*<input type="button" value="Print" onclick="printDiv()">*@
        <a class="btn btn-primary btnwidth" style="width: 60px!Important;min-width: 50px!important;" href="Javascript:void(0)" onclick="printDiv()"><i class="fa fa-print" aria-hidden="true"></i></a>
    </div>

    <section class="content">
        <div class="table-responsive" style="padding:15px" id="divreport">
            <style>
                tfoot {
                    display: table-header-group;
                }
                .textright
                {
                    text-align:right;
                }
                .dataTables_filter{
                    display:none;
                }
                .dataTables_info{
                    display:none;
                }
                /*.table-bordered {
                    border: 1px solid #afa7a7 !important;
                }*/
                /*.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td*/
                    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th,.table-bordered > tfoot > tr > td   {
                        border-top: 1px solid #07A7E3 !important;
                        border-bottom: 1px solid #07A7E3 !important;
                        color:#07A7E3;
                        background-color:#F8FBFF;
                        border-spacing:unset;
                        font-family:Calibri;
                        font-size:10pt;
                        border-spacing:0;
                        border-collapse:collapse;
                        padding:0px;
                        
                    }
                    .table-bordered > thead > tr > th:hover
                    {
                        cursor:pointer!important; 
                    }
                    .table-bordered > tbody > tr > td
                    {
                        font-family:Calibri;
                        font-size:9pt;
                    }
            </style>
            <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
                <thead style="cursor:pointer">
                    <tr>                        
                        <th width="8%">
                            AIR WAY BILL
                        </th>
                        <th width="8%">
                            DATE
                        </th>
                        <th width="15%">
                            SHIPPER
                        </th>
                        <th width="15%">
                            RECEIVER
                        </th>
                        <th width="15%">
                            ORIGIN
                        </th>
                        <th width="15%">
                            DESTINATION
                        </th>
                        <th width="5%">
                            PCS
                        </th>
                        <th width="6%">
                            WEIGHT
                        </th>
                        <th width="5%">
                            PAYMENT MODE
                        </th>
                        <th width="5%">
                            COURIER CHARGE
                        </th>
                        <th width="5%">
                            OTHER CHARGE
                        </th>
                        <th width="10%">
                            TOTAL CHARGE
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        pcstot =pcstot+ Convert.ToInt32(@item.Pieces);
                        weighttot = weighttot + Convert.ToDecimal(@item.Weight);
                        nettotal = nettotal + Convert.ToDecimal(@item.totalCharge);
                        couriercharge = couriercharge + Convert.ToDecimal(@item.CourierCharge);
                        othercharge = othercharge + Convert.ToDecimal(@item.OtherCharge);

                <tr style="border:1px solid #afa7a7">                   
                    <td>
                        @Html.DisplayFor(modelItem => item.HAWBNo)
                    </td>
                    <td class="text-right">
                        @TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(@item.InScanDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.shippername)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.consigneename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.origin)
                    </td>
                    <td class="textright">
                        @Html.DisplayFor(modelItem => item.destination)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.Pieces)

                    </td>
                    <td style="text-align:right">
                        @*@Html.DisplayFor(modelItem => item.Weight)*@
                        @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@item.Weight, "3")
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.paymentmode)
                    </td>
                    <td class="textright" style="text-align: right">
                        @*@Html.DisplayFor(modelItem => item.CourierCharge)*@
                        @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@item.CourierCharge, @_decimal.ToString())
                    </td>
                    <td style="text-align:right">
                        @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@item.OtherCharge, @_decimal.ToString())
                        @*@Html.DisplayFor(modelItem => item.OtherCharge)*@
                    </td>
                    <td style="text-align: right">
                        @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@item.totalCharge, @_decimal.ToString())
                        
                    </td>
                </tr>
                i++;
            }
              
                </tbody>
                <tfoot>
                    <tr style="border:1px solid #afa7a7;font-weight:bold">                       
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>

                        <td>
                        </td>
                        <td>
                        </td>
                        <td class="textright">
                            Total
                        </td>
                        <td class="textright">
                            @pcstot
                        </td>
                        <td style="text-align:right">
                            @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@weighttot, "3")
                        </td>
                        <td>
                        </td>
                        <td class="textright" style="text-align: right">
                            @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@couriercharge, @_decimal.ToString())
                        </td>
                        <td style="text-align:right">
                            @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@othercharge, @_decimal.ToString())
                        </td>
                        <td style="text-align: right">
                            @TrueBooksMVC.Models.CommanFunctions.GetFormatNumber(@nettotal, _decimal.ToString())
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </section>

