@model DAL.SalesInvoice


@{
    ViewBag.Title = "Sales Invoice";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


<style>

        table {
            position: relative;
            width: 100%;
            border-collapse: collapse;
            font-size: 10px !important;
            text-align: center;
        }

            table, table th, table td {
                border: 1px solid #d2d6de;
            }

        input.fulltable-filter {
            display: none;
        }

        table th, table td {
            // white-space: nowrap;
            // text-overflow: ellipsis;
            overflow: hidden;
            line-height: 0px;
            height: 0px;
            padding: 4px;
        }

        a.button {
            position: relative;
            display: inline-block;
            font-family: tahoma, arial, helvetica;
            font-size: 9pt;
            font-weight: bold;
            color: #ffffff;
            background-color: #AAAAAA;
            padding: 5px;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        width: 96%;
    }

        .discount {
            display: inline-block;
            border: 1px solid;
            padding: 10px;
        }

        .form_invoice {
            background-color: #fff;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
            border-radius: 25px;
            margin-bottom: 27px;
            padding: 20px;
            margin-top: 18px;
        }
    .smalltablewidth {
        width: 100%;
        margin: 0px !important;
    }

    .fulltablewidth {
        max-width: 1371px;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 7px;
        line-height: 1.42857143;
        vertical-align: middle;
    }

    .no-padding {
        padding: 0px;
    }

    table.dataTable, table.dataTable th, table.dataTable td {
        box-sizing: content-box;
        text-align: center;
        padding: 7px;
        border: 1px solid #eee;
    }
       
        }
</style>
<script src="~/MyJsFiles/SalesInvoice.js"></script>
<script type="text/javascript" src="~/Content/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.fulltableinline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#CurrencyID").change(function () {
            debugger;
            $("#ExchangeRate").val('');
            debugger;
            $.ajax({

                type: "GET",
                url: "/Job/GetExchangeRte",
                datatype: "Json",
                data: { ID: $('#CurrencyID').val() },
                success: function (data) {
                    debugger;
                    $('#ExchangeRate').val(data);
                }
            });
        });



    });

</script>
<section class="content-header">
    <h1 class="headingfont">Sales Invoice<small></small></h1>

</section>
<div class="containers">
    <section class="content jobform">

        @Html.BeginForm() {


        @Html.ValidationSummary(true)
        <input type="hidden" id="BranchLocalCurrencyId" name="BranchLocalCurrencyId" value="@Session["BaseCurrencyId"]" />
        @Html.HiddenFor(model => model.SalesInvoiceID)
        <div class="row no-margin">

            <div class="col-md-4">
                <label class="headinglabel">Invoice No:</label>
                @Html.TextBoxFor(model => model.SalesInvoiceNo, new { @class = "form-control", id = "SalesInvoiceNo", @readonly = "readonly" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Invoice Date:</label>
                @Html.TextBoxFor(model => model.SalesInvoiceDate, "{0:dd-MMM-yyyy}", new { @id = "SalesInvoiceDate", @class = "form-control" })

            </div>
            <div class="col-md-4">
                <label class="headinglabel">Invoice Due Date:</label>
                @Html.TextBoxFor(model => model.DueDate, "{0:dd-MMM-yyyy}", new { @id = "DueDate", @class = "form-control" })


            </div>



        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Client Name:</label>
                @Html.DropDownListFor(model => model.CustomerID, (SelectList)ViewBag.Customer, "Select Customer", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Quotation Number | Date:</label>
                @Html.TextBoxFor(model => model.QuotationNumber, new { @class = "form-control", id = "QuotationNumber", required = "required" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Currency:</label>
                @Html.DropDownListFor(model => model.CurrencyID, (SelectList)ViewBag.Curency, "Select Currency", new { @class = "form-control" })
            </div>



        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Delivery Location:</label>
                @Html.DropDownListFor(model => model.DeliveryId, (SelectList)ViewBag.Ports, "Select Delivery", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">LPO Number | Date:</label>
                @Html.TextBoxFor(model => model.LPOReference, new { @class = "form-control", id = "LPOReference", required = "required" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Exchange Rate :</label>
                @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control", id = "ExchangeRate", required = "required" })
            </div>

        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Remarks:</label>
                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control txttarget" })
            </div>

            <div class="col-md-4">
                <label class="headinglabel">External Reference No:</label>
                @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", id = "Reference", required = "required" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Salesman :</label>
                @Html.DropDownListFor(model => model.EmployeeID, (SelectList)ViewBag.Employees, "Select Employees", new { @class = "form-control" })
            </div>

        </div>

        <div class="form_invoice">


            <button type="button" class='addmore'>+ Add More</button>
            <script>
                $(document).ready(function () {
                   

                    var i = 2;
                    var index = 0;

                    $("#charges_table").on('click', '.delete', function () {
                        $(this).parent().parent().remove();
                    });
                    $("#charges_table").on('click','.addmore', function () {
                        debugger;
                        count = $('table tr').length;
                        index = $(this).attr('index');
                        i = count;
                        if (index == (count - 1)) {
                            var unitSelect = $('.Unit_demo_class').attr('id', 'UnitID_' + i).attr('name', 'UnitID_' + i).parent().html().replace("Unit_demo_class", "");
                                                 
                            var JobSelect = $('.Job_demo_class').attr('id', 'JobID_' + i).attr('name', 'Job_' + i).parent().html().replace("Job_demo_class");
                            var ProductSelect = $('.Product_demo_class').attr('id', 'ProductID_' + i).attr('name', 'Product_' + i).parent().html().replace("Product_demo_class");
                            var data = "<tr><td><span id='snum" + i + "'>" + count + ".</span></td>";
                            data += "<td>" + ProductSelect + "</td><td><input type='text' id='Description_" + i + "' name='Description_" + i + "' style='width: 110px'/></td> <td><input type='text' id='Quantity_" + i + "' name='Quantity_" + i + "' style='width: 47px'/></td><td>" + unitSelect + "</td><td><input type='text' id='Rate_" + i + "' name='Rate_" + i + "'style='width: 60px'/></td><td> <input type='text' id='RateLC_" + i + "' name='RateLC_" + i + "' style='width: 60px'/></td><td><input type='text' id='RateFC_" + i + "' name='RateFC_" + i + "' style='width: 60px' /></td><td><input type='text' id='Value_" + i + "' name='Value_" + i + "' style='width: 60px' /></td><td><input type='text' id='ValueLC_" + i + "' name='ValueLC_" + i + "' style='width: 65px' /></td><td><input type='text' id='ValueFC_" + i + "' name='ValueFC_" + i + "' style='width: 65px'/></td><td><input type='text' id='Tax_" + i + "' name='Tax_" + i + "' style='width: 60px'/></td><td><input type='text' id='NetValue_" + i + "' name='NetValue_" + i + "' style='width: 60px'/></td><td>" + JobSelect + "</td><td><button type='button' class='delete' >-</button>&nbsp;&nbsp;<button type='button' index='" + i + "' class='addmore'>+</button></td></tr>"
                            $('table').append(data);
                        }
                    });

                    $(".two-decimals").change(function () {
                        this.value = parseFloat(this.value).toFixed(2);
                    });

                  
                });
            </script>

            <div class="row no-margin" id="AddCharges" style="padding-top: 10px">
                <div class="col-xs-12 no-padding for-device">
                    <div class="data-table tblsbackground" style="width:100%;">
                        <div style="display:none;">
                            @Html.DropDownList("Unit", (SelectList)ViewBag.Unit, "Select", new { @class = "Unit_demo_class", id = "UnitID", @style = "height: 22px" })

                        </div>

                        <div style="display:none;">
                            @Html.DropDownList("Job", (SelectList)ViewBag.Job, "Select", new { @class = "Job_demo_class", @name = "Job", id = "JobID", @style = "width: 100px; height: 21px;" })
                        </div>
                        <div style="display:none;">
                            @Html.DropDownList("Product", (SelectList)ViewBag.AccountHead, "Select", new { @class = "Product_demo_class", @name = "Product", id = "ProductID", @style = "width: 100px; height: 21px;" })

                        </div>

                        <div class="data" style="overflow:auto;">
                            <table border="1" class="table table-responsive table-bordered smalltablewidth fulltablewidth " id="charges_table">
                                <tr>
                                   
                                    <td width="5%">
                                        S. No
                                    </td>
                                    <td width="10%" class="lc_pro">
                                        Product & Services
                                    </td>
                                    <td width="10%">Description</td>
                                    <td width="1%">
                                        Quantity
                                    </td>
                                    <td width="5%">
                                        Unit
                                    </td>
                                    <td width="5%" class="hideinsummary">
                                        Rate
                                    </td>
                                    <td width="5%">
                                        Rate LC
                                    </td>
                                    <td width="5%" class="hideinsummary">
                                        Rate FC
                                    </td>
                                    <td width="5%" class="hideinsummary">
                                        Vale
                                    </td>
                                    <td width="8%" class="lc_pro">
                                        Value LC
                                    </td>
                                    <td width="5%">
                                        Value FC
                                    </td>
                                    <td width="5%">
                                        Tax
                                    </td>
                                    <td width="5%">
                                        NetValue
                                    </td>

                                    <td width="10%" class="lc_pro">
                                        Job
                                    </td>

                                    <td width="10%" class="fc_pro">
                                        Action
                                    </td>

                                </tr>


                                <tr>
                                   
                                    <td><span id='snum'>1.</span></td>
                                    <td>
                                        @Html.DropDownList("Product", (SelectList)ViewBag.Product, "Select", new { @class = "Product", id = "ProductID_1", @name= "ProductID_1", @style = "width: 100px; height: 21px;" })


                                    </td>
                                    <td><input type='text' id='Description_1' name='Description_1' style="width:110px" /></td>
                                    <td><input type='text' id='Quantity_1' name='Quantity_1' style="width:47px" /></td>
                                    <td>
                                        @Html.DropDownList("Unit", (SelectList)ViewBag.Unit, "Select", new { @class = "Unit", id = "UnitID", @style = "height: 22px" })

                                    </td>
                                    <td><input type='text' id='Rate_1' name='Rate_1' style="width: 60px" /> </td>
                                    <td><input type='text' class="two-decimals" id='RateLC_1' name='RateLC_1' style="width: 60px" /></td>
                                    <td><input type='text' class="two-decimals" id='RateFC_1' name='RateFC_1' style="width: 60px" /></td>
                                    <td><input type='text' id='Value_1' name='Value_1' style="width: 60px" /> </td>
                                    <td><input type='text' class="two-decimals" id='ValueLC_1' name='ValueLC_1' style="width: 65px" /></td>
                                    <td><input type='text' class="two-decimals"  id='ValueFC_1' name='ValueFC_1' style="width: 65px" /></td>
                                    <td><input type='text'  class="two-decimals" id='Tax_1' name='Tax_1' style="width: 60px" /> </td>

                                    <td><input type='text' class="two-decimals" id='NetValue_1' name='NetValue_1' style="width: 60px" /> </td>


                                    <td>

                                        @Html.DropDownList("Job", (SelectList)ViewBag.Job, "Select", new { @class = "Job", id = "JobID_1",@name= "JobID_1", @style = "width: 100px; height: 21px;" })

                                    </td>

                                    <td><button type="button" onclick="deleteRow(this)">-</button>&nbsp;&nbsp;<button type="button" index="1" class="addmore">+</button></td>

                                </tr>




                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>


        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-6">

            </div>


            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;
">
                            <label class="headinglabel">TAX :</label>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                        </div>

                    </div>

                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;border: 1px solid;position: relative;">
                            <div class="lab_dis" style="
    position: absolute;
    top: -11px;
    left: 3px;
    background-color: #fff;
    padding: 2px;
"><label class="headinglabel">Discount :</label></div>
                            <div class="row no-margin" style="padding-top: 10px">
                                <div class="col-md-6">
                                    <label>%</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" value="">
                                </div>
                            </div><div class="row no-margin" style="padding-top: 10px">
                                <div class="col-md-6">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                        </div>

                    </div>


                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;
">
                            <label class="headinglabel">VAT :</label>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                        </div>


                    </div>


                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;
">
                            <label class="headinglabel">Net Total :</label>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                        </div>

                    </div>



                </div>

            </div>
        </div>
        <div class="row no-margin buttons" style="padding-top: 10px">
            <div class="col-md-12 align-right" style="text-align: left">

                @{ if (Model.SalesInvoiceID > 0)
                    {
                        <input type="submit" name="Command" value="Update" class="btn btn-primary btnwidth" />
                    }
                    else
                    {
                        <input type="submit" name="Command" value="Save"  class="btn btn-primary btnwidth" id="btnSave" />
                    }

                }

                &nbsp;
                <a href="@Url.Action("index", "Invoice", new { id = 0 })" class="btn btn-primary btnwidth">Cancel</a>

            </div>
        </div>


    </section>






</div>
