@model TrueBooksMVC.Models.SalesInvoiceVM

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}


<style>
    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
    }

    .discount {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
    }

    .form_invoice {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        border: 1px solid;
        margin-top: 18px;
    }
</style>



<div class="container">
    <section class="content jobform">
        <div class="row no-margin">

            <div class="col-md-4">
                <label class="headinglabel">Invoice No::</label>
                @Html.TextBoxFor(model => model.SalesInvoiceNo, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Invoice Date:</label>
                @Html.TextBoxFor(model => model.SalesInvoiceDate, "{0:dd-MMM-yyyy}", new { id = "", @class = "form-control" })


            </div>
            <div class="col-md-4">
                <label class="headinglabel">Invoice Due Date:</label>
                @Html.TextBoxFor(model => model.DueDate, new { Value = Model.DueDate.Value.ToString("dd-MMM-yyyy"), id = "", @class = "form-control", @readonly = "readonly", @style = "background-color: lightgrey;" })

               
            </div>



        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Client Name:</label>
                @Html.DropDownListFor(model => model.CustomerID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Quotation Number | Date:</label>
                @Html.TextBoxFor(model => model.QuotationID, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Currency:</label>
                @Html.DropDownListFor(model => model.CurrencyID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })
            </div>



        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Delivery Location:</label>
                @Html.DropDownListFor(model => model.locationID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">LPO Number | Date:</label>
                @Html.TextBoxFor(model => model.LPOReference, new { @class = "form-control" })
                </div>
            <div class="col-md-4">
                <label class="headinglabel">Exchange Rate :</label>
                @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control" })
            </div>

            </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-4">
                <label class="headinglabel">Remarks:</label>
                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control txttarget" })
            </div>

            <div class="col-md-4">
                <label class="headinglabel">External Reference No:</label>
                @Html.TextBoxFor(model => model.Reference, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="headinglabel">Salesman :</label>
                @Html.DropDownListFor(model => model.EmployeeID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })
            </div>

        </div>

        <div class="form_invoice">
            <div class="row no-margin">

                <div class="col-md-3">
                    <label class="headinglabel">Product & Service</label>
                    @Html.DropDownListFor(model => model.ProductID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel">Description</label>
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Quantity</label>
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Unit</label>
                    @Html.DropDownListFor(model => model.ItemUnitID, (SelectList)ViewBag.Customer, "Select", new { @class = "form-control" })

                </div>


            </div>
            <div class="row no-margin">

                <div class="col-md-3">
                    <label class="headinglabel">  Rate Type</label>
                    @Html.TextBoxFor(model => model.CustomerRateTypeID, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel">Rate LC</label>
                    @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Rate FC</label>
                    @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Value LC</label>
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                </div>


            </div>

            <div class="row no-margin">

                <div class="col-md-3">
                    <label class="headinglabel">  Value FC</label>
                    <input type="text" class="form-control" id="ValueFc" placeholder=" Enter ValueFc" name="ValueFc">
                </div>
                <div class="col-md-3">
                    <label class="headinglabel">Tax</label>
                    <input type="text" class="form-control" id="Tax" placeholder=" Enter Tax" name="Tax">
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Net Value</label>
                    <input type="text" class="form-control" id="netvalue" placeholder="Enter netvalue" name="netvalue">
                </div>
                <div class="col-md-3">
                    <label class="headinglabel"> Job</label>
                    <select class="form-control" id="job">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>


                </div>
                <input type="button" id="add_charges" value="Add" class="btn btn-primary btnwidth" style="float: right;
    margin-right: 18px;
        margin-top: 10px;
    width: 70px;">

            </div>

            <div class="row no-margin" id="AddCharges" style="padding-top: 10px">
                <div class="col-xs-12 no-padding for-device">
                    <div class="data-table tblbackground" style="width:100%; padding: 27px;">

                        <div class="ico_cla"><span style="font-size:15px;cursor:pointer" onclick="openNav()"><i class="fa fa-expand" aria-hidden="true"></i></span></div>
                        <div class="data" style="overflow:auto;">
                            <table border="1" class="table table-responsive table-bordered smalltablewidth fulltablewidth " id="charges_table">
                                <tr>
                                    <td width="20%">
                                        S.No
                                    </td>
                                    <td width="20%">
                                        Product & Service
                                    </td>
                                    <td width="20%">Description</td>
                                    <td width="1%">
                                        Quantity
                                    </td>
                                    <td width="5%">
                                        Unit
                                    </td>
                                    <td id="rate_type" class="hideinsummary">
                                        Rate Type
                                    </td>
                                    <td id="rate_lc" class="hideinsummary">
                                        Rate(LC)
                                    </td>
                                    <td id="rate_fc" class="hideinsummary">
                                        Rate(FC)
                                    </td>
                                    <td width="8%" class="lc_pro">
                                        <p class="valuelc"> Value LC</p>
                                    </td>
                                    <td id="provin_forgin" class="hideinsummary">
                                        Value FC
                                    </td>
                                    <td id="tax" class="hideinsummary">
                                        Tax
                                    </td>
                                    <td id="sale_curr" class="hideinsummary">
                                        Net Value
                                    </td>
                                    <td id="sale_exrate" class="hideinsummary">
                                        Job
                                    </td>


                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>


        <div class="total_value">

            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="headinglabel" style="display: inline-block;">Tax :</label>
                        <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">
                        <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">
                        <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">
                    </div>
                    <div class="row" style="padding-top:10px">

                        <div class="col-md-10">
                            <div class="row">
                                <div class="discount">
                                    <label class="headinglabel">Discount|Markup:</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">%</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Amount</label>
                                    </div>

                                </div>



                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">
                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">




                            </div>
                        </div>



                    </div>
                    <div class="row" style="padding-top:10px">

                        <div class="col-md-10">
                            <div class="row">
                                <label class="headinglabel" style="display: inline-block;">Net Total:</label>

                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">
                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 23%;">




                            </div>
                        </div>



                    </div>




                </div>



    </section>






</div>
