@model DAL.ProductService

@{
    ViewBag.Title = "Create";
   Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
   }

<style>
    .headinglabel {
        font-size: 16px;
        color: #2b2929 !important;
        display: inline;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 550px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('.txtNum').blur(function () {
            if (isNaN(parseInt($(this).val()))) {
                $(this).val('0.00');
                if (this.id == "TaxPercent") {
                    $(this).val('0');

                }
            } else {
                
                if (this.id == "TaxPercent") {                   

                } else {
                    var amt = parseFloat($(this).val());
                    $(this).val(amt.toFixed(2));
                }
            }
        });

            $("#CountryName").focus();
            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });
            $("#btnsave").click(function () {
                var conname = $("#CountryName").val();
                var concode = $("#CountryCode").val();
             
                if (conname == "") {
                    $("#alert").show();
                    return false;
                }
                else if (concode == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }
            });
        });
    </script>

<section class="content-header">
    <h1 class="headingfont">Product & Service</h1>

</section>
@if (ViewBag.SuccessMsg != null)
    {
      <script type="text/javascript">
          $(document).ready(function () {
              $.notify("@ViewBag.SuccessMsg", "success");
          });
      </script>
    }

<section class="content">

          @using (Html.BeginForm())
          {
              @Html.AntiForgeryToken()
              @Html.ValidationSummary(true)
              <div class="searchdiv">
                 
                  <fieldset>
                      <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
                      <div class="row no-margin">
                          <div class="col-md-4">
                              <label class="required headinglabel">Product</label>
                              @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control txttarget", required = "required" })
                              @Html.ValidationMessageFor(model => model.ProductName)
                          </div>
                          <div class="col-md-4">
                              <label class="required headinglabel">Product Code</label>
                              @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", required = "required" })
                              @Html.ValidationMessageFor(model => model.ProductCode)
                          </div>
                          <div class="col-md-4">
                              <label class="headinglabel">HSN Code</label>
                              @Html.TextBoxFor(model => model.HSNCode, new { @class = "form-control" })
                              @Html.ValidationMessageFor(model => model.HSNCode)
                              <!-- <input type="text" name="country_prefix" class="form-control txttarget">-->
                          </div>
                      </div>

                      <div class="row no-margin" style="padding-top:10px">
                          <div class="col-md-4">
                              <label class="headinglabel">End User Price</label>
                              @Html.TextBoxFor(model => model.EndUser, new { @class = "form-control textright txtNum" })
                              @Html.ValidationMessageFor(model => model.EndUser)
                          </div>

                          <div class="col-md-4">
                              <label class="headinglabel">Reseller Price</label>
                              @Html.TextBoxFor(model => model.Reseller, new { @class = "form-control textright txtNum" })
                              @Html.ValidationMessageFor(model => model.Reseller)
                          </div>
                          <div class="col-md-4">
                              <label class="headinglabel">Special Price</label>
                              @Html.TextBoxFor(model => model.SpecialPrice, new { @class = "form-control textright txtNum" })
                              @Html.ValidationMessageFor(model => model.SpecialPrice)
                              <input id="Status" name="Status" type="hidden" value="1" />

                              <!-- <input type="text" name="country_prefix" class="form-control txttarget">-->
                          </div>
                      </div>
                      <div class="row no-margin" style="padding-top:10px">
                          <div class="col-md-4">
                              <label class="headinglabel">Tax Percent</label>
                              @Html.TextBoxFor(model => model.TaxPercent, new { @class = "form-control textright txtNum" })
                              @Html.ValidationMessageFor(model => model.TaxPercent)


                          </div>
                      </div>


                      <div class="row no-margin" style="padding-top:10px">
                          <div class="col-md-12 butdivs">

                              <input type="submit" value="Save" class="btn btn-primary btnwid" id="btnsave" />

                              &nbsp;
                              <a href='@Url.Action("Index", "ProductService", new { id = 0 })' class="btn btn-danger btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>

                          </div>
                      </div>


                  </fieldset>
                  </div>
                  }
          </section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
