@model IEnumerable<DAL.CountryMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

  <style>
     tfoot {
            display: table-header-group;
     }
        </style>

<script type="text/javascript">
    $(document).ready(function () {



        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });


    });


</script>

<section class="content-header">
    <h1 class="headingfont">Country</h1>

</section>
<div class="m-container">
<p class="indexbtnpadding flex">
    @if (isadd)
    {
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btnwidth" })
    }
</p>
</div>
<section class="content">
     @if (ViewBag.SuccessMsg != null)
    {
     <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.SuccessMsg ", "success");
          });
                                                </script>
    }
<div class="table-responsive tblbackground" style="padding:15px">
<table class="table table-responsive table-bordered tblfont" id="dataTables-example">
    <thead>
        <tr>

            <th>
                @Html.Label("Country Name")
            </th>
            <th>
                @Html.Label("Country Code")
            </th>
            <th>
                @Html.Label("Country Perfix")
            </th>
            <th>Action</th>
        </tr>
</thead>

    <tfoot>
        <tr>

            <th>
                @Html.Label("Country Name")
            </th>
            <th>
                @Html.Label("Country Code")
            </th>
            <th>
                @Html.Label("Country Perfix")
            </th>
            <th style="display:none">Action</th>
        </tr>

    </tfoot>
  

    <tbody>
@foreach (var item in Model) {
        <tr>

            <td class="tdtarget">
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryPrefix)
            </td>
            <td>
                @*  @Html.ActionLink("Edit", "Edit", new { id=item.CountryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryID })*@
                @if (ismodify)
                {
                <a href="@Url.Action("Edit", new { id = item.CountryID })"><i class="fa fa-pencil"></i></a> 
                } |
                @*<a href="@Url.Action("Delete", new { id = item.CountryID })"><i class="fa fa-times"></i></a>*@
                @if (isdelete)
                {
                <a href="#" onclick="Delete(ID=@item.CountryID)"><i class="fa fa-times"></i></a>
                }

            </td>
        </tr>
}
<//tbody>
</table>
</div>
    </section>


<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Country?")) {
            window.location.href = "/Country/DeleteConfirmed/?id=" + ID;
        }
    }
</script>