@model DAL.PurchaseInvoice

@{
    /**/

    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<script src="~/MyJsFiles/PurchaseInvoice.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Content/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.fulltableinline.js"></script>


<style>
    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
    }

    .discount {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
    }

    .form_invoice {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        margin-top: 18px;
    }

    table.fulltable thead th {
        vertical-align: top;
    }

    table.fulltable span.fulltable-filter {
        position: relative;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
    }

    table.fulltable input, table.fulltable select {
        position: relative;
        width: 100% !important;
        font-family: tahoma, arial, helvetica;
        font-size: 9pt;
        clear: both;
        float: left;
        margin: 6pt 0 !important;
    }

        table.fulltable input.checkbox {
            width: 13px !important;
            height: 13px !important;
        }

    table.fulltable th.fulltable-selection-control {
        width: 30px;
    }
    /*table.fulltable tr.fulltable-editing td.fulltable-selection-control input.checkbox {
        display:none;
    }*/
    table.fulltable th.fulltable-selection-control, table.fulltable td.fulltable-selection-control {
        padding: 0 1em;
        width: 30px;
    }

    table.fulltable.fulltable-editable th.fulltable-edition-control {
        width: 70px;
    }

    table.fulltable.fulltable-editable th.fulltable-edition-control, table.fulltable.fulltable-editable td.fulltable-edition-control {
        padding: 0 1em;
    }

    table.fulltable.fulltable-editable input.invalid, table.fulltable.fulltable-editable select.invalid {
        border: solid 1px #FF3333;
        background-color: #FFEEEE;
    }

    table.fulltable thead th a.fulltable-sort {
        font-size: 9px;
        position: relative;
        left: 6px;
        top: 0px;
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    table.fulltable thead th.fulltable-asc a.fulltable-sort-desc {
        display: none !important;
    }

    table.fulltable thead th.fulltable-desc a.fulltable-sort-asc {
        display: none !important;
    }

    table.fulltable.fulltable-editable td.fulltable-edition-control {
        white-space: nowrap;
    }

        table.fulltable.fulltable-editable td.fulltable-edition-control a {
            font-family: 'jquery.fulltable';
            font-size: 16px;
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            top: 1px;
            line-height: 16px;
            margin: 0.5em;
            cursor: pointer;
            text-align: center;
        }

            table.fulltable.fulltable-editable td.fulltable-edition-control a.fulltable-create {
                display: none;
            }

    table.fulltable.fulltable-editable tr.fulltable-creating td.fulltable-edition-control a.fulltable-create {
        display: inline-block !important;
    }

    table.fulltable.fulltable-editable tr.fulltable-creating td.fulltable-edition-control a.fulltable-save {
        display: none !important;
    }

    table.fulltable.fulltable-editable tr.fulltable-editing td.fulltable-edition-control a.fulltable-edit, table.fulltable.fulltable-editable tr.fulltable-editing td.fulltable-edition-control a.fulltable-remove {
        display: none;
    }

    table.fulltable.fulltable-editable tr td.fulltable-edition-control a.fulltable-save, table.fulltable.fulltable-editable tr td.fulltable-edition-control a.fulltable-discard {
        display: none;
    }

    table.fulltable.fulltable-editable tr.fulltable-editing td.fulltable-edition-control a.fulltable-save, table.fulltable.fulltable-editable tr.fulltable-editing td.fulltable-edition-control a.fulltable-discard {
        display: inline-block;
    }

    a.fulltable-create:before {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-right: 10px;
        content: "\f067";
    }

    a.fulltable-discard:before {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-right: 10px;
        content: "\f021";
    }

    a.fulltable-edit:before {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-right: 10px;
        content: "\f040";
    }

    a.fulltable-remove:before {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-right: 10px;
        content: "\f00d";
    }

    a.fulltable-save:before {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-right: 10px;
        content: "\f0c7";
    }

    th.fulltable-selection-control, td.fulltable-selection-control {
        display: none;
    }

    table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        font-size: 10px !important;
        text-align: center;
    }

        table, table th, table td {
            border: 1px solid #d2d6de;
        }

    input.fulltable-filter {
        display: none;
    }

    table th, table td {
        // white-space: nowrap;
        // text-overflow: ellipsis;
        overflow: hidden;
        line-height: 0px;
        height: 0px;
        padding: 4px;
    }
</style>
<script src="~/MyJsFiles/PurchaseInvoice.js"></script>
<script type="text/javascript" src="~/Content/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.fulltableinline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
      
        $("#CurrencyID").change(function () {
            debugger;
            $("#ExchangeRate").val('');
            debugger;
              $.ajax({

                type: "GET",
                url: "/Job/GetExchangeRte",
                datatype: "Json",
                data: { ID: $('#CurrencyID').val() },
                  success: function (data) {
                      debugger;
                      $('#ExchangeRate').val(data);
                }
            });
        });
        


    });

</script>



<section class="content-header">
    <h1 class="headingfont">Purchase Invoice<small></small></h1>

</section>

<div class="container">
    <section class="content jobform">


        @Html.BeginForm() {


        @Html.ValidationSummary(true)
        <input type="hidden" id="BranchLocalCurrencyId" name="BranchLocalCurrencyId" value="@Session["BaseCurrencyId"]" />

        <div class="row no-margin">

            <div class="col-md-6">
                <label class="headinglabel">Invoice No:</label>
                @Html.TextBoxFor(model => model.PurchaseInvoiceNo, new { @class = "form-control", id = "PurchaseInvoiceNo", @readonly = "readonly" })
                <!--<input type="text" class="form-control" id="InvoiceNo" placeholder=" Enter InvoiceNo" name="InvoiceNo" readonly>-->
            </div>
            <div class="col-md-6">
                <label class="headinglabel">Invoice Date:</label>
                @Html.TextBoxFor(model => model.PurchaseInvoiceDate, "{0:dd-MMM-yyyy}", new { @id = "invoicedate", @class = "form-control" })
                @* @Html.TextBoxFor(model => model.PurchaseInvoiceDate, new { Value = Model.PurchaseInvoiceDate.Value.ToString("dd-MMM-yyyy"), id = "invoicedate", @class = "form-control" })*@

                <!--<input type="Date" class="form-control" id="InvoiceDate" placeholder=" EnterInvoiceDate" name="InvoiceDate">-->
            </div>
        </div>
        <div class="row no-margin" style="padding-top: 10px">

            <div class="col-md-6">
                <label class="headinglabel">Supplier:</label>
                @Html.DropDownListFor(model => model.SupplierID, (SelectList)ViewBag.Suplier, "Select Supplier", new { @class = "form-control" })
            </div>

            <div class="col-md-6">
                <label class="headinglabel">External Reference No:</label>
                @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", id = "Reference", required = "required" })
                <!-- <input type="text" class="form-control" id="ExternalReference" placeholder=" Enter ExternalReference" name="ExternalReference">-->
            </div>
        </div>
        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-6">
                <label class="headinglabel">Quotation Number | Date:</label>
                @Html.TextBoxFor(model => model.QuotationID, new { @class = "form-control", id = "QuotationID", required = "required" })
                <!--<input type="text" class="form-control" id="QuotationDate" placeholder=" Enter QuotationDate" name="QuotationDate">-->
            </div>
            <div class="col-md-3">
                <label class="headinglabel">Currency:</label>
                @Html.DropDownListFor(model => model.CurrencyID, (SelectList)ViewBag.Curency, "Select Currency", new { @class = "form-control" })
                <!--<select class="form-control" id="recvd">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>-->
            </div>
            <div class="col-md-3">
                <label class="headinglabel">Exchange Rate :</label>
                @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control", id = "ExchangeRate", required = "required" })
                <!--<input type="text" class="form-control" id="ExchangeRate" placeholder="Enter ExchangeRate" name="ExchangeRate">-->
            </div>


        </div>
        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-6">
                <label class="headinglabel">LPO Number | Date:</label>
                @Html.TextBoxFor(model => model.LPOReference, new { @class = "form-control", id = "LPOReference", required = "required" })
                <!-- <input type="text" class="form-control" id="LPONumber" placeholder=" Enter LPO Number" name="LPONumber">-->
            </div>
            <div class="col-md-6">
                <label class="headinglabel">Good Rcvd By:</label>
                @Html.DropDownListFor(model => model.EmployeeID, (SelectList)ViewBag.Employees, "Select Employees", new { @class = "form-control" })
                <!--<select class="form-control" id="recvd">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>-->
            </div>



        </div>

        <!--------------------------tabledesignstrat----------------------->
        <div class="form_invoice">

            <button type="button" class='delete'>- Delete</button>
            <button type="button" class='addmore'>+ Add More</button>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".delete").on('click', function () {
                        $('.case:checkbox:checked').parents("tr").remove();
                        $('.check_all').prop("checked", false);
                        check();
                        select_all();
                    });
                    var i = 2;
                    $(".addmore").on('click', function () {
                        count = $('table tr').length;
                        var data = "<tr><td><input type='checkbox' class='case'/></td><td><span id='snum" + i + "'>" + count + ".</span></td>";
                        data += "<td><input type='text' id='Description" + i + "' name='Description[]'/></td> <td><input type='text' id='Quantity" + i + "' name='Quantity[]'/></td><td><input type='text' id='unit" + i + "' name='unit[]'/></td><td><input type='text' id='RateType" + i + "' name='RateType[]'/></td><td><input type='text' id='RateLC" + i + "' name='RateLC[]'/></td><td><input type='text' id='RateFC" + i + "' name='RateFC[]'/></td><td><input type='text' id='ValueLC" + i + "' name='ValueLC[]'/></td><td><input type='text' id='ValueFC" + i + "' name='ValueFC[]'/></td><td><input type='text' id='Tax" + i + "' name='Tax[]'/></td><td><input type='text' id='NetValue" + i + "' name='NetValue[]'/></td><td><input type='text' id='AccountHead" + i + "' name='AccountHead[]'/></td><td><input type='text' id='Product" + i + "' name='Product[]'/></td></tr>";
                        $('table').append(data);
                        i++;
                    });
                    $('.addmore').keypress(function (e) {
                        if (e.which == 13) {
                            //e.preventDefault();
                           
                            count = $('table tr').length;
                            var data = "<tr><td><input type='checkbox' class='case'/></td><td><span id='snum" + i + "'>" + count + ".</span></td>";
                            data += "<td><input type='text' id='Description" + i + "' name='Description[]'/></td> <td><input type='text' id='Quantity" + i + "' name='Quantity[]'/></td><td><input type='text' id='unit" + i + "' name='unit[]'/></td><td><input type='text' id='RateType" + i + "' name='RateType[]'/></td><td><input type='text' id='RateLC" + i + "' name='RateLC[]'/></td><td><input type='text' id='RateFC" + i + "' name='RateFC[]'/></td><td><input type='text' id='ValueLC" + i + "' name='ValueLC[]'/></td><td><input type='text' id='ValueFC" + i + "' name='ValueFC[]'/></td><td><input type='text' id='Tax" + i + "' name='Tax[]'/></td><td><input type='text' id='NetValue" + i + "' name='NetValue[]'/></td><td><input type='text' id='AccountHead" + i + "' name='AccountHead[]'/></td><td><input type='text' id='Product" + i + "' name='Product[]'/></td></tr>";
                            $('table').append(data);
                            i++;
                        }
                    });
                    function select_all() {
                        $('input[class=case]:checkbox').each(function () {
                            if ($('input[class=check_all]:checkbox:checked').length == 0) {
                                $(this).prop("checked", false);
                            } else {
                                $(this).prop("checked", true);
                            }
                        });
                    }

                    function check() {
                        obj = $('table tr').find('span');
                        $.each(obj, function (key, value) {
                            id = value.id;
                            $('#' + id).html(key + 1);
                        });
                    }
                });


            </script>

            <div class="row no-margin" id="AddCharges" style="padding-top: 10px">
                <div class="col-xs-12 no-padding for-device">
                    <div class="data-table tblsbackground" style="width:100%; padding: 0px;">


                        <div class="data" style="overflow:auto;">
                            <table border="1" class=" fulltablewidth" id="charges_table">
                                <thead>
                                    <tr>
                                        <th><input class='check_all' type='checkbox' onclick="select_all()" /></th>
                                        <th>S. No</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                        <th>RateType</th>
                                        <th>RateLC</th>
                                        <th>RateFC</th>
                                        <th>ValueLC</th>
                                        <th>ValueFC</th>
                                        <th>Tax</th>
                                        <th>NetValue</th>
                                        <th>AccountHead</th>
                                        <th>Job</th>
                                        <th>Product</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type='checkbox' class='case' /></td>
                                        <td><span id='snum'>1.</span></td>
                                        <td><input type='text' id='Description' name='Description[]' /></td>
                                        <td><input type='text' id='Quantity' name='Quantity[]' /></td>
                                        <td>
                                            <select name="unit[]">
                                                <option value="in">Lit</option>
                                                <option value="de">No</option>

                                            </select>
                                        </td>
                                        <td><input type='text' id='RateType' name='RateType[]' /> </td>
                                        <td><input type='text' id='RateLC' name='RateLC[]' /></td>
                                        <td><input type='text' id='RateFC' name='RateFC[]' /> </td>
                                        <td><input type='text' id='ValueLC' name='ValueLC[]' /> </td>
                                        <td><input type='text' id='ValueFC' name='ValueFC[]' /></td>
                                        <td><input type='text' id='Tax' name='Tax[]' /> </td>
                                        <td><input type='text' id='NetValue' name='NetValue[]' /> </td>
                                        <td><input type='text' id='AccountHead' name='AccountHead[]' /> </td>
                                        <td><input type='text' id='Job' name='Job[]' /> </td>
                                        <td><input type='text' id='Product' name='Product[]' /> </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------tabledesignend----------------------->

        <div class="row no-margin" style="padding-top: 10px">
            <div class="col-md-6">
                <label class="headinglabel">Remarks:</label>
                <textarea class="form-control" rows="5" cols="30" id="Remarks"></textarea>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center">
                            <label class="headinglabel">TAX :</label>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                   width: 100%;">
                        </div>
                    </div>
                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;border: 1px solid;position: relative;">
                            <div class="lab_dis" style="position: absolute; top: -11px; left: 3px; background-color: #fff; padding: 2px;"><label class="headinglabel">Discount :</label></div>
                            <div class="row no-margin" style="padding-top: 10px">
                                <div class="col-md-6">
                                    <label>%</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" value="">
                                </div>
                            </div><div class="row no-margin" style="padding-top: 10px">
                                <div class="col-md-6">
                                    <label>Amount</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                   width: 100%;">
                        </div>
                    </div>
                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center;">
                            <label class="headinglabel">VAT :</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                    width: 100%;">
                        </div>
                    </div>
                    <div class="row no-margin" style="padding-top: 10px">
                        <div class="col-md-3" style="text-align: center">
                            <label class="headinglabel">Net Total :</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                    width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
                   width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin buttons" style="padding-top: 10px">
            <div class="col-md-12 align-right" style="text-align: left">
                @{ if (Model.PurchaseInvoiceID > 0)
                    {
                        <input type="submit" name="Command" value="Update" class="btn btn-primary btnwidth" />
                    }
                    else
                    {
                        <input type="submit" name="Command" value="Save" class="btn btn-primary btnwidth" id="btnSave" />
                    }
                }
                &nbsp;
                <a href="@Url.Action("index", "Invoice", new { id = 0 })" class="btn btn-primary btnwidth">Cancel</a>
                &nbsp;

            </div>
        </div>
        }
    </section>
</div>











