@model DAL.PurchaseInvoice

@{
    /**/

    ViewBag.Title = "Purchase Invoice";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
<script src="~/MyJsFiles/PurchaseInvoice.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>


<style>

    body {
        counter-reset: section;
    }

    i.srno {
        counter-reset: subsection;
    }

        i.srno:before {
            counter-increment: section;
            content: counter(section);
        }

    input, select {
        border-radius: 3px !important;
    }

    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding-top: 14px;
        padding-left: 8px;
        padding-right: 8px;
        width: 96%;
    }

    .discount {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
    }

    .form_invoice {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        margin-top: 18px;
    }


    .smalltablewidth {
        width: 100%;
        margin: 0px !important;
    }

    .fulltablewidth {
        max-width: 1371px;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 1px;
        line-height: 1.42857143;
        vertical-align: middle;
    }

    .no-padding {
        padding: 0px;
    }

    table.dataTable, table.dataTable th, table.dataTable td {
        box-sizing: content-box;
        text-align: center;
        padding: 7px;
        border: 1px solid #eee;
    }
    .delete {
        width: 22px;
    }
</style>
<script src="~/MyJsFiles/PurchaseInvoice.js"></script>





<section class="content-header">
    <h1 class="headingfont">Purchase Invoice<small></small></h1>

</section>

<div class="containers">
    <section class="content jobform">
        <div style="display:none;">
            @Html.DropDownList("Unit", (SelectList)ViewBag.Unit, "Select", new { @class = "Unit_demo_class", id = "Unit", @style = "height: 22px" })
        </div>
        @*<div style="display:none;">
            @Html.DropDownList("AccountHead", (SelectList)ViewBag.AccountHead, "Select", new { @class = "AccountHead_demo_class", @name = "AccountHead", id = "AcHead", @style = "width: 100px; height: 21px;" })
        </div>

        <div style="display:none;">
            @Html.DropDownList("Job", (SelectList)ViewBag.Job, "Select", new { @class = "Job_demo_class", @name = "Job", id = "Job", @style = "width: 100px; height: 21px;" })
        </div>
        <div style="display:none;">
            @Html.DropDownList("Product", (SelectList)ViewBag.Product, "Select", new { @class = "Product_demo_class", @name = "Product", id = "Product", @style = "width: 100px; height: 21px;" })
        </div>
        *@

        @using (@Html.BeginForm())
        {

            @Html.ValidationSummary(true)
            <input type="hidden" id="BranchLocalCurrencyId" name="BranchLocalCurrencyId" value="@Session["BaseCurrencyId"]" />
            @Html.HiddenFor(model => model.PurchaseInvoiceID, new { id = "PurchaseInvoiceID" })
            <div class="row no-margin">
                <div class="col-md-6">
                    <label class="headinglabel">Invoice No:</label>
                    @Html.TextBoxFor(model => model.PurchaseInvoiceNo, new { @class = "form-control", id = "PurchaseInvoiceNo", @readonly = "readonly" })
                </div>
                <div class="col-md-6">
                    <label class="headinglabel">Invoice Date:</label>
                    @Html.TextBoxFor(model => model.PurchaseInvoiceDate, "{0:dd-MMM-yyyy}", new { @id = "invoicedate", @class = "form-control" })
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-6">
                    <label class="headinglabel">Supplier:</label>
                    <input type="text" id="SupplierID" value="" class="form-control" />
                    @Html.HiddenFor(model => model.SupplierID, new { id = "SelectedSupplierID", Name = "SelectedSupplierID" })
                </div>
                <div class="col-md-6">
                    <label class="headinglabel">External Reference No:</label>
                    @Html.TextBoxFor(model => model.Reference, new { @class = "form-control", id = "Reference", required = "required" })
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-6">
                    <label class="headinglabel">Quotation Number | Date:</label>
                    @Html.TextBoxFor(model => model.QuotationNumber, new { @class = "form-control", id = "QuotationNumber", required = "required" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel">Currency:</label>
                    <input type="text" id="CurrencyID" value="" class="form-control" />
                    @Html.HiddenFor(model => model.CurrencyID, new { id = "SelectedCurrencyID", Name = "SelectedCurrencyID" })
                </div>
                <div class="col-md-3">
                    <label class="headinglabel">Exchange Rate :</label>
                    @Html.TextBoxFor(model => model.ExchangeRate, new { @class = "form-control", id = "ExchangeRate", required = "required" })
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-6">
                    <label class="headinglabel">LPO Number | Date:</label>
                    @Html.TextBoxFor(model => model.LPOReference, new { @class = "form-control", id = "LPOReference", required = "required" })
                </div>
                <div class="col-md-6">
                    <label class="headinglabel">Good Rcvd By:</label>
                    <input type="text" id="EmployeeID" value="" class="form-control" />
                    @Html.HiddenFor(model => model.EmployeeID, new { id = "SelectedEmployeeID", Name = "SelectedEmployeeID" })
                </div>
            </div>
            <div class="form_invoice">
                <button type="button" class="addmore topbutton">+ Add More</button>
                <button type="button" class="calc" style="margin:5px;">Calc</button>
                <div class="row no-margin" id="AddCharges" style="padding-top: 10px">
                    <div class="col-xs-12 no-padding for-device">
                        <div class="data-table tblsbackground" style="width:100%; padding: 0px;">
                            <div class="data" style="overflow:auto;">
                                <table border="1" class="table table-responsive table-bordered smalltablewidth fulltablewidth" id="charges_table">
                                    <tr>
                                        <td width="2%">
                                            S. No
                                        </td>
                                        <td width="15%">Description</td>
                                        <td width="1%">
                                            Quantity
                                        </td>
                                        <td width="5%">
                                            Unit
                                        </td>
                                        <td width="4%" class="hideinsummary">
                                            Rate
                                        </td>
                                        <td width="4%" class="hideinsummary">
                                            Rate FC
                                        </td>
                                        <td width="4%" class="hideinsummary">
                                            Value
                                        </td>
                                        <td width="4%" class="lc_pro">
                                            Value FC
                                        </td>
                                        <td width="3%">
                                            Tax%
                                        </td>
                                        <td width="3%">
                                            Tax
                                        </td>
                                        <td width="3%">
                                            NetValue
                                        </td>
                                        <td width="10%">
                                            AccountHead
                                        </td>
                                        <td width="10%" class="lc_pro">
                                            Job
                                        </td>
                                        <td width="15%" class="lc_pro">
                                            Product & Services
                                        </td>
                                        <td width="2%" class="fc_pro">
                                            Action
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span id="snum">1.</span></td>
                                        <td><input type="text" id="Description_1" name="Description_1" style="width:100%;border: none;height: 28px;padding:0px 5px;" /></td>
                                        <td><input type="text" id="Quantity_1" name="Quantity_1" style="width:100%;border: none;height: 28px;padding:0px 5px;" class="QTY" /></td>
                                        <td>
                                            @Html.DropDownList("Unit_1", (SelectList)ViewBag.Unit, "Select", new { @class = "Unit", id = "Unit_1", @name = "Unit_1", @style = "width:100%;border: none;height: 28px;padding:0px;" })
                                        </td>
                                        <td><input type="text" class="two-decimals Rate" id="Rate_1" name="Rate_1" style="width:100%;border: none; text-align:right;height: 28px;padding:0px 5px;" autocomplete="off" /> </td>
                                        <td><input type="text" class="two-decimals RateFC" id="RateFC_1" name="RateFC_1" style="width:100%;border: none;height: 28px;padding:0px 5px;text-align:right" autocomplete="off" /></td>
                                        <td><input type="text" class="two-decimals Value" id="Value_1" name="Value_1" style="width:100%;border: none; height: 28px;padding:0px 5px;text-align:right" readonly="readonly" /> </td>
                                        <td><input type="text" class="two-decimals ValueFC" id="ValueFC_1" name="ValueFC_1" style="width:100%;border: none;height: 28px;padding:0px 5px;text-align:right" readonly="readonly" /></td>
                                        <td><input type="text" class="two-decimals TaxPercent" id="Taxpre_1" name="Taxpre_1" style="width:100%;border: none;height: 28px;padding:0px 5px; text-align:right" /> </td>
                                        <td><input type="text" class="two-decimals Tax" id="Tax_1" name="Tax_1" style="width:100%;border: none;height: 28px;padding:0px 5px; text-align:right" readonly="readonly" /> </td>
                                        <td><input type="text" class="two-decimals NetValue" id="NetValue_1" name="NetValue_1" style="width:100%;height: 28px;padding:0px 5px;border: none; text-align:right" readonly="readonly" /> </td>
                                        <td>
                                            <input type="hidden" id="AcHead_1" name="AcHead_1" value="" />
                                            <input type="text" id="AcHead_1_txt" name="AcHead_1_txt" value="" class="AccountHead" style="width:100%;height: 28px;padding:0px 5px;border: none; " />
                                        </td>
                                        <td>
                                            <input type="text" id="JobID_1_txt" name="JobID_1_txt" value="" class="Job" style="width:100%;height: 28px;padding:0px 5px;border: none;" />
                                            <input type="hidden" id="JobID_1" name="JobID_1" value="" />
                                        </td>
                                        <td>
                                            <input type="text" id="Product_1_txt" name="Product_1_txt" value="" class="Product" style="width:100%;height: 28px;padding:0px 5px;border: none;" />
                                            <input type="hidden" id="Product_1" name="Product_1" value="" />
                                        </td>
                                        <td><button type="button" onclick="deleteRow(this)">-</button>&nbsp;&nbsp;<button type="button" index="1" class="addmore">+</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">
                <div class="col-md-6">
                    <label class="headinglabel">Remarks:</label>
                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control txttarget" })
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center">
                                <label class="headinglabel">Invoice Total :</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="TotalLC" placeholder=" Local Currencey" name="Local" style="display: inline-block;width: 100%;" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="TotalFC" placeholder=" Foreign Currency" name="Foreign" style="display: inline-block; width: 100%;" />
                            </div>
                        </div>
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;">
                                <label class="headinglabel">Add: Tax :</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control Tax_LC" name="Tax_LC" style="display: inline-block; width: 100%;" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control Tax_FC" name="Tax_FC" style="display: inline-block; width: 100%;" />
                            </div>

                        </div>
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;border: 1px solid;position: relative;">
                                <div class="lab_dis" style="position: absolute; top: -11px; left: 3px; background-color: #fff; padding: 2px;"><label class="headinglabel">Discount :</label></div>
                                <div class="row no-margin" style="padding-top: 10px">
                                    <div class="col-md-6" style="padding:0">
                                        <label for="DiscountType1">%&nbsp;<input type="radio" id="DiscountType1" name="DiscountType" value="1" @(Model.DiscountType == 1 || Model.PurchaseInvoiceID == 0 ? "checked='true'" : "" ) /></label>
                                    </div>
                                    <div class="col-md-6" style="padding:0">
                                        <label for="DiscountType2">Amount&nbsp;<input type="radio" id="DiscountType2" value="2" name="DiscountType" @(Model.DiscountType == 2 ? "checked='true'" : "" ) /></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.DiscountValueLC, new { @class = "form-control discountamou two-decimals", id = "discount", name = "discount", style = "display: inline-block;width: 100%;" })

                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.DiscountValueFC, new { @class = "form-control discountamouFC two-decimals", id = "discountFC", name = "discountFC", style = "display: inline-block;width: 100%;" })
                            </div>
                        </div>
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control TotalValueLC" name="TotalValueLC" id="TotalValueLC" style="display: inline-block;width: 100%;" readonly="readonly" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control TotalValueFC" name="TotalValueFC" id="TotalValueFC" style="display: inline-block;width: 100%;" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-margin buttons" style="padding-top: 10px">
                <div class="col-md-12 align-right" style="text-align: left">
                    @{
                        if (Model.PurchaseInvoiceID > 0)
                        {
                            <input type="submit" name="Command" value="Update" class="btn btn-primary btnwidth" />
                        }
                        else
                        {
                            <input type="submit" name="Command" value="Save" class="btn btn-primary btnwidth" id="btnSave" />
                        }
                    }
                    &nbsp;
                    <a href="@Url.Action("index", "purchaseinvoice", new { id = 0 })" class="btn btn-primary btnwidth">Cancel</a>
                    &nbsp;
                </div>
            </div>
        }
    </section>
    </div>



    <script type="text/javascript">
    $(document).ready(function () {
         var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        CalculateValue();

        var autocompleteOptions = {
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/AccountHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                debugger;
                $(this).val(i.item.label);
                var id = $(this).attr('id');
                id = id.replace("_txt", "");
                $("#" + id).val(i.item.AcHeadID);
            }
        }; 

        var JobAutoComplete = {
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/Job',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.JobCode,
                                value: val.JobCode,
                                JobID: val.JobID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                debugger;
                $(this).val(i.item.label);
                var id = $(this).attr('id');
                id = id.replace("_txt", "");
                $("#" + id).val(i.item.JobID);
            }
        }; 
        
        var ProductsAutoComplete = {
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/Products',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        debugger;

                        response($.map(data, function (val, item) {
                            return {
                                label: val.ProductName,
                                value: val.ProductName,
                                ProductID: val.ProductID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                debugger;
                $(this).val(i.item.label);
                var id = $(this).attr('id');
                id = id.replace("_txt", "");
                $("#" + id).val(i.item.ProductID);
            }
        }; 
        $("#invoicedate").datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
            minDate: sd,
            maxDate: ed,
        });

        $(".two-decimals").change(function () {
            this.value = parseFloat(this.value).toFixed(2);
        });
        $("#CurrencyID").change(function () {
            debugger;
            $("#ExchangeRate").val('');
            debugger;
            $.ajax({

                type: "GET",
                url: "/Job/GetExchangeRte",
                datatype: "Json",
                data: { ID: $('#SelectedCurrencyID').val() },
                success: function (data) {
                    debugger;
                    $('#ExchangeRate').val(data);
                    CalculateValue();
                }
            });
        });

        var i = 2;
        var index = 0;
        $("#charges_table").on('click', '.delete', function () {
            $(this).parent().parent().remove();
            CalculateValue();

        });
        function AddNewRow() {
            debugger;
            count = $('#charges_table tr').length;
            index = $(this).attr('index');
            i = count;
            var unitSelect = $('.Unit_demo_class').attr('id', 'Unit_' + i).attr('name', 'Unit_' + i).parent().html().replace("Unit_demo_class", "");
            var AccountHeadSelect = '<input type="hidden" id="AcHead_' + i + '" name="AcHead_' + i + '" value="" /> <input type = "text" id="AcHead_' + i + '_txt" name = "AcHead_' + i + '_txt" value = "" class="AccountHead" style = "width: 100%;border:none; height: 28px;padding:0px 7px;" />';
            var JobSelect = '<input type="hidden" id="JobID_' + i + '" name="JobID_' + i + '" value="" /> <input type = "text" id="JobID_' + i + '_txt" name = "JobID_' + i + '_txt" value = "" class="Job" style = "width: 100%;border:none; height: 28px;padding:0px 7px;" />';
            var ProductSelect = '<input type="hidden" id="Product_' + i + '" name="Product_' + i + '" value="" /> <input type = "text" id="Product_' + i + '_txt" name = "Product_' + i + '_txt" value = "" class="Product" style = "width: 100%;border:none; height: 28px;padding:0px 7px;" />';
           
            var data = "<tr><td><span id='snum" + i + "'>" + count + ".</span></td>";
            data += "<td><input type='text' id='Description_" + i + "' name='Description_" + i + "' style='width: 100%;border:none;height: 28px;padding:0px 7px;'/></td> <td><input type='text' id='Quantity_" + i + "' name='Quantity_" + i + "' style='width: 100%;border:none;height: 28px;padding:0px 7px;' class='QTY'/></td><td>" + unitSelect + "</td><td><input type='text' id='Rate_" + i + "' name='Rate_" + i + "'style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals Rate' autocomplete='off' /></td><td> <input type='text' id='RateFC_" + i + "' name='RateFC_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals RateFC' autocomplete='off'/></td><td><input type='text' id='Value_" + i + "' name='Value_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals Value' readonly='readonly' /></td><td><input type='text' id='ValueFC_" + i + "' name='ValueFC_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals ValueFC' readonly='readonly'/></td><td><input type='text' id='Taxpre_" + i + "' name='Taxpre_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals TaxPercent'/></td><td><input type='text' id='Tax_" + i + "' name='Tax_" + i + "' style='width: 100%;border:none;height: 28px;padding:0px 7px;text-align:right'class='two-decimals Tax' readonly='readonly'/></td><td><input type='text' id='NetValue_" + i + "' name='NetValue_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none; text-align:right' class='two-decimals NetValue' readonly='readonly'/></td><td>" + AccountHeadSelect + "</td><td>" + JobSelect + "</td><td>" + ProductSelect + "</select></td><td><button type='button' class='delete' >-</button>&nbsp;&nbsp;<button type='button' index='" + i + "' class='addmore'>+</button></td></tr>"
            $('#charges_table').append(data);
            $('#AcHead_' + i + '_txt').focus().autocomplete(autocompleteOptions);
            $('#JobID_' + i + '_txt').focus().autocomplete(JobAutoComplete);
            $('#Product_' + i + '_txt').focus().autocomplete(ProductsAutoComplete);
            $('#SupplierID').focus();

            CalculateValue();
        }
        $("#charges_table").on('click', '.addmore', function () {
            AddNewRow();
        });

        $(".topbutton").on('click', function () {
            AddNewRow();
        });



        var InvoiceId = $('#PurchaseInvoiceID').val();
        if (InvoiceId != 0 && InvoiceId != "") {
            $.ajax({
                type: "GET",
                url: "/PurchaseInvoice/GetPurchaseInvoiceDetailsByInvoiceId",
                datatype: "Json",
                data: { InvoiceId: $('#PurchaseInvoiceID').val() },
                success: function (data) {
                    debugger;
                    if (data.length > 0) {
                        $('#charges_table tr:nth-child(2)').remove();
                    }

                    count = $('#charges_table tr').length;
                    index = $(this).attr('index');
                    i = count;

                    var vInvoiceDetails = JSON.parse('[]');
                    for (var i = 0; i < data.length; i++) {
                        var InvoiceDetailsObj = data[i];
                        var InvoiceDetailStr = JSON.stringify(InvoiceDetailsObj);
                        vInvoiceDetails.push(InvoiceDetailStr);
                        var unitSelect = $('.Unit_demo_class').attr('id', 'Unit_' + i).attr('name', 'Unit_' + i).parent().html().replace("Unit_demo_class", "");
                        var AccountHeadSelect = '<input type="hidden" id="AcHead_' + i + '" name="AcHead_' + i + '" value="' + InvoiceDetailsObj.AcHeadID + '" /> <input type = "text" id="AcHead_' + i + '_txt" name = "AcHead_' + i + '_txt" value = "' + InvoiceDetailsObj.AcHead + '" class="AccountHead ui-autocomplete-input" style = "width: 100%;border:none;height: 28px;padding:0px 7px;" />';
                        var JobSelect = '<input type="hidden" id="JobID_' + i + '" name="JobID_' + i + '" value="' + InvoiceDetailsObj.JobID + '" /> <input type = "text" id="JobID_' + i + '_txt" name = "JobID_' + i + '_txt" value = "' + InvoiceDetailsObj.JobCode + '" class="Job" style = "width: 100%;border:none;height: 28px;padding:0px 7px;" />';
                        var ProductSelect = '<input type="hidden" id="Product_' + i + '" name="Product_' + i + '" value="' + InvoiceDetailsObj.ProductID + '" /> <input type = "text" id="Product_' + i + '_txt" name = "Product_' + i + '_txt" value = "' + InvoiceDetailsObj.ProductName + '" class="Product" style = "width: 100%;border:none;height: 28px;padding:0px 7px;" />';
                        var tdata = "<tr><td><span id='snum" + i + "'>" + count + ".</span></td>";
                        tdata += "<td><input type='text' id='Description_" + i + "' name='Description_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none' value='" + InvoiceDetailsObj.Description + "' /></td ><td><input type='text' id='Quantity_" + i + "' name='Quantity_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none' value='" + InvoiceDetailsObj.Quantity + "' class='QTY' /></td><td>" + unitSelect + "</td><td><input type='text' id='Rate_" + i + "' name='Rate_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.Rate + "' class='two-decimals Rate' autocomplete='off' /></td><td><input type='text' id='RateFC_" + i + "' name='RateFC_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.RateFC + "' class='two-decimals RateFC'  autocomplete='off' /></td><td><input type='text' id='Value_" + i + "' name='Value_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.Value + "' class='two-decimals Value' readonly='readonly' /></td><td><input type='text' id='ValueFC_" + i + "' name='ValueFC_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.ValueFC + "' class='two-decimals ValueFC' readonly='readonly' /></td><td><input type='text' id='Taxpre_" + i + "' name='Taxpre_" + i + "' value='" + InvoiceDetailsObj.Taxprec + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' class='two-decimals TaxPercent'/></td><td><input type='text' id='Tax_" + i + "' name='Tax_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.Tax + "' class='two-decimals Tax' readonly='readonly' /></td><td><input type='text' id='NetValue_" + i + "' name='NetValue_" + i + "' style='width: 100%;height: 28px;padding:0px 7px;border:none;text-align:right' value='" + InvoiceDetailsObj.NetValue + "' class='two-decimals Netvalue' readonly='readonly' /></td><td>" + AccountHeadSelect + "</td><td>" + JobSelect + "</td><td>" + ProductSelect + "</td><td><button type='button' class='delete' >-</button>&nbsp;&nbsp;<button type='button' index='" + i + "' class='addmore'>+</button></td></tr > "
                        $('#charges_table').append(tdata);
                        $('#charges_table').find('#Unit_' + i).val(InvoiceDetailsObj.ItemUnitID);
                        $('#charges_table').find('#AcHead_' + i).val(InvoiceDetailsObj.AcHeadID);
                        $('#charges_table').find('#Job_' + i).val(InvoiceDetailsObj.JobID);
                        $('#charges_table').find('#Product_' + i).val(InvoiceDetailsObj.ProductID);
                        $('#AcHead_' + i + '_txt').focus().autocomplete(autocompleteOptions);
                        $('#JobID_' + i + '_txt').focus().autocomplete(JobAutoComplete);
                        $('#Product_' + i + '_txt').focus().autocomplete(ProductsAutoComplete);
                        $('#invoicedate').focus();

                    }
                    CalculateValue();
                }

            });
        }

        $("#charges_table").on('change', '.two-decimals', function () {
            var decValue = parseFloat(this.value).toFixed(2);
            if (isNaN(parseInt(decValue))) {
                decValue = '0.00';
            }
            this.value = decValue;
        });

        $('#CurrencyID').on('change', function () {
            CalculateValue();
        });

        $('#ExchangeRate').on('change', function () {
            CalculateValue();
        });

        $('#charges_table').on('change', '.Tax', function () {
            CalculateValue();
        });

        $("#charges_table").on('change', '.Rate', function () {
            CalculateValue();
        });

        $("#charges_table").on('change', '.RateFC', function () {
            CalculateValue();
        });

        $('#charges_table').on('change', '.discountamou', function () {
            CalculateValue();
        });

        $('#charges_table').on('change', '.TaxPercent', function () {
            CalculateValue();
        });

        $('input[name=DiscountType]').on('change', function () {
            CalculateValue();
        });

        $('#discount').on('change', function () {
            CalculateValue();
        });

        $('#discountFC').on('change', function () {
            CalculateValue();
        });

        $('.QTY').on('change', function () {
            CalculateValue();
        });
        $('.calc').on('click', function () {
            CalculateValue();
        });

        function CalculateValue() {
            debugger;
            var trCount = $('#charges_table tr').length;
            var TotalCount = 0;
            var TotalCounts = 0;
            var rates = $('.Rate').val();
            trCount = trCount + 1;
            var NetValue = 0;
            var Tax = 0;
            var CurrencyId = $('#SelectedCurrencyID').val();
            var BranchLocalCurrencyId = $('#BranchLocalCurrencyId').val();
            var TaxPercentage = 5;

            var ExRate = $('#ExchangeRate').val();
            for (i = 2; i < trCount; i++) {

                var Qty = $('#charges_table tr:nth-child(' + i + ')');
                Qty = $(Qty).find('.QTY').val();
                if (isNaN(parseInt(Qty))) {
                    Qty = 0;
                }
                var Rate = $('#charges_table tr:nth-child(' + i + ')').find('.Rate').val();
                var RateFC = $('#charges_table tr:nth-child(' + i + ')').find('.RateFC').val();
                TaxPercentage = $('#charges_table tr:nth-child(' + i + ')').find('.TaxPercent').val();

                if (isNaN(parseInt(TaxPercentage))) {
                    TaxPercentage = 0;
                    $('#charges_table tr:nth-child(' + i + ')').find('.TaxPercent').val('0.00');
                }
                if (isNaN(parseInt(Rate))) {
                    Rate = 0;
                }
                if (isNaN(parseInt(RateFC))) {
                    RateFC = 0;
                }
                debugger;
                if (BranchLocalCurrencyId == CurrencyId) {
                    $('.RateFC').attr('readonly', 'readonly');
                    $('.RateFC').val('0.00');      
                    $('.Rate').removeAttr('readonly');
                    $('.Rate').val(ExRate);
                    TotalValue = (Qty * Rate);
                    TotalValue = parseFloat(TotalValue).toFixed(2);
                    $('#charges_table tr:nth-child(' + i + ')').find('.Value').val(TotalValue);
                    $('#charges_table tr:nth-child(' + i + ')').find('.ValueFC').val('0.00');
                    Tax = parseFloat(TotalValue * (TaxPercentage / 100)).toFixed(2);
                    if (isNaN(parseInt(Tax))) {
                        Tax = 0.00;
                        $('#charges_table tr:nth-child(' + i + ')').find('.Tax').val('0.00');
                    } else {
                        $('#charges_table tr:nth-child(' + i + ')').find('.Tax').val(Tax);
                    }

                    NetValue = (Qty * Rate) + Tax;
                    NetValue = parseFloat(NetValue).toFixed(2);
                    TotalCount = TotalCount + NetValue;
                    $('#charges_table tr:nth-child(' + i + ')').find('.NetValue').val(NetValue);
                    $("#TotalFC").attr('readonly', 'readonly');
                    $(".Tax_FC").attr('readonly', 'readonly');
                    $("#discountFC").attr('readonly', 'readonly');
                    $("#TotalLC").removeAttr('readonly');
                    $(".Tax_LC").removeAttr('readonly');
                    $("#discountLC").removeAttr('readonly');
                }
                else {
                    $('.Rate').attr('readonly', 'readonly');
                    $('.RateFC').removeAttr('readonly');
                    $('.Rate').val('0.00');
                    $('.RateFC').val(ExRate);
                    TotalValue = (Qty * RateFC);
                    TotalValue = parseFloat(TotalValue).toFixed(2);
                    $('#charges_table tr:nth-child(' + i + ')').find('.ValueFC').val(TotalValue);
                    TotalValue = parseFloat(TotalValue * ExRate).toFixed(2);
                    $('#charges_table tr:nth-child(' + i + ')').find('.Value').val('0.00');
                    Tax = parseFloat(TotalValue * (TaxPercentage / 100)).toFixed(2);
                    if (isNaN(parseInt(Tax))) {
                        Tax = 0.00;
                        $('#charges_table tr:nth-child(' + i + ')').find('.Tax').val('0.00');
                    } else {
                        $('#charges_table tr:nth-child(' + i + ')').find('.Tax').val(Tax);
                    }

                    NetValue = parseFloat(TotalValue) + parseFloat(Tax);
                    NetValue = parseFloat(NetValue).toFixed(2);
                    $('#charges_table tr:nth-child(' + i + ')').find('.NetValue').val(NetValue);
                    $("#TotalLC").attr('readonly', 'readonly');
                    $(".Tax_LC").attr('readonly', 'readonly');
                    $("#discountLC").attr('readonly', 'readonly');
                    $("#TotalFC").removeAttr('readonly');
                    $(".Tax_FC").removeAttr('readonly');
                    $("#discountFC").removeAttr('readonly');
                }
            }
            var TotalValue = 0;
            $('.Value').each(function (i, obj) {
                var Value = $(this).val();
                if (isNaN(parseInt(Value))) {
                    Value = 0;
                }
                TotalValue = TotalValue + parseFloat(Value);
            });


            $('#TotalLC').val(parseFloat(TotalValue).toFixed(2));

            var TotalValueFC = 0;
            $('.ValueFC').each(function (i, obj) {
                var ValueFc = $(this).val();
                if (isNaN(parseInt(ValueFc))) {
                    ValueFc = 0;
                }
                TotalValueFC = TotalValueFC + parseFloat(ValueFc);
            });

            $('#TotalFC').val(parseFloat(TotalValueFC).toFixed(2));

            var TotalTaxLC = 0;
            $('.Tax').each(function (i, obj) {
                var ValueTax_LC = $(this).val();
                if (isNaN(parseInt(ValueTax_LC))) {
                    ValueTax_LC = 0;
                }
                TotalTaxLC = TotalTaxLC + parseFloat(ValueTax_LC);
            });
            $('.Tax_LC').val(parseFloat(TotalTaxLC).toFixed(2));
            $('.Tax_FC').val('0.00');

            TotalTaxFC = 0;

            var DiscountType = $('input[name=DiscountType]:checked').val();
            var discount = $('#discount').val();
            var discountFC = $('#discountFC').val();
            if (isNaN(parseInt(discount))) {
                discount = 0;
            }
            if (isNaN(parseInt(discountFC))) {
                discountFC = 0;
            }
            if (DiscountType == 1) {
                TotalValueLC = TotalValue + TotalTaxLC - (TotalValue * (discount / 100));
                TotalValueFC = TotalValueFC + TotalTaxFC - (TotalValueFC * (discountFC / 100));
                $('#TotalValueLC').val(parseFloat(TotalValueLC).toFixed(2));
                $('#TotalValueFC').val(parseFloat(TotalValueFC).toFixed(2));
            } else {
                $('#TotalValueLC').val(parseFloat((TotalValue + TotalTaxLC) - discount).toFixed(2));
                $('#TotalValueFC').val(parseFloat(TotalValueFC - discountFC).toFixed(2));
            }
        }

        $("#SupplierID").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/Supplier',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.SupplierName,
                                value: val.SupplierName,
                                SupplierID: val.SupplierID
                            }
                        }))
                    }
                })
            },minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#SupplierID").val(i.item.label);
                $('#SelectedSupplierID').val(i.item.SupplierID);
            }
        });
        debugger;
        var SelectedSupplierID = $('#SelectedSupplierID').val();
        var PurchaseInvoiceID = $('#PurchaseInvoiceID').val();
        if ((isNaN(SelectedSupplierID) == false) && PurchaseInvoiceID != 0) {
            $.ajax({
                url: '/AutoComplete/SupplierById',
                datatype: "json",
                data: {
                    Id: SelectedSupplierID
                },
                success: function (data) {
                    debugger;
                    $.each(data, function (index, element) {
                        $('#SupplierID').val(element.SupplierName);
                    });
                }
            });
        }

        $("#CurrencyID").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/Currency',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.CurrencyName,
                                value: val.CurrencyName,
                                CurrencyID: val.CurrencyID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#CurrencyID").val(i.item.label);
                $('#SelectedCurrencyID').val(i.item.CurrencyID);
            }
        });
        var SelectedCurrencyID = $('#SelectedCurrencyID').val();
        if ((isNaN(SelectedCurrencyID) == false) && PurchaseInvoiceID != 0) {
            $.ajax({
                url: '/AutoComplete/CurrencyById',
                datatype: "json",
                data: {
                    Id: SelectedCurrencyID
                },
                success: function (data) {
                    debugger;
                    $.each(data, function (index, element) {
                        $('#CurrencyID').val(element.CurrencyName);
                    });
                }
            });
        }


        $("#EmployeeID").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/Employee',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.EmployeeName,
                                value: val.EmployeeName,
                                EmployeeID: val.EmployeeID                              
                           
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                $("#EmployeeID").val(i.item.label);
                $('#SelectedEmployeeID').val(i.item.EmployeeID);
                $('#Description_1').focus();
            }
        });
        var SelectedEmployeeID = $('#SelectedEmployeeID').val();
        if ((isNaN(SelectedEmployeeID) == false) && PurchaseInvoiceID != 0) {
            $.ajax({
                url: '/AutoComplete/EmployeeById',
                datatype: "json",
                data: {
                    Id: SelectedCurrencyID
                },
                success: function (data) {
                    debugger;
                    $.each(data, function (index, element) {
                        $('#EmployeeID').val(element.EmployeeName);
                    });
                }
            });
        }


        $(".AccountHead").autocomplete(
            {
            source: function (request, response) {
                $.ajax({
                    url: '/AutoComplete/AccountHead',
                    datatype: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (val, item) {
                            return {
                                label: val.AcHead,
                                value: val.AcHead,
                                AcHeadID: val.AcHeadID
                            }
                        }))
                    }
                })
            }, minLength: 1,
            select: function (e, i) {
                e.preventDefault();
                debugger;
                $(this).val(i.item.label);
                var id = $(this).attr('id');
                id = id.replace("_txt", "");
                $("#" + id).val(i.item.AcHeadID);
            }
            });

        $('.Job').focus().autocomplete(JobAutoComplete);
        $('.Product').focus().autocomplete(ProductsAutoComplete);
        $('#invoicedate').focus();

    });

    </script>
    <link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />





