@model DAL.PurchaseInvoice


@{
    /**/

    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
    .jobform {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
    }

    .discount {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
    }

    .form_invoice {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 25px;
        margin-bottom: 27px;
        padding: 20px;
        margin-top: 18px;
    }
</style>
<script src="~/MyJsFiles/PurchaseInvoice.js"></script>

<section class="content-header">
    <h1 class="headingfont">Purchase Invoice<small></small></h1>

</section>

<div class="container">
    <section class="content jobform">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <input type="hidden" id="PurchaseInvoiceId" name="PurchaseInvoiceId" value="@Session["PurchaseInvoiceId"]" />
            <div class="row no-margin">

                <div class="col-md-6">
                    <label class="headinglabel">Invoice No::</label>
                    <input type="text" class="form-control" id="InvoiceNo" placeholder=" Enter InvoiceNo" name="InvoiceNo">
                </div>
                <div class="col-md-6">
                    <label class="headinglabel">Invoice Date:</label>
                    <input type="Date" class="form-control" id="InvoiceDate" placeholder=" EnterInvoiceDate" name="InvoiceDate">
                </div>
            </div>
            <div class="row no-margin" style="padding-top: 10px">

                <div class="col-md-6">
                    <label class="headinglabel">Supplier:</label>
                    @Html.DropDownListFor(model => model.SupplierID, new SelectList(ViewBag.Suplier, "SupplierID", "SupplierName"), "Select Suplier", new { @class = "form-control" })


                    <div class="col-md-6">
                        <label class="headinglabel">External Reference No:</label>
                        <input type="text" class="form-control" id="ExternalReference" placeholder=" Enter ExternalReference" name="ExternalReference">
                    </div>
                </div>
                <div class="row no-margin" style="padding-top: 10px">
                    <div class="col-md-6">
                        <label class="headinglabel">Quotation Number | Date:</label>
                        <input type="text" class="form-control" id="QuotationDate" placeholder=" Enter QuotationDate" name="QuotationDate">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel">Currency:</label>
                        @Html.DropDownListFor(model => model.CurrencyID, new SelectList(ViewBag.Currency, "CurrencyID", "CurrencyName"), "Select Currency", new { @class = "form-control" })

                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel">Exchange Rate :</label>
                        <input type="text" class="form-control" id="ExchangeRate" placeholder="Enter ExchangeRate" name="ExchangeRate">
                    </div>


                </div>
                <div class="row no-margin" style="padding-top: 10px">
                    <div class="col-md-6">
                        <label class="headinglabel">LPO Number | Date:</label>
                        <input type="text" class="form-control" id="LPONumber" placeholder=" Enter LPO Number" name="LPONumber">
                    </div>
                    <div class="col-md-6">
                        <label class="headinglabel">Good Rcvd By:</label>
                        <select class="form-control" id="recvd">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>



                </div>
            </div>
            <div class="form_invoice">
                <div class="row no-margin">


                    <div class="col-md-3">
                        <label class="headinglabel">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder=" Enter Service" name="Service">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Quantity</label>
                        <input type="text" class="form-control" id="Quantity" placeholder="Enter Quantity" name="Quantity">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Unit</label>
                        @Html.DropDownListFor(model => model.ItemUnitID, new SelectList(ViewBag.Unit, "ItemUnitID", "ItemUnit"), "Select Unit", new { @class = "form-control" })


                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel">  Rate Type</label>
                        <input type="text" class="form-control" id="RateType" placeholder=" Enter RateType" name="RateType">
                    </div>

                </div>
                <div class="row no-margin" style="padding-top: 10px">


                    <div class="col-md-3">
                        <label class="headinglabel">Rate LC</label>
                        <input type="text" class="form-control" id="RateLC" placeholder=" Enter Rate LC" name="RateLC">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Rate FC</label>
                        <input type="text" class="form-control" id="Rate FC" placeholder="Enter Rate FC" name="RateFC">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Value LC</label>
                        <input type="text" class="form-control" id="ValueLC" placeholder="Enter ValueLC" name="ValueLC">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel">  Value FC</label>
                        <input type="text" class="form-control" id="ValueFc" placeholder=" Enter ValueFc" name="ValueFc">
                    </div>

                </div>

                <div class="row no-margin" style="padding-top: 10px">


                    <div class="col-md-3">
                        <label class="headinglabel">Tax</label>
                        <input type="text" class="form-control" id="Tax" placeholder=" Enter Tax" name="Tax">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Net Value</label>
                        <input type="text" class="form-control" id="netvalue" placeholder="Enter netvalue" name="netvalue">
                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel"> Job</label>
                        <select class="form-control" id="job">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>


                    </div>
                    <div class="col-md-3">
                        <label class="headinglabel">Product & Service</label>
                        <select class="form-control" id="Service">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                    </div>
                    <input type="button" id="add_charges" value="Add" class="btn btn-primary btnwidth" style="float: right;
    margin-right: 18px;
        margin-top: 10px;
    width: 70px;">

                </div>

                <div class="row no-margin" id="AddCharges" style="padding-top: 10px">
                    <div class="col-xs-12 no-padding for-device">
                        <div class="data-table tblbackground" style="width:100%; padding: 27px;">


                            <div class="data" style="overflow:auto;">
                                <table border="1" class="table table-responsive table-bordered smalltablewidth fulltablewidth " id="charges_table">
                                    <thead>
                                        <tr>


                                            <td width="20%">Description</td>
                                            <td width="1%">
                                                Quantity
                                            </td>
                                            <td width="5%">
                                                Unit
                                            </td>
                                            <td id="rate_type" class="summary">
                                                Rate Type
                                            </td>
                                            <td id="rate_lc" class="summary">
                                                Rate(LC)
                                            </td>
                                            <td id="rate_fc" class="summary">
                                                Rate(FC)
                                            </td>
                                            <td width="8%" class="lc_pro">
                                                <p class="valuelc"> Value LC</p>
                                            </td>
                                            <td id="provin_forgin" class="summary">
                                                Value FC
                                            </td>
                                            <td id="tax" class="summary">
                                                Tax
                                            </td>
                                            <td id="sale_curr" class="summary">
                                                Net Value
                                            </td>
                                            <td id="sale_exrate" class="summary">
                                                Job
                                            </td>

                                            <td width="20%">
                                                Product & Service
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="displayArea"></tbody>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </div>




            <div class="row no-margin" style="padding-top: 10px">

                <div class="col-md-6">
                    <label class="headinglabel">Remarks:</label>
                    <textarea class="form-control" rows="5" id="Remarks"></textarea>
                </div>


                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;
">
                                <label class="headinglabel">TAX :</label>
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                            </div>

                        </div>

                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;border: 1px solid;position: relative;">
                                <div class="lab_dis" style="position: absolute; top: -11px; left: 3px; background-color: #fff; padding: 2px;"><label class="headinglabel">Discount :</label></div>
                                <div class="row no-margin" style="padding-top: 10px">
                                    <div class="col-md-6">
                                        <label>%</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" value="">
                                    </div>
                                </div><div class="row no-margin" style="padding-top: 10px">
                                    <div class="col-md-6">
                                        <label>Amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                            </div>

                        </div>


                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;
">
                                <label class="headinglabel">VAT :</label>
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                            </div>


                        </div>


                        <div class="row no-margin" style="padding-top: 10px">
                            <div class="col-md-3" style="text-align: center;
">
                                <label class="headinglabel">Net Total :</label>
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
    width: 100%;">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder=" Enter ExternalReference" name="ExternalReference" style="display: inline-block;
   width: 100%;">
                            </div>

                        </div>



                    </div>

                </div>
            </div>


        }

    </section>
</div>











