@model DAL.JobType

@{
    ViewBag.Title = "Edit";
     Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
     }

<script type="text/javascript">
        $(document).ready(function () {
            $("#JobDescription").focus();

            $(":text").css({ "border-radius": "5px" });
            $("select").css({ "border-radius": "5px" });


            $("#btnsave").click(function () {
                var jobdes = $("#JobDescription").val();
                var jobmod = $("#JobModeID option:selected").val();

                if (jobdes == "") {
                    $("#alert").show();
                    return false;
                }
                else if (jobmod == "") {
                    $("#alert").show();
                    return false;
                }
                else {
                    $("#alert").hide();
                    return true;
                }


            });

        });
    </script>
<section class="content-header">
    <h1 class="headingfont">Job Type</h1>
</section>

<section class="content-header">
    
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
          <div id="alert" style="color:red;display:none;margin-left:10px;">*Please fill mandatory fields</div>
    <fieldset>
     

      
            <div class="row no-margin"> 
              
             <div class="col-md-3">
                 @Html.HiddenFor(model=>model.JobTypeID)
                        <label class="required headinglabel">Job Description</label>
                       @Html.TextBoxFor(model => model.JobDescription,new { @class = "form-control txttarget" })
                      @Html.ValidationMessageFor(model => model.JobDescription)
                          
            </div>

            <div class="col-md-3">
                           <label class="required headinglabel">Job Mode</label>
                      @Html.DropDownListFor(model => model.JobModeID, (IEnumerable<SelectListItem>)ViewBag.JobMode,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JobModeID)
                            
            </div>

            <div class="col-md-3">
                           <label class="headinglabel">Remarks</label>
                       @Html.TextBoxFor(model => model.Remarks,new { @class = "form-control txttarget" })
                        @Html.ValidationMessageFor(model => model.Remarks)
                            
            </div>

          </div>
       
            <div class="row no-margin" style="padding-top:10px"> 
              
             <div class="col-md-3">
                           <label class="headinglabel">Job Type Code</label>
                       @Html.TextBoxFor(model => model.JobCode,new { @class = "form-control" })
                      @Html.ValidationMessageFor(model => model.JobCode)
                    
             </div>
             <div class="col-md-3">
                        <label class="headinglabel">Job Prefix</label>
                        @Html.TextBoxFor(model => model.JobPrefix,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JobPrefix)
      

            
            </div>
           <div class="col-md-3" style="padding-top:15px">
                       @Html.CheckBox("StatusSea", new { @name = "StatusSea"}) &nbsp <label class="headinglabel">Status Sea</label>
                         @Html.ValidationMessageFor(model => model.StatusSea)
                         
           </div>
          </div>
      
       
        <div class="row no-margin" style="padding-top:10px">
                        <div class="col-md-12">
                           
                                <input type="submit"  value="Update"  class="btn btn-primary btnwidth" id="btnsave" />
                               
                            &nbsp; 
                                           <a href='@Url.Action("Index", "JobType", new { id = 0 })' class="btn btn-primary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                           
                        </div>
                    </div>
    </fieldset>
}
</section>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
