@model List<TrueBooksMVC.Models.CloseJobVm>
    @{
        ViewBag.Title = "JobDetails";
        //Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
        var isadd = true;
        var isdelete = true;
        var ismodify = true;
        var isprint = true;
        string path = Request.Url.AbsolutePath.ToLower();

        if (Convert.ToInt32(Session["UserRoleID"]) > 1)
        {
            TrueBooksMVC.Models.SourceMastersModel obj = new TrueBooksMVC.Models.SourceMastersModel();
            isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]),path);
            ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
            isprint = obj.GetPrintpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        }
    }

    <style>
        tfoot {
            display: table-header-group;
        }

        #tbl1 tr {
            height: 35px;
        }

        .panel-body {
            padding: 0px;
            border: unset;
        }

        .panel.panel-danger {
            border: unset;
            margin-bottom: 9px;
            box-shadow: unset;
        }
        /* job close*/
        a#closejob, a#openjob {
            padding: 6px 12px !important;
            color: #fff;
            font-size: 16px !important;
            font-weight: 600;
            margin: 10px 0 0 10px;
            border-radius: 5px !important;
            height: 40px;
            font-weight: normal !Important
        }

        .box-body .form-group {
            box-shadow: unset !important;
        }

        .form-group {
            /* margin-bottom: 15px; */
            margin: 0 auto;
            width: 100%;
            max-width: 1170px;
            background-color: #fff;
            box-shadow: 0 0 10px #f1f1f1 !important;
            padding: 4px 20px;
            border-radius: 19px;
        }

        .nav-tabs {
            border-bottom: unset;
        }

        .searlabe {
            font-size: 16px !important;
            padding: 7px;
        }

        .searinpu {
            padding: 9px;
        }

        table {
            width: auto;
            margin: auto;
        }
    </style>

    @*
    <script src="@Url.Content(" ~/Scripts/angular.js")"></script>
    <script src="@Url.Content(" ~/MyJsFiles/CustomerRecieptDetails.js")"></script>*@
    <script src="~/Content/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        var vIsClosedJObLoaded = false;
        $(document).ready(function () {
            $("#frmdate").css("border-radius", "5px");
            $("#todate").css("border-radius", "5px");
            $("#frmdate1").css("border-radius", "5px");
            $("#todate1").css("border-radius", "5px");


            var startdate = '@Session["FyearFrom"].ToString()';
            var enddate = '@Session["FyearTo"].ToString()';
            var sd = new Date(startdate);
            var ed = new Date(enddate);


            $("#frmdate").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });

            $("#frmdate1").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });

            $("#todate1").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });

            $("#todate").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true, changeMonth: true,
                minDate: sd,
                maxDate: ed,

            });

            $("#frmdate").val(GetCurrentDate());
            $("#todate").val(GetEndDate());
            $("#frmdate1").val(GetCurrentDate());
            $("#todate1").val(GetEndDate());


            function GetCurrentDate() {
                var m_names = new Array("Jan", "Feb", "Mar",
                    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                    "Oct", "Nov", "Dec");

                var startdate = '@Session["FyearFrom"].ToString()';
                var enddate = '@Session["FyearTo"].ToString()';
                var sd = new Date(startdate);
                var ed = new Date(enddate);

                var str = new Date(startdate);


                var d = new Date();
                var curr_date = sd.getDate();
                var curr_month = sd.getMonth();
                var curr_year = str.getFullYear();
                return ("01" + "-" + m_names[curr_month] + "-" + str.getFullYear());


            }

            function GetEndDate() {
                var m_names = new Array("Jan", "Feb", "Mar",
                    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
                    "Oct", "Nov", "Dec");

                var startdate = '@Session["FyearFrom"].ToString()';
                var enddate = '@Session["FyearTo"].ToString()';
                var sd = new Date(startdate);
                var ed = new Date(enddate);

                var str = new Date(enddate);


                var d = new Date();
                var curr_date = ed.getDate();
                var curr_month = ed.getMonth();
                var curr_year = str.getFullYear();
                return (d.getDate() + "-" + m_names[curr_month] + "-" + str.getFullYear());


            }

            var act = $('.nav-tabs .active').text()

            $("#closeCheck").change(function () {
                if ($("#closeCheck").is(':checked')) {
                    var jobid = $(this).parent("td").parent("tr").find("#JobID").val();
                }
            });
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnsearch").click(function () {


                var frm = new Date($('#frmdate').val());
                var dto = new Date($('#todate').val());
                var fYearID = '@Session["fyearid"].ToString()';
                showLoading();
                $.ajax({
                    url: "@Url.Action("GetopenByDate", "Job")",

                    type: "GET",
                    data: { fdate: $('#frmdate').val(), tdate: $('#todate').val(), FYearID: fYearID },
                    dataType: "json",
                    success: function (data) {
                        hideLoading();
                        $("#contents").html(data.view);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
            });
            $("#btnsearch1").click(function () {


                var frm = new Date($('#frmdate1').val());
                var dto = new Date($('#todate1').val());
                var fYearID = '@Session["fyearid"].ToString()';
                showLoading();
                $.ajax({
                    url: "@Url.Action("GetclouseByDate", "Job")",

                    type: "GET",
                    data: { fdate: $('#frmdate1').val(), tdate: $('#todate1').val(), FYearID: fYearID },
                    dataType: "json",
                    success: function (data) {
                        hideLoading();
                        $("#contents1").html(data.view);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
            });
            $("#tabs-2").show();
            $("#tabs-3").hide();
            //  $("#clousejobdate").hide();
            //  $("#openejobdate").show();
            $("#openjob").click(function () {
                // $("#openejobdate").show();
                // $("#clousejobdate").hide();
                $("#tabs-2").show();
                $("#tabs-3").hide();
            });
            $("#closejob").click(function () {

                // $("#clousejobdate").show();
                // $("#openejobdate").hide();
                $("#tabs-2").hide();
                $("#tabs-3").show();
            });

        });
    </script>

    <div ng-app="MyApp" ng-controller="MyController">
        <div class="" dir="ltr" id="main" runat="server">
            <section class="content-header">
                <h1 class="headingfont">Closed Job<small></small></h1>

            </section>

            <section class="content">



                <div id="divgridJob" class="row" runat="server" style="min-height: 250px; padding: 5px; margin-right: auto; margin-left: auto;">
                    <div class="col-md-12">
                        <div class=" box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    @if (@ViewBag.SuccessMsg != null)
                                    {
                                    <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                        <div id="divFinalMsg">@ViewBag.SuccessMsg</div>
                                    </div>
                                    }
                                    @using (@Html.BeginForm())
                                    {
                                    <ul class="nav nav-tabs" style="display:flex; justify-content:flex-end; padding-right:15px;">
                                        <li><a href="#tabs-1" id="openjob" class="btn btn-primary">Open Job</a></li>

                                        <li><a href="#tabs-2" id="closejob" class="btn btn-primary">Close Job</a></li>
                                    </ul>@*
                                    @*  <div class="row" id="tabs-1">
                                        <div class="tab-content">
                                            <div class="panel panel-danger">
                                                <div class="panel-body">
                                                    <div class="dataTable_wrapper tblbackground">
                                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Job Code</th>
                                                                    <th>Job Date</th>
                                                                    <th>Job Type</th>
                                                                    <th>Shipper</th>
                                                                    <th>Consignee</th>
                                                                    <th>Customer</th>
                                                                    <th>Invoice No</th>
                                                                    <th>Invoice Date</th>

                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th style="display:none"></th>
                                                                    <th>Job Code</th>
                                                                    <th>Job Date</th>
                                                                    <th>Job Type</th>
                                                                    <th>Shipper</th>
                                                                    <th>Consignee</th>
                                                                    <th>Customer</th>
                                                                    <th>Invoice No</th>
                                                                    <th>Invoice Date</th>

                                                                </tr>
                                                            </tfoot>


                                                            <tbody>

                                                                @for (int i = 0; i < Model.Count(); i++)
                                                                {
                                                                <tr>
                                                                    <td>@Html.CheckBoxFor(model => Model[i].IsSelected, new { @class = "chkselected" })</td>
                                                                    @Html.HiddenFor(model => Model[i].JobID)
                                                                    @Html.HiddenFor(model => Model[i].JobCode)
                                                                    @Html.HiddenFor(model => Model[i].JobDescription)
                                                                    @Html.HiddenFor(model => Model[i].Shipper)
                                                                    @Html.HiddenFor(model => Model[i].Consignee)
                                                                    @Html.HiddenFor(model => Model[i].Customer)
                                                                    @Html.HiddenFor(model => Model[i].InvoiceNo)
                                                                    @Html.HiddenFor(model => Model[i].InvoiceDate)

                                                                    <td>@Html.DisplayFor(modelItem => Model[i].JobCode)</td>
                                                                    <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(Model[i].JobDate)</td>
                                                                    <td class="tdtarget">@Html.DisplayFor(modelItem => Model[i].JobDescription)</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Shipper,new { @title = "Doit contenir ... spécial" })
                                                                        <span title="@item.Shipper">@item.Shipper.ToString().Substring(0,2)</span>
                                                                        <span title="@Model[i].Shipper" class="tdtarget">@Model[i].Shipper</span>
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Consignee) <span title="@Model[i].Consignee" class="tdtarget">@Model[i].Consignee</span></td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Customer) <span title="@Model[i].Customer" class="tdtarget">@Model[i].Customer</span></td>
                                                                    <td class="textright">
                                                                        @if (Model[i].InvoiceNo > 0)
                                                                        {@Html.DisplayFor(modelItem => Model[i].InvoiceNo)  }
                                                                    </td>
                                                                    <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(Model[i].InvoiceDate) </td>

                                                                </tr>


                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div style="padding-top:10px">
                                                        <input type="submit" class="btn btn-primary" value="Save" />

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@

                                    <div class="rows" id="tabs-2">
                                        <div class="tab-content">
                                            <div class="panel panel-danger">
                                                <div class="search_tabs_right">
                                                    <table class="searchtab form_block" id="tbl1">
                                                        <tr id="openejobdate">
                                                            <td class="searlabe">
                                                                <label>From Date</label>
                                                            </td>
                                                            <td class="searinpu">
                                                                <input type="text" id="frmdate" class="form-control" />
                                                            </td>
                                                            <td class="searlabe">
                                                                <label>To Date</label>
                                                            </td>
                                                            <td class="searinpu">
                                                                <input type="text" id="todate" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwidt form-control" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="panel-body" id="contents">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="rows" id="tabs-3">
                                        <div class="tab-content">
                                            <div class="panel panel-danger">
                                                <div class="search_tabs_right">
                                                    <table class="searchtab" id="tbl2">
                                                        <tr id="clousejobdate">
                                                            <td class="searlabe">
                                                                <b>From Date</b>
                                                            </td>
                                                            <td class="searinpu">
                                                                <input type="text" id="frmdate1" class="form-control" />
                                                            </td>
                                                            <td class="searlabe">
                                                                <b>To Date</b>
                                                            </td>
                                                            <td class="searinpu">
                                                                <input type="text" id="todate1" class="form-control" />
                                                            </td>
                                                            <td>
                                                                <input type="button" value="Search" id="btnsearch1" class="btn btn-primary btnwidt form-control" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="panel-body" id="contents1">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>


