@model List<TrueBooksMVC.Models.CloseJobVm>
@{
    ViewBag.Title = "JobDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<style>
    tfoot {
        display: table-header-group;
    }

    #tbl1 tr {
        height: 35px;
    }

   
</style>

@*<script src="@Url.Content("~/Scripts/angular.js")"></script>
<script src="@Url.Content("~/MyJsFiles/CustomerRecieptDetails.js")"></script>*@
<script src="~/Content/jquery.dataTables.min.js"></script>

<script type="text/javascript">

   // var vIsClosedJObLoaded = false;
    $(document).ready(function () {
        $("#frmdate").css("border-radius", "5px");
        $("#todate").css("border-radius", "5px");
        
       
 var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                minDate: sd,
                maxDate: ed,
            });

            function GetCurrentDate() {
                var m_names = new Array("Jan", "Feb", "Mar",
        "Apr", "May", "Jun", "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec");

                var d = new Date();
                var curr_date = d.getDate();
                var curr_month = d.getMonth();
                var curr_year = d.getFullYear();
                return (curr_date + "-" + m_names[curr_month]
                + "-" + curr_year);
            }

            function GetStartDate() {
                var m_names = new Array("Jan", "Feb", "Mar",
        "Apr", "May", "Jun", "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec");

                var d = new Date("@Session["FyearFrom"].ToString()");
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            return (curr_date + "-" + m_names[curr_month]
            + "-" + curr_year);
        }

        $("#txtfrom").val(GetStartDate());
        $("#txtto").val(GetCurrentDate());

        //$(":text").css({ "border-radius": "5px" });
        //$("select").css({ "border-radius": "5px" });

        $("#btnsearch").click(function () {
            var from = $("#txtfrom").val();
            var dto = $("#txtto").val();
            
            if (from == "") {
                $("#error").show();
                return false;
            }
            else if (dto == "") {
                $("#error").show();
                return false;
            }
            else {
                $("#error").hide();

               
                //showLoading();
                window.location = '/Job/NewOpenJob/?frmdate=' + from + '&tdate=' + dto;
               @* $.ajax({
                    url: "@Url.Action("NewOpenJob", "Job")",
                  data: {frmdate: from, tdate: dto },
                  type: "GET",
                   
                  success: function (data) {
                      hideLoading();
                      $("#dataTables-example").html(data);
                     
                  },
                  error: function () {
                      alert("Failed! Please try again.");
                  }
              });*@
          }
        });
      

    });


        var act= $('.nav-tabs .active').text()
  
        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" style="width:100%" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        //$("#tabs-1").click(function () {
        //    $("#tabs-2").hide();
        //    ShowOPenJOB();

        //});

        //$("#tabs-2").click(function () {
        //    $("#tabs-1").hide();
        //    ShowClosedJOB();

        //});


        $("#closeCheck").change(function () {
            if ($("#closeCheck").is(':checked')) {
                var jobid = $(this).parent("td").parent("tr").find("#JobID").val();
            }
        });
    });


    //function ShowOPenJOB() {
    //    $("#tabs-1").show();
    //    $("#tabs-2").hide();
    //}

    //function ShowClosedJOB() {

    //    alert("Hi");
    //    showLoading();
    //    //if (!vIsClosedJObLoaded) {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Job/GetClosedJob",
    //        data: {},
    //        success: function (data) {
    //            hideLoading();
    //            vIsClosedJObLoaded = true;
    //            $("#tabs-1").hide();
    //            $("#contents").html(data.closedjoblist);
    //            //$(this).attr("href", "#tabs-2");
    //            $("#tabs-2").show();

    //        }
    //    });
    //}
   
  
</script>



<div ng-app="MyApp" ng-controller="MyController">
    <div class="" dir="ltr" id="main" runat="server">
        <section class="content-header">
            <h1 class="headingfont">Open Job<small></small></h1>

        </section>

        <section class="content">

           
              
            <div id="divgridJob" class="row" runat="server" style="min-height: 250px; padding: 5px; margin-right: auto; margin-left: auto;">
                <div class="col-md-12">
                    <div class=" box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                @if (@ViewBag.SuccessMsg != null)
                                {
                                    <div class="alert alert-success alert-dismissable" role="alert" id="divMsgHeader" ng-show="SuccessAlert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4><i class="icon fa fa-check"></i>Alert!</h4>
                                        <div id="divFinalMsg">@ViewBag.SuccessMsg</div>
                                    </div>
                                }
                                @using (@Html.BeginForm())
                                { 
                                    @*<ul class="nav nav-tabs">
                                        <li><a href="#tabs-1" style="background-color: white" id="openjob">Open Job</a></li>
                                           
                                         <li><a href="#tabs-2" style="background-color: white" id="closejob">Close Job</a></li>
                                    </ul>*@
                                    
                                    
    <div class="row no-margin">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <label class="headinglabel required">From:</label>

                </div>
                <div class="col-md-9">
                    <input type="text" class="datepicker form-control" id="txtfrom" />
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="row">
                <div class="col-md-3">
                    <label class="headinglabel required">To:</label>

                </div>
                <div class="col-md-9">
                    <input type="text" class="datepicker form-control" id="txtto" />
                </div>
            </div>

        </div>
    </div>

    <div class="row no-margin" style="padding-top: 20px">
      

      
           <div class="col-md-3">
               
            <button id="btnsearch" class="btn btn-primary sidebar-toggle" data-toggle="offcanvas">Search</button>
              @*  <button id="btnprint" class="btn btn-primary btnwidth" onclick="printDiv('result');">Print</button>*@
        </div>
       
    </div>
                                    <div class="row" id="openJob">
                                        <div class="tab-content">
                                            <div class="panel panel-danger">
                                                <div class="panel-body">
                                                     <div class="dataTable_wrapper tblbackground">
                                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Job Code</th>
                                                                <th>Job Date</th>
                                                                <th>Job Type</th>
                                                                <th>Shipper</th>
                                                                <th>Consignee</th>
                                                                <th>Customer</th>
                                                                <th>Invoice No</th>
                                                                <th>Invoice Date</th>

                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                             <th style="display:none"></th>
                                                                <th>Job Code</th>
                                                                <th>Job Date</th>
                                                                <th>Job Type</th>
                                                                <th>Shipper</th>
                                                                <th>Consignee</th>
                                                                <th>Customer</th>
                                                                <th>Invoice No</th>
                                                                <th>Invoice Date</th>

                                                            </tr>
                                                        </tfoot>


                                                        <tbody>

                                                            @for (int i = 0; i < Model.Count(); i++)
                                                            {
                                                                <tr>
                                                                    <td>@Html.CheckBoxFor(model => Model[i].IsSelected, new { @class = "chkselected" })</td>
                                                                    @Html.HiddenFor(model => Model[i].JobID)
                                                                    @Html.HiddenFor(model => Model[i].JobCode)
                                                                    @Html.HiddenFor(model => Model[i].JobDescription)
                                                                    @Html.HiddenFor(model => Model[i].Shipper)
                                                                    @Html.HiddenFor(model => Model[i].Consignee)
                                                                    @Html.HiddenFor(model => Model[i].Customer)
                                                                    @Html.HiddenFor(model => Model[i].InvoiceNo)
                                                                    @Html.HiddenFor(model => Model[i].InvoiceDate)

                                                                    <td>@Html.DisplayFor(modelItem => Model[i].JobCode)</td>
                                                                    <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(Model[i].JobDate)</td>
                                                                    <td class="tdtarget">@Html.DisplayFor(modelItem => Model[i].JobDescription)</td>
                                                                    <td>@Html.DisplayFor(modelItem => Model[i].Shipper,new { @title = "Doit contenir ... spécial" })
                                                                            <span title="@Model[i].Shipper">
                                                                        
                                                                            @if (Model[i].Shipper != null) {
                                                                                @Model[i].Shipper.ToString().Substring(0, 2)
                                                                            }
                                                                        
                                                                        </span>
                                                                        <span title="@Model[i].Shipper" class="tdtarget">@Model[i].Shipper</span>
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem => Model[i].Consignee) <span title="@Model[i].Consignee" class="tdtarget">@Model[i].Consignee</span></td>
                                                                    <td>@Html.DisplayFor(modelItem => Model[i].Customer) <span title="@Model[i].Customer" class="tdtarget">@Model[i].Customer</span></td>
                                                                    <td class="textright">@if (Model[i].InvoiceNo > 0)
                                                                                          {@Html.DisplayFor(modelItem => Model[i].InvoiceNo)  }
                                                                    </td>
                                                                    <td>@TrueBooksMVC.Models.CommanFunctions.GetShortDateFormat(Model[i].InvoiceDate) </td>

                                                                </tr>
                                                          
                                                            
                                                            }

                                                        </tbody>
                                                    </table>
                                                         </div>
                                                    <div style="padding-top:10px">
                                                        <input type="submit" class="btn btn-primary" value="Save" />

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>@*
                                    <div class="row" id="tabs-2">
                                        <div class="tab-content">
                                            <div class="panel panel-danger">
                                                <div class="panel-body" id="contents">

                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>*@
                                    @*
                              
                                         <div class="row" id="tabs-2">
                                        <div class="tab-content">
                     <div class="panel panel-danger" style="padding-top:20px;">
                  
                <table border="0" style="margin-left: 40px;" id="tbl1">
                    <tr id="openejobdate">
                        <td style="color: black; padding-right: 10px"><b>From Date</b>
                        </td>
                        <td style="padding-right: 10px">
                            <input type="text" id="frmdate" class="form-control" />
                        </td>
                        <td style="color: black; padding-right: 10px"><b>To Date</b>
                        </td>
                        <td style="padding-right: 10px">
                            <input type="text" id="todate" class="form-control" />
                        </td>
                        <td>
                            <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwidth" />
                        </td>
                    </tr>
                </table>
            
               <div class="panel-body" id="contents">
                          </div>
                   </div>
               </div>
                                        
              </div>
                                    
                                    
                 <div class="row" id="tabs-3">
                           <div class="tab-content">
                     <div class="panel panel-danger" style="padding-top:20px;">
              <table border="0" style="margin-left: 40px;" id="tbl2">
                    <tr id="clousejobdate">
                        <td style="color: black; padding-right: 10px"><b>From Date</b>
                        </td>
                        <td style="padding-right: 10px">
                            <input type="text" id="frmdate1" class="form-control" />
                        </td>
                        <td style="color: black; padding-right: 10px"><b>To Date</b>
                        </td>
                        <td style="padding-right: 10px">
                            <input type="text" id="todate1" class="form-control" />
                        </td>
                        <td>
                            <input type="button" value="Search" id="btnsearch1" class="btn btn-primary btnwidth" />
                        </td>
                    </tr>
                </table>
               <div class="panel-body" id="contents1">
                          </div>
                   </div>
               </div>
                                        
              </div>*@
                                   
                                }
                            </div>

                        </div>
                 </div>
                </div>

            </div>
        </section>

    </div>
</div>


